.aside-block
  padding 24px
  border 1px solid #F5D8DB
  &--form
    @media (max-width point-l - 1)
      order 2
  &--details
    display flex
    flex-direction column
    align-items flex-start
    p
      max-width 212px
      margin-bottom auto
  &__title
    font-size 18px
    font-weight bold
    line-height 22px
    & + .page-subsection
      margin-top var(--margin-top)
    & + .par
    & + p
      margin-top 12px
  &__subtitle
    margin-bottom 12px
    font-size 15px
    font-weight bold
  &__list
    font-size 12px
    line-height 12px
    li + li
      margin-top 12px
  & .manager-block
    grid-gap 8px 10px
    grid-template-columns 100px auto
    grid-template-rows min-content 1fr min-content 
    &__title
      font-size 15px
      line-height 18px
    &__info
      font-size 13px
      line-height 15px
      align-self start
