mixin listItem(settings = {})
  -
    const item = Math.floor(Math.random() * 7 + 1)
    const className = !settings.similar ? cellClasses({ l: 2, s: 4, xs: 6 }) : ''
  .catalog-list__item(class= className)&attributes(attributes)
    if item === 1
      .item-tile
        span.item-tile__favorites.helper.js-favorites.fv-8839156(data-title='В избранное' data-id='8839156')
          span 
        .item-tile__labels
          span.item-tile__label.item-tile_label_new Новинка
        .item-tile__pic
          .item-tile__pic-scroll
            .small-item-scroll
              a.small-item-scroll__item.js-open-product.js-open-product-24956_200(href='/gold/?item=24956_200' onclick='' data-url='/gold/24956_200.html')
                img.loaded(data-src='/upload/resize_cache/iblock/a71/2a0syboo96hvnk11sq3i3e4hs8vsc1u0/156_156_1/24956_200.jpg' width='156' height='156' alt='' loading='lazy' src='/images/24956_200.jpg' data-was-processed='true' style='display: block;')
          a.item-tile__zoom.js-modal-link(data-type='ajax' onclick='' href='/local/ajax/photo-ajax.php?id=8839156' data-toggle='modal' data-target='#modal-gallery' data-remote='false' data-pic-id='0') 
        .item-tile__category(data-mh='item-category' style='height: 14px;')
        a.item-tile__name.js-open-product.js-open-product-24956_200(href='/gold/?item=24956_200' onclick='' data-url='/gold/24956_200.html' data-mh='item-name' style='height: 16px;')
          | 24956-200            
          span.in-cart-ico.js-item-in-cart-8839156.helper(style='display: none;' data-title='В корзине')
            span.in-cart-ico__svg
        .item-tile__price-line
          strong.item-tile__price
            | 15 290 Р
          .items-count.helper(data-title='Малое количество')
            span.items-count__item 
            span.items-count__item 
            span.items-count__item 
        .item-tile__btn
          a.btn-type2.btn-type2_full.js-open-product.js-open-product-24956_200(href='/gold/?item=24956_200' onclick='' data-url='/gold/24956_200.html')
            span.btn-type2__text Подробнее
    if item === 2
      .item-tile
        span.item-tile__favorites.helper.js-favorites.fv-8839170(data-title='В избранное' data-id='8839170')
          span 
        .item-tile__labels
          span.item-tile__label.item-tile_label_new Новинка
        .item-tile__pic
          .item-tile__pic-scroll
            .small-item-scroll
              a.small-item-scroll__item.js-open-product.js-open-product-14923_200(href='/gold/?item=14923_200' onclick='' data-url='/gold/14923_200.html')
                img.loaded(data-src='/upload/resize_cache/iblock/846/jsf9tmzmqved4ikbwzndsiu4mvzm9kx2/156_156_1/14923_200.jpg' width='156' height='156' alt='' loading='lazy' src='/images/14923_200.jpg' data-was-processed='true' style='display: block;')
          a.item-tile__zoom.js-modal-link(data-type='ajax' onclick='' href='/local/ajax/photo-ajax.php?id=8839170' data-toggle='modal' data-target='#modal-gallery' data-remote='false' data-pic-id='0') 
        .item-tile__category(data-mh='item-category' style='height: 14px;') Гарнитур
        a.item-tile__name.js-open-product.js-open-product-14923_200(href='/gold/?item=14923_200' onclick='' data-url='/gold/14923_200.html' data-mh='item-name' style='height: 16px;')
          | 14923-200            
          span.in-cart-ico.js-item-in-cart-8839170.helper(style='display: none;' data-title='В корзине')
            span.in-cart-ico__svg
        .item-tile__price-line
          strong.item-tile__price
            | 10 575 Р
          .items-count.helper(data-title='Отсутствует, заказ только в производство')
            span.items-count__item 
            span.items-count__item 
            span.items-count__item 
        .item-tile__btn
          a.btn-type2.btn-type2_full.js-open-product.js-open-product-14923_200(href='/gold/?item=14923_200' onclick='' data-url='/gold/14923_200.html')
            span.btn-type2__text Подробнее
    if item === 3
      .item-tile
        span.item-tile__favorites.helper.js-favorites.fv-8839171(data-title='В избранное' data-id='8839171')
          span 
        .item-tile__labels
          span.item-tile__label.item-tile_label_new Новинка
        .item-tile__pic
          .item-tile__pic-scroll
            .small-item-scroll
              a.small-item-scroll__item.js-open-product.js-open-product-24923_200(href='/gold/?item=24923_200' onclick='' data-url='/gold/24923_200.html')
                img.loaded(data-src='/upload/resize_cache/iblock/8b5/1osno4bg0gkodatcrwiwrg76p3v650f6/156_156_1/24923_200.jpg' width='156' height='156' alt='' loading='lazy' src='/images/24923_200.jpg' data-was-processed='true' style='display: block;')
          a.item-tile__zoom.js-modal-link(data-type='ajax' onclick='' href='/local/ajax/photo-ajax.php?id=8839171' data-toggle='modal' data-target='#modal-gallery' data-remote='false' data-pic-id='0') 
        .item-tile__category(data-mh='item-category' style='height: 14px;') Гарнитур
        a.item-tile__name.js-open-product.js-open-product-24923_200(href='/gold/?item=24923_200' onclick='' data-url='/gold/24923_200.html' data-mh='item-name' style='height: 16px;')
          | 24923-200            
          span.in-cart-ico.js-item-in-cart-8839171.helper(style='display: none;' data-title='В корзине')
            span.in-cart-ico__svg
        .item-tile__price-line
          strong.item-tile__price
            | 25 315 Р
          .items-count.helper(data-title='Малое количество')
            span.items-count__item 
            span.items-count__item 
            span.items-count__item 
        .item-tile__btn
          a.btn-type2.btn-type2_full.js-open-product.js-open-product-24923_200(href='/gold/?item=24923_200' onclick='' data-url='/gold/24923_200.html')
            span.btn-type2__text Подробнее
    if item === 4
      .item-tile
        span.item-tile__favorites.helper.js-favorites.fv-8839155(data-title='В избранное' data-id='8839155')
          span 
        .item-tile__labels
          span.item-tile__label.item-tile_label_new Новинка
        .item-tile__pic
          .item-tile__pic-scroll
            .small-item-scroll
              a.small-item-scroll__item.js-open-product.js-open-product-24956_100(href='/gold/?item=24956_100' onclick='' data-url='/gold/24956_100.html')
                img.loaded(data-src='/upload/resize_cache/iblock/cdf/t8m7kfwuauc6xjay7ujisx8to3g3eh4c/156_156_1/24956_100.jpg' width='156' height='156' alt='' loading='lazy' src='/images/24956_100.jpg' data-was-processed='true' style='display: block;')
          a.item-tile__zoom.js-modal-link(data-type='ajax' onclick='' href='/local/ajax/photo-ajax.php?id=8839155' data-toggle='modal' data-target='#modal-gallery' data-remote='false' data-pic-id='0') 
        .item-tile__category(data-mh='item-category' style='height: 14px;')
        a.item-tile__name.js-open-product.js-open-product-24956_100(href='/gold/?item=24956_100' onclick='' data-url='/gold/24956_100.html' data-mh='item-name' style='height: 16px;')
          | 24956-100            
          span.in-cart-ico.js-item-in-cart-8839155.helper(style='display: none;' data-title='В корзине')
            span.in-cart-ico__svg
        .item-tile__price-line
          strong.item-tile__price
            | 15 290 Р
          .items-count.helper(data-title='Малое количество')
            span.items-count__item 
            span.items-count__item 
            span.items-count__item 
        .item-tile__btn
          a.btn-type2.btn-type2_full.js-open-product.js-open-product-24956_100(href='/gold/?item=24956_100' onclick='' data-url='/gold/24956_100.html')
            span.btn-type2__text Подробнее
    if item === 5
      .item-tile
        span.item-tile__favorites.helper.js-favorites.fv-8839168(data-title='В избранное' data-id='8839168')
          span 
        .item-tile__labels
          span.item-tile__label.item-tile_label_new Новинка
        .item-tile__pic
          .item-tile__pic-scroll
            .small-item-scroll
              a.small-item-scroll__item.js-open-product.js-open-product-24933_200(href='/gold/?item=24933_200' onclick='' data-url='/gold/24933_200.html')
                img.loaded(data-src='/upload/resize_cache/iblock/fd7/h61xhl9jjt84560u1sinqiv0noapf490/156_156_1/24933_200.jpg' width='156' height='156' alt='' loading='lazy' src='/images/24933_200.jpg' data-was-processed='true' style='display: block;')
          a.item-tile__zoom.js-modal-link(data-type='ajax' onclick='' href='/local/ajax/photo-ajax.php?id=8839168' data-toggle='modal' data-target='#modal-gallery' data-remote='false' data-pic-id='0') 
        .item-tile__category(data-mh='item-category' style='height: 14px;')
        a.item-tile__name.js-open-product.js-open-product-24933_200(href='/gold/?item=24933_200' onclick='' data-url='/gold/24933_200.html' data-mh='item-name' style='height: 16px;')
          | 24933-200            
          span.in-cart-ico.js-item-in-cart-8839168.helper(style='display: none;' data-title='В корзине')
            span.in-cart-ico__svg
        .item-tile__price-line
          strong.item-tile__price
            | 88 435 Р
          .items-count.helper(data-title='Отсутствует, заказ только в производство')
            span.items-count__item 
            span.items-count__item 
            span.items-count__item 
        .item-tile__btn
          a.btn-type2.btn-type2_full.js-open-product.js-open-product-24933_200(href='/gold/?item=24933_200' onclick='' data-url='/gold/24933_200.html')
            span.btn-type2__text Подробнее
    if item === 6
      .item-tile
        span.item-tile__favorites.helper.js-favorites.fv-8839182(data-title='В избранное' data-id='8839182')
          span 
        .item-tile__labels
          span.item-tile__label.item-tile__label_hit Хит
          span.item-tile__label.item-tile_label_new Новинка
        .item-tile__pic
          .item-tile__pic-scroll
            .small-item-scroll
              a.small-item-scroll__item.js-open-product.js-open-product-24929_102(href='/gold/?item=24929_102' onclick='' data-url='/gold/24929_102.html')
                img.loaded(data-src='/upload/resize_cache/iblock/f95/726j91xu0klvdl41z5hpodzadg2v0ozy/156_156_1/24929_102.jpg' width='156' height='156' alt='' loading='lazy' style='display: block;' src='/images/24929_102.jpg' data-was-processed='true')
          a.item-tile__zoom.js-modal-link(data-type='ajax' onclick='' href='/local/ajax/photo-ajax.php?id=8839182' data-toggle='modal' data-target='#modal-gallery' data-remote='false' data-pic-id='0') 
        .item-tile__category(data-mh='item-category' style='height: 14px;') Гарнитур
        a.item-tile__name.js-open-product.js-open-product-24929_102(href='/gold/?item=24929_102' onclick='' data-url='/gold/24929_102.html' data-mh='item-name' style='height: 16px;')
          | 24929-102            
          span.in-cart-ico.js-item-in-cart-8839182.helper(style='display: none;' data-title='В корзине')
            span.in-cart-ico__svg
        .item-tile__price-line
          strong.item-tile__price
            | 29 655 Р
          .items-count.helper(data-title='Малое количество')
            span.items-count__item 
            span.items-count__item 
            span.items-count__item 
        .item-tile__btn
          a.btn-type2.btn-type2_full.js-open-product.js-open-product-24929_102(href='/gold/?item=24929_102' onclick='' data-url='/gold/24929_102.html')
            span.btn-type2__text Подробнее
    if item === 7
      .item-tile
        span.item-tile__favorites.helper.js-favorites.fv-8754997(data-title='В избранное' data-id='8754997')
          span 
        .item-tile__labels
          span.item-tile__label.item-tile__label_discount 45%
        .item-tile__pic
          .item-tile__pic-scroll
            .small-item-scroll
              a.small-item-scroll__item.js-open-product.js-open-product-14681_102(href='/gold/?item=14681_102' onclick='' data-url='/gold/14681_102.html')
                img.loaded(data-src='/upload/resize_cache/iblock/ee9/zdd5czjkcx4s1ms9jh88z8voe3m0ckap/156_156_1/14681_102.jpg' width='156' height='156' alt='' loading='lazy' src='/images/14681_102.jpg' data-was-processed='true' style='display: block;')
          a.item-tile__zoom.js-modal-link(data-type='ajax' onclick='' href='/local/ajax/photo-ajax.php?id=8754997' data-toggle='modal' data-target='#modal-gallery' data-remote='false' data-pic-id='0') 
        .item-tile__category(data-mh='item-category' style='height: 14px;') Гарнитур
        a.item-tile__name.js-open-product.js-open-product-14681_102(href='/gold/?item=14681_102' onclick='' data-url='/gold/14681_102.html' data-mh='item-name' style='height: 16px;')
          | 14681-102            
          span.in-cart-ico.js-item-in-cart-8754997.helper(style='display: none;' data-title='В корзине')
            span.in-cart-ico__svg
        .item-tile__price-line
          strong.item-tile__price
            | 17 229 Р
            span.item-tile__price-old 31 325
          .items-count.helper(data-title='Среднее количество')
            span.items-count__item 
            span.items-count__item 
            span.items-count__item 
        .item-tile__btn
          a.btn-type2.btn-type2_full.js-open-product.js-open-product-14681_102(href='/gold/?item=14681_102' onclick='' data-url='/gold/14681_102.html')
            span.btn-type2__text Подробнее
