.main-layout
  display grid
  grid-gap var(--gap-column)
  grid-template-areas 'banner-main' 'banner-small-1' 'banner-small-2' 'manager' 'banner-wide' 'indicators' 'marketing' 'package' 'conditions'
  grid-template-columns 1fr
  grid-template-rows minmax(242px, auto) repeat(3, minmax(165px, auto)) minmax(242px, auto) repeat(4, minmax(240px, auto))
  @media (min-width point-s)
    grid-template-areas 'banner-small-1 banner-main' 'banner-small-2 banner-main' 'manager banner-main' 'banner-wide banner-wide' 'indicators marketing' 'package conditions'
    grid-template-columns repeat(2, 1fr)
    grid-template-rows repeat(3, minmax(165px, auto)) minmax(242px, auto) repeat(2, minmax(240px, auto))
  @media (min-width point-l)
    grid-template-areas 'banner-small-1 banner-main banner-main' 'banner-small-2 banner-main banner-main' 'manager banner-main banner-main' 'banner-wide banner-wide indicators' 'marketing package conditions'
    grid-template-columns repeat(3, 1fr)
    grid-template-rows repeat(3, minmax(165px, auto)) repeat(2, minmax(240px, auto))
  &__item
    height 100%
    &--banner-main
      grid-area banner-main
    &--banner-small-1
      grid-area banner-small-1
    &--banner-small-2
      grid-area banner-small-2
    &--manager
      z-index unset
      grid-area manager
    &--banner-wide
      grid-area banner-wide
      @media (min-width point-s)
        padding-top 10px
    &--indicators
      grid-area indicators
      @media (min-width point-l)
        padding-top 10px
    &--marketing
      grid-area marketing
    &--package
      grid-area package
    &--conditions
      grid-area conditions
