include /helpers/create-element
include /helpers/classes
include /helpers/price-format

include /blocks/grid/grid
include /blocks/scripts/scripts
include /blocks/style/style
include /blocks/img/img
include /blocks/menu/menu

block variables

doctype html
html(lang='ru' class= htmlClass || '')
  include ../head/head
  body(class= bodyClass || '')
    if !noHeader
      include /blocks/header/header
    main: block content
    if !noFooter
      include /blocks/footer/footer
  +scripts(['script.js','glightbox.min.js'])
