.tabs-menu
  position relative
  --arrow-transform none
  --navigation-transform scaleY(0) translateY(100%)
  --navigation-transition-delay var(--transition-time-mouseover)
  --navigation-pointer-events none
  --navigation-list-opacity 0
  --navigation-list-transition-delay 0
  &--active
    --arrow-transform scaleY(-1)
    --navigation-transform scaleY(1) translateY(100%)
    --navigation-transition-delay 0
    --navigation-pointer-events all
    --navigation-list-opacity 1
    --navigation-list-transition-delay var(--transition-time-mouseover)
  &__current
    padding 17px
    text-align center
    color var(--color-link)
    background-color #F5D8DB
    &::after
      content ''
      position absolute
      bottom -16px
      left 50%
      border 8px solid transparent
      border-top-color #F5D8DB
      transform translateX(-50%)
    @media (min-width point-l)
      display none
.tabs-navigation
  background-color var(--color-background)
  border 1px solid var(--color-border)
  @media (max-width point-l - 1)
    position absolute
    bottom 0
    left 0
    z-index 200
    width 100%
    transform var(--navigation-transform)
    transform-origin 0 100% 0
    transition transform var(--transition-time-mouseover)
    transition-delay var(--navigation-transition-delay)
    pointer-events var(--navigation-pointer-events)
  &__list
    display flex
    @media (max-width point-l - 1)
      flex-direction column
      opacity var(--navigation-list-opacity)
      transition opacity var(--transition-time-mouseover)
      transition-delay var(--navigation-list-transition-delay)
  &__item
    flex 1
    a
      display block
      width 100%
      padding 17px
      text-align center
    &--active
      position relative
      background-color #F5D8DB
      &::after
        @media (min-width point-l)
          content ''
          position absolute
          bottom -16px
          left 50%
          border 8px solid transparent
          border-top-color #F5D8DB
          transform translateX(-50%)
