@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  --arrow-position var(--base-padding)
  --arrow-size 2rem
  position relative
  background-color inherit
  //@media (min-width point-m)
  //  --arrow-position 0
  //  --arrow-size 3.5rem
  //  padding-x calc(var(--arrow-size) + var(--base-padding))
  &--full-width
    @media (min-width 94rem)
      max-width calc(var(--content-width) + ((var(--arrow-size) + var(--base-padding)) * 2))
      margin-x calc((var(--arrow-size) + var(--base-padding)) * -1)
      padding-x calc(var(--arrow-size) + var(--base-padding))
  &--small-arrows
    @media (min-width point-m)
      --arrow-size var(--gap)
  &__slides
    position static
    user-select: none
  &__arrow
    position absolute
    top 50%
    z-index 100
    display flex
    justify-content center
    align-items center
    width var(--arrow-size)
    height var(--arrow-size)
    background-color var(--color-button)
    cursor pointer
    border-radius 100vmax
    transform translateY(-50%)
    transition background-color var(--transition-duration-out)
    &:hover
      background-color var(--color-button-hover)
      transition-duration var(--transition-duration-in)
    &:active
      background-color var(--color-button-active)
    &::before
      content ''
      width .5rem
      height .75rem
      background-color var(--color-white)
      mask-image url(/images/template/svg-sprites/common.svg#arrow)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    &--prev
      left var(--arrow-position)
    &--next
      right var(--arrow-position)
      &::before
        transform rotate(180deg)
        transform-origin 50% 50% 0
    &--disabled
    &--disabled:hover
    &--disabled:active
      background-color var(--color-border)
      cursor default
  &__pagination
    display flex
    gap .325rem
    justify-content center
    align-items center
    margin-top var(--base-padding)
  &__pagination-item
    bottom unset
    width .375rem
    height .375rem
    background-color var(--color-primary)
    opacity .3
    border-radius 100vmax
    &--active
      width .625rem
      height .625rem
      opacity 1
