.button
  appearance none
  display inline-block
  padding 17px 30px
  font-size 14px
  text-align center
  color var(--color-accent)
  background-color var(--color-background)
  border 1px solid var(--color-accent)
  border-radius 3px
  transition-property color, background-color, border-color
  transition-duration var(--transition-time-mouseout)
  &:hover
    color var(--color-background)
    background-color var(--color-accent)
    border-color var(--color-accent)
    transition-duration var(--transition-time-mouseover)
  &:active
    background-color #610E1F
    border-color #610E1F
