.marketing-item
  display flex
  flex-direction column
  &__image
    order 1
    max-width 100%
    height 146px
    margin-bottom 20px
    object-fit cover
    object-position center
  &__date
    order 2
    margin-bottom 12px
    color #949494
  &__title
    order 3
    font-size 14px
    line-height 20px
    color #000000
    & + ^[-1]__info
      margin-top 10px
  &__info
    order 4
    margin-bottom 20px
  &__button
    order 5
    margin-top auto
