include /blocks/button/button

mixin marketingItem(item)
  a(href='#').marketing-item&attributes(attributes)
    h2.marketing-item__title !{item.title}
    time.marketing-item__date !{item.date}
    +img({
      name: item.image,
      path: '/images/',
      formats: [
        { ext: 'webp', mime: 'image/webp' },
        { ext: 'jpg', orig: true },
      ],
      density: [{ values: [ 1, 2 ] }],
    })(alt= item.name).marketing-item__image
    +button({ tag: 'span' }).marketing-item__button.hidden-hd.hidden-xl.hidden-l Подробнее
