mixin mainPanel(item, settings = {})
  - const tag = settings.tag || 'div'
  #{tag}(class= classes('main-panel', settings))&attributes(attributes)
    if item.image && typeof item.image === 'string'
      .main-panel__image: +img({
        name: item.image,
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
      })(alt= item.title)
    if item.image && typeof item.image === 'object'
      .main-panel__image: +img(item.image)(alt= item.title)
    .main-panel__title !{item.title}
    if item.subtitle
      .main-panel__subtitle !{item.subtitle}
    if block
      .main-panel__body: block
    if item.more && tag !== 'a'
      a(href='#').main-panel__more !{item.more}
    else if item.more && tag === 'a'
      span.main-panel__more !{item.more}
