.main-panel
  --title-font-size 20px
  --title-width auto
  --arrow-transition-duration .4s
  --arrow-scale 1
  --arrow-translate 0
  position relative
  display flex
  flex-direction column
  height 100%
  padding 26px
  overflow hidden
  color var(--color-text-primary)
  border-radius 12px
  box-shadow var(--effect-shadow)
  @media (max-width point-s - 1)
    padding 16px
  &--image-right
    display grid
    grid-template-areas 'title title' 'body image' 'more image'
    grid-template-columns 6fr 4fr
    grid-template-rows auto 1fr auto
    grid-column-gap 24px
    & ^[-1]__title
      grid-area title
    & ^[-1]__body
      grid-area body
      align-self start
    & ^[-1]__image
      position static
      grid-area image
      align-self center
      display flex
      align-items center
      img
        width unset
        height unset
        object-fit contain
    & ^[-1]__more
      grid-area more
      justify-self start
  &--manager
    & ^[-1]__body
      margin-top 24px
      margin-bottom auto
  a&--banner-main
    --title-font-size 24px
    color #ffffff
    padding-top 60%
    @media (max-width point-s - 1)
      padding-top 60%
    @media (min-width point-s)
      --title-width 200px
      --title-font-size 26px
    @media (min-width point-l)
      --title-font-size 30px
      padding-top 196px
    &:hover
      --arrow-transition-duration .1s
      --arrow-scale 1.25
      --arrow-translate 12px
      text-decoration none
      color #ffffff
    &::after
      content ''
      position absolute
      background-color rgba(0, 0, 0, .24)
      bottom 0
      left 0
      z-index 1
      width 100%
      height 50%
      @media (min-width point-s)
        top 0
        width 82%
        height 100%
      @media (min-width point-l)
        width 40%
    & ^[-1]__title
      margin-bottom 12px
    & ^[-1]__subtitle
      margin-top auto
      margin-bottom 5px
      font-size 20px
      line-height 24px
    & ^[-1]__body
      margin-top 0
      margin-bottom auto
    & ^[-1]__more
      margin-top 12px
      color inherit
  &__title
    z-index 2
    width var(--title-width)
    font-size var(--title-font-size)
  &__subtitle
    z-index 2
    margin-top 10px
    margin-bottom auto
    font-size 14px
    font-weight 300
    line-height 18px
  &__body
    z-index 2
    margin-top 23px
    margin-bottom 48px
    font-weight 300
    & p
      font-weight inherit
  &__more
    position relative
    z-index 2
    align-self flex-start
    margin-top auto
    padding-right 54px
    color var(--color-text-primary)
    &:hover
      --arrow-transition-duration .1s
      --arrow-scale 1.25
      --arrow-translate 12px
      color var(--color-text-primary)
    &::before
      content ''
      position absolute
      top 0
      right 0
      width 48px
      height 100%
      background-image linear-gradient(transparent calc(50% - .5px), currentColor calc(50% - .5px), currentColor calc(50% + .5px), transparent calc(50% + .5px))
      transform scaleX(var(--arrow-scale))
      transform-origin 0 0 0
      transition transform var(--arrow-transition-duration)
    &::after
      content ''
      position absolute
      top 50%
      right 0
      width 6px
      height 10px
      background-color currentColor
      transform translate(var(--arrow-translate), -50%)
      transform-origin 0 0 0
      transition transform var(--arrow-transition-duration)
      clip-path polygon(0 0, 0% 100%, 100% 50%)
  &__image
    position absolute
    top 0
    left 0
    z-index 1
    width 100%
    height 100%
    img
      width 100%
      height 100%
      object-fit cover
      object-position center
  &--label
    &::after
      content ''
      position absolute
      bottom 26px
      right 26px
      z-index 2
      width 89px
      height 48px
      background-image url(/images/template/svg-sprites/common.svg#main-panel--label)
      background-repeat no-repeat
      background-position center
      background-size cover
      @media (max-width point-s - 1)
        bottom 16px
        right 16px
  &--wide
    @media (max-width point-s - 1)
      min-height 222px
      & ^[-1]__title
        max-width 52%
      & ^[-1]__subtitle
        max-width 52%
