.aside-form
  &__field
    display block
    margin-y 24px
  &__label
    display block
    margin-bottom 12px
  &__textarea
    width 100%
    height 148px
    padding 16px 20px
    resize none
    border 1px solid #F5D8DB
