mixin asideForm
  .aside-form.aside-block.aside-block--form&attributes(attributes)
    .aside-block__title Есть предложения или вопросы? Напишите нам!
    label.aside-form__field
      span.aside-form__label Ваше сообщение:
      textarea.aside-form__textarea
    +button(type='submit') Получить
