.header-menu
  font-weight inherit
  &__list
    font-weight inherit
  &__item
    font-weight inherit
    & + &
      margin-top 15px
      padding-top 15px
      border-top 1px solid #EBEBEB
    a
      font-weight inherit
      color #000
