.cart-counter
  position absolute
  top -8px
  right -8px
  display flex
  align-items center
  justify-content center
  min-width 20px
  height 20px
  padding 4px 6px
  font-size 12px
  color #ffffff
  background-color #880e26
  border-radius 10px
  &:empty
    display none
  @media (min-width point-s)
    display none
