.icon-inline
  position relative
  padding-left 24px
  line-height inherit
  &::before
    content ''
    position absolute
    top 50%
    left 0
    width 20px
    height 20px
    background-color currentColor
    mask-image var(--icon-image)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    translate 0 -50%
  &--date
    --icon-image url(/images/template/svg-sprites/common.svg#calendar)
