.product-images
  @media (min-width point-m)
    padding-x 0
  .slider
    &__pagination
      position absolute
      flex-wrap: wrap
      z-index 200
      pointer-events none
    &__pagination-item
      flex-shrink: 0
      width 6px
      height 6px
      margin-x 5px
      margin-top: 6px
      background-color #840D25
      opacity 1
      border 1px solid #840D25
      border-radius 100%
      transform rotate(45deg)
      transition background-color, border-radius, transform
      transition-duration .2s
      pointer-events auto
      &:hover
        background-color transparent
        cursor pointer
      &--active
        transform rotate(45deg) scale(1.3)
        background-color transparent
        border-radius 0
    &__arrow
      display none
.product-image
  width 100%
.product-images-thumbs
  height 100%
  padding-top: 30px
  padding-bottom: 30px
  .swiper
    height 100%
  .slider
    &__arrow
      left: 50%
      margin-left: -14px
      --arrow-position -5px
      border-radius 0
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      mask-image url(/images/template/svg-sprites/common.svg#arrow-right)
      &:not(&--disabled)
        background-color var(--color-link)
      &--prev
        top: 0
        transform: rotate(-90deg)
      &--next
        top: auto
        bottom: 0
        transform: rotate(90deg)