.cart-item
  padding-top 30px
  border-top 1px solid var(--color-border-secondary)
  & + &
    margin-top 30px
  &__image
    display flex
    flex-direction column
    align-items center
    img
      max-width unquote('min(100%, 200px)')
  &__title
    align-self flex-start
    font-family 'Prata'
    font-size 14px
    @media (min-width point-s)
      font-size 16px
  &__rows
    @media (min-width point-l)
      display grid
      grid-template-columns 1fr repeat(7, auto)
      grid-auto-rows max-content
      grid-gap 18px 36px
  &__row
    &:not(&--total)
      @media (min-width point-l)
        display contents
    &--total
      margin-top 16px
      padding-top 16px
      border-top 1px solid var(--color-border-secondary)
      @media (min-width point-l)
        grid-column 1 / -1
    &--header
      font-weight 300
      font-size 12px
      line-height 14px
      color #717171
      & ^[-2]__row-cell:last-child
        @media (min-width point-l)
          grid-column span 2
  &__comment
    --textarea-display none
    @media (min-width point-l)
      display flex
      flex-direction column
      align-items flex-end
    @media (max-width point-l - 1)
      margin-top 24px
    &--active
      --textarea-display block
  &__comment-link
    display block 
    text-align right
  &__comment-textarea
    display var(--textarea-display)
    @media (min-width point-l)
      width 360px
