include /blocks/button/button

.cart-modal.cart-modal--active
  .cart-modal__inner
    button(type='button').cart-modal__close
    .cart-modal__info Посмотрите какого ассортимента вам не хватает с помощью сервиса АЛЬКОР Эксперт
    +button(type='button').cart-modal__submit Подтвердить заказ из корзины
    +button(type='button').cart-modal__more перейти в АЛЬКОР Эксперт
