.cart-modal
  position fixed
  inset 0
  z-index 200
  display flex
  justify-content center
  align-items center
  opacity 0
  pointer-events none
  &--active
    opacity 1
    pointer-events auto
  &__inner
    display grid
    grid-template-areas '. close' 'info info' 'submit submit' 'more more'
    grid-template-columns repeat(2, 1fr)
    gap 36px 15px
    width 100%
    max-width 586px
    padding 26px 38px 58px
    background #FFF
    box-shadow 8px 8px 4px 0 rgba(0, 0, 0, 0.25)
    @media (min-width point-m)
      grid-template-areas '. close' 'info info' 'submit more'
      grid-template-columns repeat(2, 1fr)
  &__close
    appearance none
    grid-area close
    justify-self end
    width 16px
    height 16px
    background-color transparent
    background-image \
      linear-gradient(45deg, transparent 45%, #000000 45%, #000000 55%, transparent 55%),\
      linear-gradient(135deg, transparent 45%, #000000 45%, #000000 55%, transparent 55%)
    border none
  &__info
    position relative
    grid-area info
    padding-left 100px
    font-size 20px
    line-height 1.2
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 79px
      height 74px
      background-image url(../../images/template/svg-sprites/common.svg#cart-modal)
      background-repeat no-repeat
      background-position center
      background-size cover
  &__submit
    grid-area submit
    padding 9px 10px
    font-size 12px
    text-transform uppercase
    line-height 14px
    color #ffffff
    background-color #B8B8B8
    border-color #B8B8B8
    &:hover
      background-color #bfbfbf
      border-color #bfbfbf
  &__more
    grid-area more
    padding 9px 10px
    font-size 12px
    text-transform uppercase
    line-height 14px
    color #ffffff
    background-color #7E222E
    border-color #7E222E
