.block-marked
  --color-background #F7F8FC
  padding 24px
  @media (min-width point-l)
    padding 40px
  &--color
    background-color var(--color-background)
    &--white
      --color-background #ffffff
  &--small-padding
    padding 24px
  &--border
    border 1px solid #F5D8DB
