.catalog-layout
  display grid
  grid-gap 30px
  @media (min-width point-l)
    grid-template-areas 'form inline-filter' 'form sort' 'form list'
    grid-template-columns 1fr 5fr
    grid-template-rows repeat(2, min-content) 1fr
  @media (min-width point-s) and (max-width point-l - 1)
    grid-template-areas 'search filter sort' 'filterCurrent filterCurrent filterCurrent' 'list list list'
    grid-template-columns repeat(3, 1fr)
  @media (max-width point-s - 1)
    grid-template-areas 'search search' 'filter sort' 'filterCurrent filterCurrent' 'list list'
    grid-template-columns repeat(2, 1fr)
    grid-gap 20px
  &--premium
    @media (min-width point-l)
      grid-template-areas 'form list'
      grid-template-rows auto
  &__form
    z-index 10
    @media (max-width point-l - 1)
      display contents
    @media (min-width point-l)
      position sticky
      top 80px
      grid-area form
      align-self start
  &__search.vendor-search
    grid-area search
    align-self start
    margin-bottom 0
    @media (min-width point-l)
      margin-bottom 40px
  &__filter
    grid-area filter
  &__inline-filter.catalog-filter-inline
    grid-area inline-filter
    margin-bottom 0
  &__sort
    position relative
    grid-area sort
    .catalog-sort
      margin-bottom 0
  &__list
    grid-area list
  &__filter-current
    grid-area filterCurrent
    @media (min-width point-l)
      display none
  .js-info-block-cat
    display contents
