.product-properties
  --grid-template-columns repeat(2, 1fr)
  display grid
  grid-template-columns var( --grid-template-columns)
  line-height 1.5
  border-bottom 1px solid var(--color-border-secondary)
  @media (min-width point-s) and (max-width point-l - 1)
    --grid-template-columns repeat(2, auto)
  &__name
  &__value
    padding 6px 12px
    font-size 12px
    border-top 1px solid var(--color-border-secondary)
  &__name
    color var(--color-text-secondary)
  &__value
    background-color #F6F6F6
  &--simple
    --grid-template-columns 1fr 2fr
    grid-column-gap 24px
    border-bottom none
    & ^[-1]__name
    & ^[-1]__value
      padding 4px 0
      font-size 12px
      background-color transparent
      border none
