mixin productProperties(list, settings = {})
  dl(class= classes('product-properties', settings))
    each item in list
      dt.product-properties__name !{item.name}
      dd.product-properties__value !{item.value}
