.catalog-sort
  @media (max-width point-l - 1)
    position absolute
    right 0
    bottom 0
    z-index 100
    flex-direction column
    align-items flex-start
    width 209px
    max-width 100vw
    padding 16px 20px
    font-size 13px
    background-color var(--color-background)
    box-shadow 0 4px 12px rgba(0, 0, 0, 0.1)
    transform translateY(100%)
    opacity 0
    transition opacity
    transition-duration var(--transition-time-mouseout)
    pointer-events none
  .catalog-opener--active + &
    @media (max-width point-l - 1)
      opacity 1
      transition-duration var(--transition-time-mouseover)
      pointer-events auto
  &__type
    @media (max-width point-l - 1)
      display flex
      flex-direction column
    a
      @media (max-width point-l - 1)
        padding-left 0
        color #808285
      & + a
        @media (max-width point-l - 1)
          margin-top 6px
  a&_active:link
  a&_active:visited
    @media (max-width point-l - 1)
      color #880e26 
  .checkbox
    @media (max-width point-l - 1)
      margin-top 14px
