.notification-settings-footer
  --column-gap 40px
  @media (max-width point-l - 1)
    --row-gap 32px
  @media (max-width point-s - 1)
    --row-gap 24px
  &__add
    @media (max-width point-l - 1)
      text-align center
