.page-subsection
  --margin-top 40px
  &--level--2
    --margin-top 25px
  & + &
    margin-top var(--margin-top)
  & + h1
    margin-top 40px
  & + h2
    margin-top 40px
  &--level--2 + h2
    margin-top 25px
