.catalog-filter
  @media (max-width point-l - 1)
    position fixed
    top 0
    left 0
    z-index 100
    display flex
    flex-direction column
    width 100%
    height 100%
    overflow auto
    background-color var(--color-background)
    opacity 0
    pointer-events none
    transition opacity
    transition-duration var(--transition-time-mouseout)
  .catalog-opener--active + &
    @media (max-width point-l - 1)
      opacity 1
      transition-duration var(--transition-time-mouseover)
      pointer-events auto
  &__title
    position relative
    padding 15px
    font-size 14px
    line-height 16px
    text-transform uppercase
    background-color #E1E6EC
    @media (min-width point-l)
      display none
  &__close
    position absolute
    top 15px
    right 15px
    width 16px
    height 16px
    background-color var(--color-link)
    border none
    mask-image url(/images/template/svg-sprites/common.svg#close)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
  &__inner
    @media (max-width point-l - 1)
      align-self center
      width 100%
      max-width 330px
      padding 15px
      padding-bottom 41px
  .filter-row
    & + .filter-row
      @media (max-width point-l - 1)
        margin-top 24px
        padding-top 24px
        border-top 1px solid #E1E6EC
    &__title
      @media (max-width point-l - 1)
        display block
        font-size 15px
        font-weight 400
    &__cont
      @media (max-width point-l - 1)
        padding-bottom 0
  .checkbox-list
    @media (max-width point-l - 1)
      margin-bottom 10px
    &__item
      @media (max-width point-l - 1)
        margin-bottom 14px
      &_arrow
        @media (max-width point-l - 1)
          max-width calc(100% / 3 * 2)
  .range-slider
    @media (max-width point-l - 1)
      display grid
      grid-template-columns repeat(2, 1fr)
      grid-gap 20px
  .filter-results-label.show
    @media (max-width point-l - 1)
      left auto
      right 0
