.jq-file
  &::before
    content ''
    width 16px
    height 16px
    background-image url(/images/template/svg-sprites/common.svg#document-text)
    background-repeat no-repeat
    background-position center
    background-size cover
