.product-detail-popup
  &__cont
    width 75vw
    max-width unquote('min(100%, 100vw)')
    @media (max-width 1600px)
      width calc(100vw - 70px)
    @media (max-width 1280px) and (min-width 993px)
      width calc(100vw - 50px)
      min-width 960px
    @media (max-width 992px)
      width 720px
      min-width none
  .product-detail-cont
    padding-x 15px
    padding-top 90px
    padding-bottom 40px
    @media (min-width point-l)
      padding-right 75px
.product-detail
  &__name
  &__price
    @media (max-width point-l - 1)
      font-size 22px
    @media (max-width point-s - 1)
      font-size 18px
