h1
  margin-bottom 40px
  font-weight 400
  font-size 40px
  line-height 48px
  @media (max-width point-l - 1)
    margin-bottom 32px
  @media (max-width point-s - 1)
    margin-bottom 24px
    font-size 24px
    line-height 26px
  &.grid__cell
    margin-bottom 0
