.authorization-page
  display flex
  justify-content center
  align-items center
  @media (min-width point-l)
    padding-top 80px
    padding-bottom 40px
  @media (min-width point-s) and (max-width point-l - 1)
    padding-top 60px
    padding-bottom 20px
  @media (max-width point-s - 1)
    padding-top 6px
    padding-x 16px
  &::after
    content ''
    position absolute
    top 0
    left 0
    z-index -1
    width 100%
    height calc(100% + 40px)
    background-image url(/images/template/authorization.webp)
    background-repeat no-repeat
    background-position center
    background-size cover
    @media (max-width point-l - 1)
      top -24px
      height calc(100% + 64px)
  &__form
    flex-grow 1
  &__title
    margin-bottom 0
    font-size 20px
    line-height 24px
    text-align center
    @media (min-width point-s)
      font-size 30px
      line-height 36px
      text-align left
    & + .page-subsection
      margin-top 14px
      @media (min-width point-l)
        margin-top 20px
  &__subtitle
  &__clarification
    color var(--color-text-secondary)
    @media (max-width point-s - 1)
      text-align center
  &__description
    position relative
    padding-top 40px
    &::before
      content ''
      position absolute
      top 0
      left -40px
      width calc(100% + 80px)
      height 1px
      background-color var(--color-border-secondary)
      @media (max-width point-s - 1)
        left -24px
        width calc(100% + 48px)
