// breakpoints

point-s = 480px
point-m = 760px
point-l = 1000px
point-xl = 1200px
point-hd = 1600px

// base-padding
basePadding = .75rem

// functions
padding-x(n)
  padding-right n
  padding-left n

padding-y(n)
  padding-top n
  padding-bottom n

margin-x(n)
  margin-right n
  margin-left n

margin-y(n)
  margin-top n
  margin-bottom n
