:root
  --base-padding 10px
  --gap 20px
  --gap-row 15px
  --gap-column 20px

  --color-text-primary #000
  --color-text-secondary #949494
  --color-link #880e26
  --color-link-hover #cb8283

  --color-background #ffffff

  --color-accent #8f1d34

  --color-border #f5d8d8
  --color-border-secondary #ebebeb

  --effect-shadow 0 2px 10px rgba(0, 0, 0, .1)

  --transition-time-mouseover .1s
  --transition-time-mouseout .4s
