.catalog-filter-inline
  &__list.tabs
    display flex
    justify-content flex-start
    padding-bottom 8px
    overflow-x auto
  &__item--switch
    margin-left auto
  .switch
    padding 15px 30px 15px 20px
