head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  +style('styles_dop')
  +style('custom')
  +style('custom_new')
  +style('styles2')
  +style('styles')
  +style('style')

  -
    const opened = {
      userDropdown: false,
      headerNavigation: false,
      callBackModal: false,
      feedBackModal: false,
    }
  block head
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
