@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'

fontFace('Fira Sans', 'FiraSans-Light', '300', 'normal')
fontFace('Fira Sans', 'FiraSans-Regular', '400', 'normal')
fontFace('Fira Sans', 'FiraSans-Medium', '500', 'normal')
fontFace('Prata', 'Prata-Regular', '400', 'normal')

html
  font-family 'Fira Sans', sans-serif
  font-size 14px
  background-color #fff
  &.no-scroll
    overflow hidden
  &.drop-down-opened
    @media (max-width point-l - 1)
      overflow hidden
import('../blocks/**/*')
.hidden-hd
  @media screen and (min-width point-hd)
    display none !important // @stylint ignore
.hidden-xl
  @media screen and (min-width point-xl) and (max-width point-hd - 1)
    display none !important // @stylint ignore
.hidden-l
  @media screen and (min-width point-l) and (max-width point-xl - 1)
    display none !important // @stylint ignore
.hidden-m
  @media screen and (min-width point-m) and (max-width point-l - 1)
    display none !important // @stylint ignore
.hidden-s
  @media screen and (min-width point-s) and (max-width point-m - 1)
    display none !important // @stylint ignore
.hidden-xs
  @media screen and (max-width point-s - 1)
    display none !important // @stylint ignore
.hide
  display none !important;
