mixin switch(item = {})
	-
		item.type = item.type || 'checkbox'
		const settings = {}
		settings[item.type] = true
	label(class= classes('switch', settings))&attributes(attributes)
		input(type= item.type name= item.name value= item.value checked= item.checked).switch__input
		span.switch__switcher
		if block
			span.switch__label: block
