.switch
	display flex
	align-items center
	width fit-content
	&--checkbox
		--switcher-width 48px
		--switcher-height 23px
		--switcher-background-color #B8B8B8
		--switcher-background-color-checked #880e26
		--switcher-before-size 15px
		--switcher-before-color #ffffff
		--switcher-before-translate -12px
		--switcher-before-translate-checked 12px
		gap 12px
	&__input
		display none
	&__switcher
		display flex
		justify-content center
		align-items center
		flex-shrink 0
		width var(--switcher-width)
		height var(--switcher-height)
		background-color var(--switcher-background-color)
		border-radius 22px
		cursor pointer
		transition background-color
		transition-duration var(--transition-time-mouseover)
		&::before
			content ''
			width var(--switcher-before-size)
			height var(--switcher-before-size)
			background-color var(--switcher-before-color)
			border-radius 8px
			translate var(--switcher-before-translate) 0
			transition background-color, translate
			transition-duration var(--transition-time-mouseover)
	&__input:checked + &__switcher
		--switcher-background-color var(--switcher-background-color-checked)
		--switcher-before-translate var(--switcher-before-translate-checked)
