.register
  &__title
    @media (max-width point-m - 1)
      text-align center
  &__title-caption
    font-weight 300
    color var(--color-text-secondary)
  &__layout
    --column-gap 50px
  &__form
    @media (max-width point-l - 1)
      order 2
  &__required
    color var(--color-text-secondary)
  &__description
    --hidden-display none
    --show-display block
    &--active
      --hidden-display block
      --show-display none
    @media (max-width point-l - 1)
      order 1
    h4
      font-size 16px
      font-weight 400
      @media (max-width point-s - 1)
        font-size 15px
  &__description-hidden
    @media (max-width point-l - 1)
      display var(--hidden-display)
  &__description-show
    display var(--show-display)
    @media (min-width point-l)
      display none
  a&__description-show-link
    text-decoration underline
    text-decoration-style dashed
