.order-item
  @media (max-width point-s - 1)
    display flex
    align-items flex-start
  &__properties
    display grid
    @media (min-width point-s)
      grid-auto-flow column
      grid-template-rows repeat(2, auto)
      grid-gap 18px 36px
    @media (max-width point-s - 1)
      order 2
      grid-template-columns auto auto
      grid-gap 12px
  &__property-name
    font-weight 300
    font-size 12px
    line-height 14px
    color #717171
  &__image
    @media (min-width point-s)
      width 70px
      margin-top 30px
    @media (max-width point-s - 1)
      width 90px
      order 1
      margin-right 16px
