mixin orderItem(item)
  .order-item&attributes(attributes)
    dl.order-item__properties
      each property in item.properties
        dt.order-item__property-name !{property.name}
        dd.order-item__property-value !{property.value}
    +img({
      name: item.image,
      path: '/images/',
      formats: [
        { ext: 'jpg', orig: true },
        { ext: 'webp', mime: 'image/webp' },
      ],
    }).order-item__image
