.cart-footer
  &__select
    display grid
    grid-gap 10px 26px
    @media (max-width point-m - 1)
      grid-template-columns auto
    @media (min-width point-m)
      grid-template-columns auto auto
    p
      font-size 13px
      @media (min-width point-l)
        flex 1
    .jq-selectbox
      max-width 340px
      @media (max-width point-m)
        max-width calc(100vw - 40px)
      @media (min-width point-l)
        flex 2
