.order-block
  --arrow-color var(--color-text-primary)
  --arrow-scale 1
  --body-display none
  --footer-display none
  background-color #f9f9f9
  border-top 1px solid #F5D8DB
  border-bottom 1px solid #F5D8DB
  & + &
    margin-top 6px
  &--active
    --arrow-color var(--color-accent)
    --arrow-scale -1
    --body-display block
    --footer-display flex
    border-color var(--color-text-secondary)
    background-color var(--color-border-secondary)
  &__header
    position relative
    display flex
    flex-wrap wrap
    gap var(--base-padding)
    justify-content space-between
    align-items center
    @media (min-width point-s)
      padding 30px
      cursor pointer
    @media (max-width point-s - 1)
      padding 32px 12px 12px
    &::after
      content ''
      width 14px
      height 14px
      background-color var(--arrow-color)
      mask-image url(/images/template/svg-sprites/common.svg#arrow)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      transform scaleY(var(--arrow-scale))
      transform-origin 50% 50% 0
      transition-property transform, background-color
      transition-duration var(--transition-time-mouseout)
      @media (max-width point-l - 1)
        order 2
  &__header-info
    display flex
    gap var(--base-padding)
    @media (max-width point-s - 1)
      order 1
  &__header-properties
    display flex
    gap var(--base-padding)
    justify-content space-between
    width 380px
    max-width 100%
    @media (max-width point-s - 1)
      order 3
      gap 26px
      width 260px
      min-width fit-content
  &__title
    font-weight bold
  &__type
    position absolute
    top 0
    left 0
    padding 4px 11px
    font-size 10px
    line-height 14px
    color var(--color-background)
    background-color #bababa
    &--gold
      background-color #F7BF38
  &__body
    display var(--body-display)
    //display block
    border-top 1px solid var(--color-background)
    @media (min-width point-l)
      padding 30px
    @media (max-width point-l - 1)
      padding 16px
  &__footer
    display var(--footer-display)
    border-top 1px solid var(--color-background)
    @media (min-width point-s)
      gap 60px
      padding 30px
    @media (max-width point-s - 1)
      flex-direction column
      gap 16px
      padding 32px 12px 12px
  &__price-item
    display flex
    gap 18px
    & + &
      margin-top 14px
    &--total ^[-1]__price-value
      font-weight 500
  &__customer
    color var(--color-text-secondary)
