include /blocks/order-item/order-item

mixin orderBlock(order, settings = {})
  .order-block&attributes(attributes)
    .order-block__header
      .order-block__header-info
        .order-block__title Заказ !{order.title}
        .order-block__date от !{order.date}
      .order-block__header-properties
        .order-block__header-property !{order.status}
        .order-block__header-property Позиций: !{order.items.length}
        .order-block__header-property Изделий: !{order.items.length}
      .order-block__type(class= `order-block__type--${order.type.id}`) !{order.type.title}
    .order-block__body
      each item in order.items
        +orderItem(item).order-block__item
    .order-block__footer
      .order-block__price
        .order-block__price-item
          .order-block__price-name Сумма заказа:
          .order-block__price-value !{priceFormat(order.price.products)} ₽
        .order-block__price-item
          .order-block__price-name Доставка:
          .order-block__price-value !{priceFormat(order.price.delivery)} ₽
        .order-block__price-item.order-block__price-item--total
          .order-block__price-name Итого:
          .order-block__price-value !{priceFormat(order.price.products + order.price.delivery)} ₽
      .order-block__customer !{order.customer}
      .order-block__links
        p: +linkIcon({ icon: 'download' })(href='#') Скачать картинки по заказу
        p: +linkIcon({ icon: 'print' })(href='#') Распечатать заказ
