.header-switcher
  --opacity-before 1
  --opacity-after 0
  position relative
  appearance none
  width 28px
  height 28px
  background-color transparent
  border none
  @media (min-width point-l)
    display none
  &::after
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-image url(/images/template/svg-sprites/common.svg#header-switcher)
    background-repeat no-repeat
    background-position center
    background-size cover
