.basket-radios
  @media (max-width point-l - 1)
    position absolute
    z-index 2
    flex-direction column
    background-color #ffffff
    opacity 0
    pointer-events none
    transition opacity var(--transition-time-mouseout)
  .catalog-opener--active + &
    @media (max-width point-l - 1)
      opacity 1
      pointer-events auto
      transition-duration var(--transition-time-mouseover)
