include /blocks/link-icons/link-icons

footer.page-footer
  .container: .content.page-footer__top
    .page-footer__text
      //img(src='/local/templates/silver/img/_logo-small.svg' width='49' height='36' alt='Алькор' loading='lazy')
      div
        | Мы открыты к сотрудничеству, принимаем заказы на любой объем продукции
        .page-footer__copy © Компания АЛЬКОР, 2022
    .page-footer__links
      .page-footer__tel-wrap
        span Контакты производителя
        br
        a.page-footer__tel(href='tel:+74942398000') +7 (4942) 398-000
      .modal-relative
        +linkIcon({ icon: 'phone', small: true }).js-inline-modal-open(href='#call-back') Обратный звонок
        #comp_6f3d880d059483a09e9acd0696dbb5a1
          #call-back.inline-modal(class= `${ opened.callBackModal ? 'opened' : '' }`)
            .inline-modal__header
              button(type='button').inline-modal__close
            .h2 Заказать звонок
            form.js-validate-form(name='iblock_add' action='/?login=yes' method='post' enctype='multipart/form-data' autocomplete='off' novalidate='novalidate')
              input#bxajaxid_6f3d880d059483a09e9acd0696dbb5a1_8BACKi(type='hidden' name='bxajaxid' value='6f3d880d059483a09e9acd0696dbb5a1')
              input(type='hidden' name='AJAX_CALL' value='Y')
              input#sessid(type='hidden' name='sessid' value='4dd4e638e5b72d02fdff01540108c3d4')
              input(type='hidden' name='PROPERTY[IBLOCK_SECTION][]' value='837')
              .form-line
                label.main-form__label(for='feed-name') ФИО: *
                input#feed-name.text-input2(type='text' value='' name='PROPERTY[NAME][0]' required='' aria-required='true')
              .form-line
                label.main-form__label(for='call-tel') Телефон: *
                input#call-tel.text-input2.js-phone-input(type='tel' value='' name='PROPERTY[129][0]' required='' aria-required='true')
              .form-line
                label.main-form__label(for='feed-comment') Комментарий:
                textarea#feed-comment.text-input2(name='PROPERTY[128][0][VALUE][TEXT]' placeholder='Ваш текст комментария')
                input(type='hidden' name='PROPERTY[128][0][VALUE][TYPE]' value='text')
              .submit-line
                .submit-line__rules
                  | Нажимая на кнопку «Отправить», я даю
                  a(target='_blank' href='/agreement/') согласие на обработку персональных данных
                span.btn-type2.btn-type2_big
                  span.btn-type2__text Заказать
                  input.btn-type2__input(type='submit' name='iblock_submit' value='Заказать')
      .modal-relative
        +linkIcon({ icon: 'mail', small: true }).js-inline-modal-open(href='#feed-back') Написать нам
        #comp_bed902a4c4feb96957b6c34c402508fe
          #feed-back.inline-modal(class= `${ opened.feedBackModal ? 'opened' : '' }`)
            .inline-modal__header
              button(type='button').inline-modal__close
            .h2 Написать нам
            form.js-validate-form(name='iblock_add' action='/?login=yes' method='post' enctype='multipart/form-data' autocomplete='off' novalidate='novalidate')
              input#bxajaxid_bed902a4c4feb96957b6c34c402508fe_Ar8Szp(type='hidden' name='bxajaxid' value='bed902a4c4feb96957b6c34c402508fe')
              input(type='hidden' name='AJAX_CALL' value='Y')
              input#sessid_1(type='hidden' name='sessid' value='4dd4e638e5b72d02fdff01540108c3d4')
              input(type='hidden' name='PROPERTY[IBLOCK_SECTION][]' value='838')
              .form-line
                label.main-form__label(for='feed-name-n') ФИО: *
                input#feed-name-n.text-input2(type='text' value='' name='PROPERTY[NAME][0]' required='' aria-required='true')
              .form-line
                label.main-form__label(for='feed-tel') Email: *
                input#feed-tel.text-input2(type='email' value='kislorod-admin@o2k.ru' name='PROPERTY[127][0]' required='' aria-required='true')
              .form-line
                label.main-form__label(for='feed-comment-n') Комментарий:
                textarea#feed-comment-n.text-input2(name='PROPERTY[128][0][VALUE][TEXT]' placeholder='Ваш текст комментария')
                input(type='hidden' name='PROPERTY[128][0][VALUE][TYPE]' value='text')
              .submit-line
                .submit-line__rules
                  | Нажимая на кнопку «Отправить», я даю
                  a(target='_blank' href='/agreement/') согласие на обработку персональных данных
                span.btn-type2.btn-type2_big
                  span.btn-type2__text Написать
                  input.btn-type2__input(type='submit' name='iblock_submit' value='Написать')
      +linkIcons([ 'vk' ])
