.page-footer
  margin-top 40px
  &__top
    @media (max-width point-l - 1)
      flex-direction column
      align-items center
      text-align center
  &__text
    @media (max-width point-l - 1)
      display flex
      flex-direction column
      align-items center
      margin-right 0
      text-align center
      img
        margin-right 0
        margin-bottom 24px
  &__links
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items flex-start
    column-gap 40px
    padding-right 0
    @media (max-width point-l - 1)
      flex-direction column
      align-items center
      margin-top 30px
    & .modal-relative
      margin-left 0
      &:nth-child(3)
        margin-right 0
        margin-left 0
      @media (max-width point-l - 1)
        margin-top 16px
  &__tel
    margin-right 0 !important
  & .link-icons
    @media (max-width point-l - 1)
      margin-top 16px
