.stock-table
  &:not(table)
    @media (min-width point-l)
      display grid
      grid-auto-rows max-content
      grid-gap 18px 36px
  &--cols--6
    grid-template-columns auto 1fr repeat(4, auto)
  &--cols--5
    grid-template-columns repeat(5, auto)
  &--cols--9
    grid-template-columns repeat(9, auto)
  &__row
    --properties-display contents
    --propert-name-display none
    @media (min-width point-l)
      display contents
    &:not(&--header) + &
      margin-top 16px
      padding-top 16px
      border-top 1px solid var(--color-border-secondary)
      &::before
        @media (min-width point-l)
          content ''
          grid-column 1 / -1
          height 1px
          background-color var(--color-border-secondary)
    &--header
      font-weight 300
      font-size 12px
      line-height 14px
      color #717171
      & ^[-2]__cell:last-child
        @media (min-width point-l)
          grid-column span 2
  &__properties
    --name-font-size 12px
    --value-font-size 14px
    flex-grow 1
    @media (min-width point-l)
      display var(--properties-display)
    @media (max-width point-l - 1)
      display grid
      grid-template-columns auto auto
      grid-gap 12px
  &__property-name
    font-weight 300
    font-size var(--name-font-size)
    line-height 14px
    color #717171
    @media (min-width point-l)
      display var(--propert-name-display)
  &__property-value
    font-size var(--value-font-size)
    font-weight var(--value-font-weight, 400)
    &--overflow-hidden
      @media (max-width point-l - 1)
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
  a&__button
    display block
    padding 9px 20px
    text-align center
    color #000
    background-color #F8F8F8
    &--delete
    &:hover
      background-color #F5D8DB
    @media (max-width point-l - 1)
      margin-top 20px
  &__counter
    margin-bottom 0
    @media (max-width point-l - 1)
      margin-top 20px
    .counter-list__item
      padding 0
  &__more
    --color-accent #F5D8DB
    padding 12px 23px 13px
    font-weight 300
    color #880E26
    &:hover
      color #880E26
    &:active
      background-color var(--color-background)
      border-color #880E26
    @media (max-width point-l - 1)
      margin-top 24px
