.link-icon
  --icon-size 20px
  --icon-color #9a9a9a
  --padding calc(var(--icon-size) + 12px)
  position relative
  display inline-block
  min-width 22px
  min-height 22px
  padding-left var(--padding)
  line-height 22px
  &::before
    content ''
    position absolute
    top 1px
    left 1px
    width var(--icon-size)
    height var(--icon-size)
    background-color var(--icon-color)
    mask-image var(--icon-image)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
  &--right
    padding-right var(--padding)
    padding-left 0
    &::before
      right 1px
      left unset
  &--user
    --icon-image url(/images/template/svg-sprites/common.svg#user)
    .drop-wrap.opened &
      --icon-image url(/images/template/svg-sprites/common.svg#close)
      @media (max-width point-l - 1)
        top 4px
  &--cart
    --icon-image url(/images/template/svg-sprites/common.svg#cart)
  &--favourite
    --icon-image url(/images/template/svg-sprites/common.svg#favourite)
  &--phone
    --icon-image url(/images/template/svg-sprites/common.svg#phone)
  &--mail
    --icon-image url(/images/template/svg-sprites/common.svg#mail)
  &--document-download
    --icon-image url(/images/template/svg-sprites/common.svg#document-download)
  &--add
    --icon-color currentColor
    --icon-image url(/images/template/svg-sprites/common.svg#add)
  &--edit
    --icon-color currentColor
    --icon-image url(/images/template/svg-sprites/common.svg#edit)
  &--download
    --icon-color currentColor
    --icon-image url(/images/template/svg-sprites/common.svg#download)
  &--print
    --icon-color currentColor
    --icon-image url(/images/template/svg-sprites/common.svg#print)
  &--lock
    --icon-color currentColor
    --icon-image url(/images/template/svg-sprites/common.svg#lock)
  &--comment
    --icon-color currentColor
    --icon-image url(/images/template/svg-sprites/common.svg#comment)
  a&--delete
    --icon-color currentColor
    --icon-image url(/images/template/svg-sprites/common.svg#close)
    color var(--color-text-secondary)
  &--star
    --icon-color currentColor
    --icon-image url(/images/template/svg-sprites/common.svg#star)
    &.active
      --icon-image url(/images/template/svg-sprites/common.svg#star-filled)
  &--dropdown
    --icon-size 12px
    --icon-color currentColor
    --icon-image url(/images/template/svg-sprites/common.svg#dropdown)
    &::before
      top 50%
      height 6px
      translate 0 -50%
      transition scale var(--transition-time-mouseout)
      .opened &
        scale 1 -1
        transition-duration var(--transition-time-mouseover)
  .main-header &
    @media (max-width point-s - 1)
      padding-left 0
      span
        display none
