mixin linkIcon(settings = {})
  -
    const isCart = settings.icon === 'cart'
    if (settings.icon) {
      settings[settings.icon] = true;
      delete settings.icon;
    }
  a(class= classes('link-icon', settings))&attributes(attributes)
    span: block
    if isCart
      .cart-counter 9
