.cart-row
  --properties-display contents
  --propert-name-display none
  &--total
    --properties-display grid
    --propert-name-display block
    display flex
    justify-content space-between
    @media (max-width point-l - 1)
      flex-direction column
  & + &
    margin-top 16px
    padding-top 16px
    border-top 1px solid var(--color-border-secondary)
  &__properties
    --name-font-size 12px
    --value-font-size 14px
    flex-grow 1
    @media (min-width point-l)
      display var(--properties-display)
    @media (max-width point-l - 1)
      display grid
      grid-template-columns auto auto
      grid-gap 12px
    &--total
      --name-font-size 14px
      --value-font-size 16px
      --value-font-weight bold
      grid-template-columns min-content 122px
      grid-auto-flow column
      grid-auto-columns min-content 122px
      grid-gap 6px
      align-items baseline
  &__property-name
    font-weight 300
    font-size var(--name-font-size)
    line-height 14px
    color #717171
    @media (min-width point-l)
      display var(--propert-name-display)
  &__property-value
    font-size var(--value-font-size)
    font-weight var(--value-font-weight, 400)
    &--overflow-hidden
      @media (max-width point-l - 1)
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
  &__delete
    display flex
    align-items center
    @media (max-width point-l - 1)
      margin-top 20px
    &::before
      content ''
      display block
      width 22px
      height 22px
      background-color currentColor
      mask-image url(/images/template/svg-sprites/common.svg#close)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    span
      @media (min-width point-l)
        display none
      @media (max-width point-l - 1)
        margin-left 4px
