.catalog-filter-current
  &__list
    display flex
    flex-wrap wrap
    gap 10px 16px
  &__item
    display flex
    align-items center
    gap 10px
    padding 4px 10px
    border 1px solid var(--color-border)
    border-radius 15px
  &__item-close
    appearance none
    width 20px
    height 20px
    padding 0
    background-color var(--color-link)
    mask-image url(/images/template/svg-sprites/common.svg#close)
    mask-position center
    mask-size cover
  &__reset
    margin-top 16px
