.viewed
  padding 0
  &__all
    @media (max-width point-l - 1) and (min-width point-s)
      padding-left 30px
.viewed-items
  padding 0
  &__item
    @media (max-width point-l - 1)
       width calc(100% / 6)
    @media (max-width point-s - 1)
      width 25%
