.cart-total
  --arrow-rotate 0
  --properties-display none
  --footer-margin 0
  --footer-padding 0
  --footer-border-bottom none
  padding 20px
  background-color #F1F2F2
  @media (min-width point-s)
    display grid
    grid-template-columns repeat(4, auto) 1fr
    grid-auto-rows repeat(2, auto)
    grid-gap 18px 36px
  &--active
    --arrow-rotate 180deg
    --properties-display grid
    --footer-margin 20px
    --footer-padding 15px
    --footer-border-bottom 1px solid var(--color-border-secondary)
  &__header
    display contents
    font-weight 300
    font-size 12px
    line-height 14px
    color #717171
    @media (max-width point-s - 1)
      display none
  &__properties
    display contents
    font-weight 300
    @media (max-width point-s - 1)
      display var(--properties-display)
      grid-template-columns 1fr 1fr
      grid-gap 8px 24px
    & + &
      margin-top 14px
      padding-top 14px
      border-top 1px solid var(--color-border-secondary)
  &__property-name
    font-size 12px
    line-height 14px
    color #717171
    @media (min-width point-s)
      display none
  &__property-value
    strong
      font-weight 400
  &__footer
    display contents
    &::before
      @media (min-width point-s)
        content ''
        grid-column 1 / -1
        height 1px
        margin-top 20px
        background-color var(--color-border-secondary)
    & ^[-1]__properties
      @media (max-width point-s - 1)
        display grid
    & ^[-1]__property-name
    & ^[-1]__property-value
      @media (min-width point-s)
        margin-top 15px
  &__footer-title
    @media (min-width point-s)
      margin-top 15px
    @media (max-width point-s - 1)
      display flex
      justify-content space-between
      align-items center
      margin-top var(--footer-margin)
      margin-bottom 12px
      padding-top var(--footer-padding)
      border-top var(--footer-border-bottom)
    &::after
      @media (max-width point-s - 1)
        content ''
        width 17px
        height 17px
        background-color var(--color-link)
        mask-image url(/images/template/svg-sprites/common.svg#arrow)
        mask-repeat no-repeat
        mask-position center
        mask-size cover
        rotate var(--arrow-rotate)
