.slider-similar-products
  padding 20px
  border 1px solid var(--color-border-secondary)
  &.catalog-list
    margin-x 0
  .slide
  &__item
    width 168px
  .btn-type2
    box-sizing border-box
  .slider
    &__wrapper
      box-sizing border-box
    &__arrow
      --arrow-position -5px
      border-radius 0
      mask-repeat no-repeat
      mask-position center
      mask-size cover
      &:not(&--disabled)
        background-color var(--color-link)
      &--prev
        mask-image url(/images/template/svg-sprites/common.svg#arrow-left)
      &--next
        mask-image url(/images/template/svg-sprites/common.svg#arrow-right)
