extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/admin-menu
  .container: .content: +grid.page-layout
    +asideMenu(adminMenu, 'Меню кабинета администратора')(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Введите характеристики камня
      h3.page-subsection.text-marked Введите характеристики камня
      +pageSubsection({ tag: 'form' })(class= gridClasses() enctype='multipart/form-data' action='/admin/htpasswd/' method='post'): +cell({ l: 6, s: 8, xs: 12 })
        +pageSubsection
          +pageSubsection
            label(for='CARAT') Каратный вес
            input#CARAT.inputtext.text-input2(value='' type='text' name='CARAT')
          +pageSubsection
            label(for='FORM_OGRANKA') Форма огранки
            input#FORM_OGRANKA.inputtext.text-input2(value='' type='text' name='FORM_OGRANKA')
          +pageSubsection
            label(for='COLOR') Цвет
            input#COLOR.inputtext.text-input2(value='' type='text' name='COLOR')
          +pageSubsection
            label(for='PURITY') Чистота
            input#PURITY.inputtext.text-input2(value='' type='text' name='PURITY')
          +pageSubsection
            label(for='CUT') Количество граней
            input#CUT.inputtext.text-input2(value='' type='text' name='CUT')
          +pageSubsection
            label(for='CUT_CLASS') Класс огранки
            input#CUT_CLASS.inputtext.text-input2(value='' type='text' name='CUT_CLASS')
          +pageSubsection
            label(for='FIELD') Месторождение
            input#FIELD.inputtext.text-input2(value='' type='text' name='FIELD')
        +pageSubsection: +button(type='submit') Сформировать
