extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/admin-menu
  .container: .content: +grid.page-layout
    +asideMenu(adminMenu, 'Меню кабинета администратора')(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Товары с проблемными остатками
      +pageSubsection
        p.text-marked Всего в каталоге 7820 товаров с торговыми предложениями.
      +pageSubsection
        +button({ tag: 'a' })(href='#') Удалить все
      +pageSubsection: p: strong Из которых 0 имеют остатки у самого товара
