extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/admin-menu
  .container: .content: +grid.page-layout
    +asideMenu(adminMenu, 'Меню кабинета администратора')(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Статистика по заказам пользователей
      +pageSubsection
          form(action='/admin/agents/' enctype='multipart/form-data' method='get')
            +pageSubsection({ tag: 'p', level: 2 }).text-marked Период по заказам
          
            +pageSubsection({ level: 2 })(class= gridClasses()): +cell({ l: 6, m: 8, xs: 12 })(class= gridClasses()).date-input-row
              +cell({ xs: 6 })
                .date-input(style='width: 100%')
                  input#DATE_FROM.inputtext.text-input2.js-date-input(autocomplete='off' value='' type='text' name='DATE_FROM')
              +cell({ xs: 6 })
                .date-input(style='width: 100%')
                  input#DATE_TO.inputtext.text-input2.js-date-input(autocomplete='off' value='' type='text' name='DATE_TO')
            +pageSubsection({ level: 2 })
              input(type='hidden' name='action' value='show')
              +button(type='submit') Показать
      +pageSubsection
          link(href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' type='text/css' rel='stylesheet')
          link(href='//cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css' type='text/css' rel='stylesheet')
          .access__wrapper
            +grid.js-agents-filter.table-filter
              +cell({ l: 4, m: 6, xs: 12 })
                label(for='name') Клиент
                select(name='name')
                  option(value='')
                  option(value='Ассорти') Ассорти
                  option(value='Афанасьева Елена Николаевна') Афанасьева Елена Николаевна
                  option(value='Военный Альберт Альбертович') Военный Альберт Альбертович
                  option(value='Гащенко Владимир Григорьевич') Гащенко Владимир Григорьевич
                  option(value='ДИА') ДИА
                  option(value='Заболотных Лариса Петровна') Заболотных Лариса Петровна
                  option(value='Зарипова Светлана Радисовна') Зарипова Светлана Радисовна
                  option(value='Золотые узоры') Золотые узоры
                  option(value='Инвест профи') Инвест профи
                  option(value='Комарова Ольга Александровна') Комарова Ольга Александровна
                  option(value='Ларионова Елена Ивановна') Ларионова Елена Ивановна
                  option(value='Леди самоцвет') Леди самоцвет
                  option(value='Новикова Наталия Михайловна ЕКом') Новикова Наталия Михайловна ЕКом
                  option(value='Поликарпова Марина Николаевна') Поликарпова Марина Николаевна
                  option(value='Продвижение') Продвижение
                  option(value='Родин Максим Павлович') Родин Максим Павлович
                  option(value='Русский Стиль') Русский Стиль
                  option(value='Сагаль Иван Геннадьевич') Сагаль Иван Геннадьевич
                  option(value='Сапфир ТКФ,  Астрахань') Сапфир ТКФ,  Астрахань
                  option(value='Свирин Антон Анатольевич') Свирин Антон Анатольевич
                  option(value='Тритон') Тритон
                  option(value='Уклонская Лариса Владимировна') Уклонская Лариса Владимировна
                  option(value='Хариби') Хариби
                  option(value='Цацурина Марина Георгиевна') Цацурина Марина Георгиевна
                  option(value='Частное лицо Киндякова М.А.') Частное лицо Киндякова М.А.
                  option(value='Швецов Дмитрий Валерьевич') Швецов Дмитрий Валерьевич
                  option(value='Щекотов Олег Васильевич') Щекотов Олег Васильевич
                  option(value='ЮВЕЛИРОЧКА') ЮВЕЛИРОЧКА
                  option(value='Якутская торговая компания') Якутская торговая компания
              +cell({ l: 4, m: 6, xs: 12 })
                label(for='id') ИДК 1С
                select(name='id')
                  option(value='')
                  option(value='1038') 1038
                  option(value='1415') 1415
                  option(value='1462') 1462
                  option(value='1469') 1469
                  option(value='1495') 1495
                  option(value='1501') 1501
                  option(value='15102021125812') 15102021125812
                  option(value='1535') 1535
                  option(value='1539') 1539
                  option(value='1557') 1557
                  option(value='1563') 1563
                  option(value='1586') 1586
                  option(value='1635') 1635
                  option(value='1637') 1637
                  option(value='1734') 1734
                  option(value='175') 175
                  option(value='18082022083210') 18082022083210
                  option(value='1810') 1810
                  option(value='1859') 1859
                  option(value='1873') 1873
                  option(value='1874') 1874
                  option(value='198') 198
                  option(value='2082022100233') 2082022100233
                  option(value='234') 234
                  option(value='2') 2
                  option(value='3062021133954') 3062021133954
                  option(value='354') 354
                  option(value='5082022161934') 5082022161934
                  option(value='528') 528
              +cell({ l: 4, m: 6, xs: 12 })
                label(for='inn') ИНН
                select(name='inn')
                  option(value='')
                  option(value='\
                  111111111112                                                    ')
                    | 111111111112
                  option(value='\
                  1435130550                                                    ')
                    | 1435130550
                  option(value='\
                  246209112364                                                    ')
                    | 246209112364
                  option(value='\
                  270402623904                                                    ')
                    | 270402623904
                  option(value='\
                  3015064475                                                    ')
                    | 3015064475
                  option(value='\
                  3438008087                                                    ')
                    | 3438008087
                  option(value='\
                  371900424007                                                    ')
                    | 371900424007
                  option(value='\
                  3809021970                                                    ')
                    | 3809021970
                  option(value='\
                  434601161320                                                    ')
                    | 434601161320
                  option(value='\
                  4401083298                                                    ')
                    | 4401083298
                  option(value='\
                  4401162341                                                    ')
                    | 4401162341
                  option(value='\
                  440117525662                                                    ')
                    | 440117525662
                  option(value='\
                  441500123111                                                    ')
                    | 441500123111
                  option(value='\
                  4501054220                                                    ')
                    | 4501054220
                  option(value='\
                  505300163908                                                    ')
                    | 505300163908
                  option(value='\
                  550410364166 / 550300950577                                                    ')
                    | 550410364166 / 550300950577
                  option(value='\
                  613202992606                                                    ')
                    | 613202992606
                  option(value='\
                  616601948428                                                    ')
                    | 616601948428
                  option(value='\
                  645400324508                                                    ')
                    | 645400324508
                  option(value='\
                  662300248628                                                    ')
                    | 662300248628
                  option(value='\
                  662306022176                                                    ')
                    | 662306022176
                  option(value='\
                  667100162059                                                    ')
                    | 667100162059
                  option(value='\
                  671404561861                                                    ')
                    | 671404561861
                  option(value='\
                  673105005806                                                    ')
                    | 673105005806
                  option(value='\
                  6901003400                                                    ')
                    | 6901003400
                  option(value='\
                  720213502053                                                    ')
                    | 720213502053
                  option(value='\
                  741001967118                                                    ')
                    | 741001967118
                  option(value='\
                  741103928816                                                    ')
                    | 741103928816
                  option(value='\
                  9717026658                                                    ')
                    | 9717026658
      +pageSubsection
            #DataTables_Table_0_wrapper.dataTables_wrapper.no-footer
              .dt-buttons
                button.dt-button.buttons-collection.buttons-colvis(tabindex='0' aria-controls='DataTables_Table_0' type='button' aria-haspopup='true' aria-expanded='false')
                  span Column visibility
                button.dt-button.buttons-excel.buttons-html5(tabindex='0' aria-controls='DataTables_Table_0' type='button')
                  span Сохранить в Excel
              #DataTables_Table_0_filter.dataTables_filter
                label
                  | Поиск по таблице
                  input(type='search' placeholder='' aria-controls='DataTables_Table_0')
              .dataTables_scroll
                .dataTables_scrollBody(style='position: relative; overflow: auto; width: 100%; max-height: 70vh;')
                  table#DataTables_Table_0.js-agents.access.dt-responsive.nowrap.stripe.dataTable.no-footer(style='display: none; width: 1175px;' role='grid' aria-describedby='DataTables_Table_0_info')
                    thead
                      tr(role='row')
                        td.sorting_asc(data-id='name' tabindex='0' aria-controls='DataTables_Table_0' rowspan='1' colspan='1' style='width: 130.859375px;' aria-label='Клиент: активировать для сортировки столбца по убыванию' aria-sort='ascending') Клиент
                        td.sorting(data-id='id' tabindex='0' aria-controls='DataTables_Table_0' rowspan='1' colspan='1' style='width: 83.234375px;' aria-label='ИДК 1С: активировать для сортировки столбца по возрастанию') ИДК 1С
                        td.sorting(data-id='inn' tabindex='0' aria-controls='DataTables_Table_0' rowspan='1' colspan='1' style='width: 88.8125px;' aria-label='ИНН: активировать для сортировки столбца по возрастанию') ИНН
                        td.sorting(data-id='orders' data-filter='N' tabindex='0' aria-controls='DataTables_Table_0' rowspan='1' colspan='1' style='width: 77px;' aria-label='Количество заказов: активировать для сортировки столбца по возрастанию') Количество заказов
                        td.sorting(data-id='sum' data-filter='N' tabindex='0' aria-controls='DataTables_Table_0' rowspan='1' colspan='1' style='width: 52.953125px;' aria-label='Сумма заказов: активировать для сортировки столбца по возрастанию') Сумма заказов
                        td.sorting(data-id='orders_gold' data-filter='N' tabindex='0' aria-controls='DataTables_Table_0' rowspan='1' colspan='1' style='width: 81.6875px;' aria-label='Количество заказов ЗЛТ: активировать для сортировки столбца по возрастанию') Количество заказов ЗЛТ
                        td.sorting(data-id='sum_gold' data-filter='N' tabindex='0' aria-controls='DataTables_Table_0' rowspan='1' colspan='1' style='width: 59.515625px;' aria-label='Сумма заказов ЗЛТ: активировать для сортировки столбца по возрастанию') Сумма заказов ЗЛТ
                        td.sorting(data-id='orders_gold' data-filter='N' tabindex='0' aria-controls='DataTables_Table_0' rowspan='1' colspan='1' style='width: 81.6875px;' aria-label='Количество заказов СРБ: активировать для сортировки столбца по возрастанию') Количество заказов СРБ
                        td.sorting(data-id='sum_gold' data-filter='N' tabindex='0' aria-controls='DataTables_Table_0' rowspan='1' colspan='1' style='width: 59.515625px;' aria-label='Сумма заказов СРБ: активировать для сортировки столбца по возрастанию') Сумма заказов СРБ
                        td.sorting(data-id='date_last_order' data-filter='N' tabindex='0' aria-controls='DataTables_Table_0' rowspan='1' colspan='1' style='width: 79.796875px;' aria-label='Дата последнего заказа: активировать для сортировки столбца по возрастанию') Дата последнего заказа
                    tbody
                      tr.odd(role='row')
                        td.sorting_1
                          div Ассорти
                        td
                          div 175
                        td
                          div
                            | 3438008087
                        td
                          div 4
                        td
                          div 903985                        
                        td
                          div 4
                        td
                          div 903985
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662635203')
                          div 08.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Афанасьева Елена Николаевна
                        td
                          div 1539
                        td
                          div
                            | 616601948428
                        td
                          div 2
                        td
                          div 245760                        
                        td
                          div 2
                        td
                          div 245760
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662368716')
                          div 05.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Военный Альберт Альбертович
                        td
                          div 1495
                        td
                          div
                            | 720213502053
                        td
                          div 1
                        td
                          div 40000                        
                        td
                          div 1
                        td
                          div 40000
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662980089')
                          div 12.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Гащенко Владимир Григорьевич
                        td
                          div 1501
                        td
                          div
                            | 741103928816
                        td
                          div 2
                        td
                          div 150045                        
                        td
                          div 0
                        td
                          div 0
                        td
                          div 2
                        td
                          div 150045
                        td(data-sort='1662470824')
                          div 06.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div ДИА
                        td
                          div 2
                        td
                          div
                            | 4401162341
                        td
                          div 1
                        td
                          div 70445                        
                        td
                          div 1
                        td
                          div 70445
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662463777')
                          div 06.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Заболотных Лариса Петровна
                        td
                          div 1874
                        td
                          div
                            | 662306022176
                        td
                          div 1
                        td
                          div 8450                        
                        td
                          div 0
                        td
                          div 0
                        td
                          div 1
                        td
                          div 8450
                        td(data-sort='1662980200')
                          div 12.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Зарипова Светлана Радисовна
                        td
                          div 1810
                        td
                          div
                            | 741001967118
                        td
                          div 1
                        td
                          div 93030                        
                        td
                          div 1
                        td
                          div 93030
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662548141')
                          div 07.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Золотые узоры
                        td
                          div 1635
                        td
                          div
                            | 4501054220
                        td
                          div 5
                        td
                          div 1182043                        
                        td
                          div 3
                        td
                          div 1165968
                        td
                          div 2
                        td
                          div 16075
                        td(data-sort='1662965343')
                          div 12.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Инвест профи
                        td
                          div 1557
                        td
                          div
                            | 6901003400
                        td
                          div 1
                        td
                          div 6125                        
                        td
                          div 1
                        td
                          div 6125
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662983324')
                          div 12.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Комарова Ольга Александровна
                        td
                          div 198
                        td
                          div
                            | 441500123111
                        td
                          div 2
                        td
                          div 11360                        
                        td
                          div 0
                        td
                          div 0
                        td
                          div 2
                        td
                          div 11360
                        td(data-sort='1662035383')
                          div 01.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Ларионова Елена Ивановна
                        td
                          div 1873
                        td
                          div
                            | 662300248628
                        td
                          div 1
                        td
                          div 5015                        
                        td
                          div 1
                        td
                          div 5015
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662624066')
                          div 08.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Леди самоцвет
                        td
                          div 234
                        td
                          div
                            | 671404561861
                        td
                          div 2
                        td
                          div 11193                        
                        td
                          div 1
                        td
                          div 10656
                        td
                          div 1
                        td
                          div 537
                        td(data-sort='1662097550')
                          div 02.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Новикова Наталия Михайловна ЕКом
                        td
                          div 2082022100233
                        td
                          div
                            | 371900424007
                        td
                          div 14
                        td
                          div 251015                        
                        td
                          div 7
                        td
                          div 136210
                        td
                          div 7
                        td
                          div 114805
                        td(data-sort='1662971707')
                          div 12.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Поликарпова Марина Николаевна
                        td
                          div 1535
                        td
                          div
                            | 645400324508
                        td
                          div 1
                        td
                          div 7065                        
                        td
                          div 0
                        td
                          div 0
                        td
                          div 1
                        td
                          div 7065
                        td(data-sort='1662294283')
                          div 04.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Продвижение
                        td
                          div 1462
                        td
                          div
                            | 4401083298
                        td
                          div 1
                        td
                          div 97040                        
                        td
                          div 1
                        td
                          div 97040
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662375982')
                          div 05.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Родин Максим Павлович
                        td
                          div 18082022083210
                        td
                          div
                            | 270402623904
                        td
                          div 4
                        td
                          div 1729818                        
                        td
                          div 2
                        td
                          div 1695683
                        td
                          div 2
                        td
                          div 34135
                        td(data-sort='1662198288')
                          div 03.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Русский Стиль
                        td
                          div 1859
                        td
                          div
                            | 246209112364
                        td
                          div 3
                        td
                          div 7372                        
                        td
                          div 0
                        td
                          div 0
                        td
                          div 3
                        td
                          div 7372
                        td(data-sort='1662183545')
                          div 03.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Сагаль Иван Геннадьевич
                        td
                          div 1734
                        td
                          div
                            | 667100162059
                        td
                          div 2
                        td
                          div 60309                        
                        td
                          div 0
                        td
                          div 0
                        td
                          div 2
                        td
                          div 60309
                        td(data-sort='1662102544')
                          div 02.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Сапфир ТКФ,  Астрахань
                        td
                          div 1469
                        td
                          div
                            | 3015064475
                        td
                          div 3
                        td
                          div 70147                        
                        td
                          div 3
                        td
                          div 70147
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662976538')
                          div 12.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Свирин Антон Анатольевич
                        td
                          div 528
                        td
                          div
                            | 440117525662
                        td
                          div 6
                        td
                          div 101650                        
                        td
                          div 4
                        td
                          div 97260
                        td
                          div 2
                        td
                          div 4390
                        td(data-sort='1662729956')
                          div 09.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Тритон
                        td
                          div 1563
                        td
                          div
                            | 1435130550
                        td
                          div 1
                        td
                          div 327600                        
                        td
                          div 1
                        td
                          div 327600
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662531201')
                          div 07.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Уклонская Лариса Владимировна
                        td
                          div 15102021125812
                        td
                          div
                            | 505300163908
                        td
                          div 1
                        td
                          div 98135                        
                        td
                          div 1
                        td
                          div 98135
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662033495')
                          div 01.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Хариби
                        td
                          div 1637
                        td
                          div
                            | 550410364166 / 550300950577
                        td
                          div 8
                        td
                          div 1071539                        
                        td
                          div 0
                        td
                          div 0
                        td
                          div 8
                        td
                          div 1071539
                        td(data-sort='1662532408')
                          div 07.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Цацурина Марина Георгиевна
                        td
                          div 1586
                        td
                          div
                            | 673105005806
                        td
                          div 1
                        td
                          div 307570                        
                        td
                          div 1
                        td
                          div 307570
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662545100')
                          div 07.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Частное лицо Киндякова М.А.
                        td
                          div 3062021133954
                        td
                          div
                            | 111111111112
                        td
                          div 1
                        td
                          div 32665                        
                        td
                          div 0
                        td
                          div 0
                        td
                          div 1
                        td
                          div 32665
                        td(data-sort='1662132919')
                          div 02.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div Швецов Дмитрий Валерьевич
                        td
                          div 5082022161934
                        td
                          div
                            | 613202992606
                        td
                          div 1
                        td
                          div 36160                        
                        td
                          div 1
                        td
                          div 36160
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662110203')
                          div 02.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Щекотов Олег Васильевич
                        td
                          div 354
                        td
                          div
                            | 434601161320
                        td
                          div 3
                        td
                          div 77848                        
                        td
                          div 3
                        td
                          div 77848
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662356754')
                          div 05.09.2022
                      tr.even(role='row')
                        td.sorting_1
                          div ЮВЕЛИРОЧКА
                        td
                          div 1415
                        td
                          div
                            | 9717026658
                        td
                          div 1
                        td
                          div 13480                        
                        td
                          div 0
                        td
                          div 0
                        td
                          div 1
                        td
                          div 13480
                        td(data-sort='1662461297')
                          div 06.09.2022
                      tr.odd(role='row')
                        td.sorting_1
                          div Якутская торговая компания
                        td
                          div 1038
                        td
                          div
                            | 3809021970
                        td
                          div 2
                        td
                          div 2750220                        
                        td
                          div 2
                        td
                          div 2750220
                        td
                          div 0
                        td
                          div 0
                        td(data-sort='1662704039')
                          div 09.09.2022
              #DataTables_Table_0_info.dataTables_info(role='status' aria-live='polite') 29 контрагентов
            .loading Загрузка...
      style.
              html table.dataTable.nowrap th, html table.dataTable.nowrap td{
                  white-space: normal !important;
              }
              html .access__wrapper th{
                  vertical-align: middle !important;
              }
              html table.dataTable{
                  max-width: 100%;
              }
              .access__wrapper thead, .access__wrapper .dataTables_scrollHead {
                  background-color: #fff;
              }
              html .dataTables_scrollHeadInner{
                  box-sizing: border-box !important;
                  border-bottom: 1px solid #111 !important;
              }
              table.dataTable thead th, table.dataTable thead td {
                  border: none !important;
              }
              table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled{
                  background-position: center left !important;
                  padding-left: 20px !important;
              }
              .table-filter select {
                  max-width: 100%;
                  width: 100%;
              }
              .buttons-colvis{
                  background: url(/bitrix/panel/main/images/bx-admin-sprite-small-2.png) repeat-x 0 -879px;
                  border: 1px solid;
                  border-color: #8d9a9e #7d8b8e #6f7d7f #7d8b8e;
                  border-radius: 4px;
                  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
                  box-shadow: 0 1px 0 0 rgba(255,255,255,0.5);
                  display: inline-block;
                  height: 34px;
                  vertical-align: top;
                  width: 39px;
                  margin-top: 0px;
              }
              .buttons-colvis span {
                  background: url(/bitrix/panel/main/images/bx-admin-sprite-small-2.png) repeat-y center -855px;
                  content: "";
                  height: 15px;
                  left: 12px;
                  top: 7px;
                  position: absolute;
                  width: 14px;
                  font-size: 0;
              }
              div.dataTables_filter label {
                  width: calc(100% - 54px);
              }
              table.dataTable.nowrap th{
                  vertical-align: top;
              }
              .access.dataTable {
                  display: table !important;
              }
              .loading {
                  display: none;
              }
              .access + .loading {
                  display: block;
              }
              .d-none{
                  display: none;
              }
      style.
              .time-group_stats input.form-control{
                  width: calc((100% - 30px)/2);
                  display: inline-block;
              }
