extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/admin-menu
  .container: .content: +grid.page-layout
    +asideMenu(adminMenu, 'Меню кабинета администратора')(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Кабинет
      +pageSubsection({ tag: 'form' })(class= gridClasses() enctype='multipart/form-data' action='/admin/barcodes/' method='post'): +cell({ l:6, s: 8, xs: 12 })
        +pageSubsection
            label(style='display: inline-block') Форма*
            .jq-selectbox.jqselect
              select(name='FORM_ID')
                option(value='2') Штрихкоды покупателей
                option(value='3') Штрихкоды продавцов
                option(value='13') Штрихкоды покупателей (Марафон)
                option(value='14') Штрихкоды продавцов (Марафон)
              .jq-selectbox__select
                .jq-selectbox__select-text(style='width: 222.109375px;') Штрихкоды покупателей
                .jq-selectbox__trigger
                  .jq-selectbox__trigger-arrow
              .jq-selectbox__dropdown(style='display: none;')
                ul
                  li.selected.sel(style='')
                    span Штрихкоды покупателей
                  li(style='')
                    span Штрихкоды продавцов
                  li(style='')
                    span Штрихкоды покупателей (Марафон)
                  li(style='')
                    span Штрихкоды продавцов (Марафон)
        +pageSubsection(class= gridClasses()).date-input-row
          +cell({ xs: 6 })
            .date-input(style='width: 100%')
              input#DATE_FROM.inputtext.text-input2.js-date-input(autocomplete='off' value='' type='text' name='DATE_FROM')
          +cell({ xs: 6 })
            .date-input(style='width: 100%')
              input#DATE_TO.inputtext.text-input2.js-date-input(autocomplete='off' value='' type='text' name='DATE_TO')
        +pageSubsection: +button(type='submit') Сформировать
