extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/admin-menu
  .container: .content: +grid.page-layout
    +asideMenu(adminMenu, 'Меню кабинета администратора')(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Кабинет
      +pageSubsection
        p Всего 1236 элементов
        p Список формируется из файла shop.a-silver.com/admin/gold_excess/gold_excess.txt и не является универсальным. Странциа создана временно и будет убрана после модификации импорта.
      +pageSubsection
        table
          thead
            tr
              th(style='width: 200px')
                | ID
              th(style='width: 200px')
                | Название
              th(style='width: 200px')
                | Внешний код
          tbody(style='text-align: center')
            tr
              td(style='padding: 5px 0')
                | 3114757
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114757&lang=ru&find_section_section=-1&WF=Y' target='_blank') 12490-100
              td(style='padding: 5px 0')
                | 12490-100
            tr
              td(style='padding: 5px 0')
                | 3114758
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114758&lang=ru&find_section_section=-1&WF=Y' target='_blank') 12792-200
              td(style='padding: 5px 0')
                | 12792-200
            tr
              td(style='padding: 5px 0')
                | 3114766
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114766&lang=ru&find_section_section=-1&WF=Y' target='_blank') 12648-102
              td(style='padding: 5px 0')
                | 12648-102
            tr
              td(style='padding: 5px 0')
                | 3114777
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114777&lang=ru&find_section_section=-1&WF=Y' target='_blank') 12508-109
              td(style='padding: 5px 0')
                | 12508-109
            tr
              td(style='padding: 5px 0')
                | 3114802
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114802&lang=ru&find_section_section=-1&WF=Y' target='_blank') 12795-100
              td(style='padding: 5px 0')
                | 12795-100
            tr
              td(style='padding: 5px 0')
                | 3114807
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114807&lang=ru&find_section_section=-1&WF=Y' target='_blank') 6122-117
              td(style='padding: 5px 0')
                | 6122-117
            tr
              td(style='padding: 5px 0')
                | 3114812
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114812&lang=ru&find_section_section=-1&WF=Y' target='_blank') 22638-Б00
              td(style='padding: 5px 0')
                | 22638-Б00
            tr
              td(style='padding: 5px 0')
                | 3114820
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114820&lang=ru&find_section_section=-1&WF=Y' target='_blank') 22313-100
              td(style='padding: 5px 0')
                | 22313-100
            tr
              td(style='padding: 5px 0')
                | 3114857
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114857&lang=ru&find_section_section=-1&WF=Y' target='_blank') 11905-800
              td(style='padding: 5px 0')
                | 11905-800
            tr
              td(style='padding: 5px 0')
                | 3114858
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114858&lang=ru&find_section_section=-1&WF=Y' target='_blank') 23099-102
              td(style='padding: 5px 0')
                | 23099-102
            tr
              td(style='padding: 5px 0')
                | 3114863
              td(style='padding: 5px 0')
                a(href='https://alikor.com/bitrix/admin/iblock_element_edit.php?IBLOCK_ID=45&type=shop_gold&ID=3114863&lang=ru&find_section_section=-1&WF=Y' target='_blank') 13139-300
              td(style='padding: 5px 0')
                | 13139-300
