extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/admin-menu
  .container: .content: +grid.page-layout
    +asideMenu(adminMenu, 'Меню кабинета администратора')(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Кабинет
      +pageSubsection({ tag: 'form' })(class= gridClasses() enctype='multipart/form-data' action='/admin/htpasswd/' method='post'): +cell({ l: 6, s: 8, xs: 12 })
        +pageSubsection
          label(for='login') Логин
          .pass-input(style='width: 100%')
            input#login.inputtext.text-input2(value='' type='text' name='login')
        +pageSubsection
          label(for='password') Пароль
          .pass-input(style='width: 100%')
            input#password.inputtext.text-input2(value='' type='text' name='password')
        +pageSubsection: +button(type='submit') Сгенерировать
