extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/admin-menu
  .container: .content: +grid.page-layout
    +asideMenu(adminMenu, 'Меню кабинета администратора')(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Кабинет
      +pageSubsection
        p В кабинете администратора вы можете увидеть список страниц, на которых выведены возможные проблемы сайта (список ссылок на страницы находится в меню выше). Выйти из кабинета администратора можно перейдя на любой другой пункт в меню (справа вверху).
