extends /blocks/layout/layout

include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button
include /blocks/aside-form/aside-form
include /blocks/indicator-block/indicator-block
include /blocks/date-block/date-block
include /blocks/tabs-menu/tabs-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/admin-menu
  .container: .content: +grid({ alignItems: 'flex-start' }).page-layout
    +cell({ l: 3, xs: 12 }).hidden-m.hidden-s.hidden-xs
      +pageSubsection({ level: 2 }).aside-block.aside-block--details
        .aside-block__title Как это работает?
        +pageSubsection({ level: 2, tag: 'p' }) Матрица позволяет наглядно оценить потребность в конкретном ассортименте
        +button({ tag: 'a' })(href='#').aside-block__button.page-subsection.page-subsection--level--2 Смотреть подсказки
      +pageSubsection({ level: 2 }).aside-block
        .aside-block__title Получить рекомендацию к отборке от эксперта-аналитика
        +pageSubsection({ level: 2 }): +managerBlock({
          image: 'manager-2',
          title: 'Михаил Веселов',
          info: 'Руководитель отдела аналитики',
        })
        +pageSubsection({ level: 2 })
          p.aside-block__subtitle Мы учтём все:
          ul.aside-block__list
            li Особенности вашего аcсортимента и продаж в регионе
            li Сезонность
            li Тренды и многое другое
    +cell({ l: 9, xs: 12 })
      +pageSubsection: a.city(href='javascript:void(0);' data-toggle='modal' data-target='#msnet-modal')
        span.city__dashed Клиент: Выберите клиента
        span.city__arrow 
      h1 АЛЬКОР Эксперт 
      +pageSubsection
        p Алькор Эксперт — информационно-аналитический кросс-сервис, позволяющий оперативно отслеживать показатели совместной работы и общие договорённости, производить подсортировку ассортимента и получать обратную связь от эксперта-аналитика.
      +tabsMenu([
        { name: 'Условия работы', href: '#', active: true },
        { name: 'Финансовые показатели', href: '#' },
        { name: 'Индивидуальное предложение', href: '#' },
      ]).page-subsection.page-subsection--level--2
      +pageSubsection(class= gridClasses()).hidden-hd.hidden-xl.hidden-l
        +cell({ l: 12, s: 6, xs: 12 }).aside-block.aside-block--details
          .aside-block__title Как это работает?
          +pageSubsection({ level: 2, tag: 'p' }) Матрица позволяет наглядно оценить потребность в конкретном ассортименте
          +button({ tag: 'a' })(href='#').aside-block__button.page-subsection.page-subsection--level--2 Смотреть подсказки
        +cell({ l: 12, s: 6, xs: 12 }).aside-block
          .aside-block__title Получить рекомендацию к отборке от эксперта-аналитика
          +pageSubsection({ level: 2 }): +managerBlock({
            image: 'manager-2',
            title: 'Михаил Веселов',
            info: 'Руководитель отдела аналитики',
          })
          +pageSubsection({ level: 2 })
            p.aside-block__subtitle Мы учтём все:
            ul.aside-block__list
              li Особенности вашего аcсортимента и продаж в регионе
              li Сезонность
              li Тренды и многое другое
      +pageSubsection
          div(style='height: 319px; display: flex; justify-content: center; align-items: center; background-color: #efefef') Таблица
