extends /blocks/layout/layout

include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button
include /blocks/aside-form/aside-form
include /blocks/indicator-block/indicator-block
include /blocks/date-block/date-block
include /blocks/tabs-menu/tabs-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/admin-menu
  .container: .content: +grid({ alignItems: 'flex-start' }).page-layout
    .aside-block(class= cellClasses({ l: 3, xs: 12 })).hidden-m.hidden-s.hidden-xs
      .aside-block__title Показатели работы по договору поставки
      p с 
        +dateBlock() 01.07.2021 г.
        |  по 
        +dateBlock() 01.07.2021 г.
      +grid.par
        +indicatorBlock({ title: 'Реализация', value: '5 933 385' }, 'purple')(class= cellClasses({ l: 12, s: 4, xs: 12 }))
        +indicatorBlock({ title: 'Оплата', value: '30 793 822' }, 'green')(class= cellClasses({ l: 12, s: 4, xs: 12 }))
        +indicatorBlock({ title: 'Возвраты', value: '5 933 385' }, 'pink')(class= cellClasses({ l: 12, s: 4, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      +pageSubsection: a.city(href='javascript:void(0);' data-toggle='modal' data-target='#msnet-modal')
        span.city__dashed Клиент: Выберите клиента
        span.city__arrow 
      h1 АЛЬКОР Эксперт 
      +pageSubsection
        p Алькор Эксперт — информационно-аналитический кросс-сервис, позволяющий оперативно отслеживать показатели совместной работы и общие договорённости, производить подсортировку ассортимента и получать обратную связь от эксперта-аналитика.
      +tabsMenu([
        { name: 'Условия работы', href: '#' },
        { name: 'Финансовые показатели', href: '#', active: true },
        { name: 'Индивидуальное предложение', href: '#' },
      ]).page-subsection.page-subsection--level--2
      +pageSubsection({ tag: 'h2' }) Финансовые показатели
      +tabsMenu([
        { name: 'ПОКАЗАТЕЛИ ПО ДОГОВОРУ ПОСТАВКИ', href: '#', active: true },
        { name: 'ПОКАЗАТЕЛИ ПО ДОГОВОРУ КОМИССИИ', href: '#' },
      ]).page-subsection.page-subsection--level--2 
      +pageSubsection.aside-block(class= cellClasses({ l: 3, xs: 12 })).hidden-hd.hidden-xl.hidden-l
        .aside-block__title Показатели работы по договору поставки
        p с 
          +dateBlock() 01.07.2021 г.
          |  по 
          +dateBlock() 01.07.2021 г. 
        +grid.par
          +indicatorBlock({ title: 'Реализация', value: '5 933 385' }, 'purple')(class= cellClasses({ l: 12, s: 4, xs: 12 }))
          +indicatorBlock({ title: 'Оплата', value: '30 793 822' }, 'green')(class= cellClasses({ l: 12, s: 4, xs: 12 }))
          +indicatorBlock({ title: 'Возвраты', value: '5 933 385' }, 'pink')(class= cellClasses({ l: 12, s: 4, xs: 12 }))
      +pageSubsection
        div(style='height: 319px; display: flex; justify-content: center; align-items: center; background-color: #efefef') Таблица
    .aside-block(class= cellClasses({ l: 3, xs: 12 })).hidden-m.hidden-s.hidden-xs
      .aside-block__title Дебиторская задолженность
      p Дебиторская задолженность клиента на
        br.hidden-m.hidden-s.hidden-xs
        +dateBlock() 01.07.2021 г.
      +indicatorBlock({ value: '5 933 385' }).par
    +cell({ l: 9, xs: 12 })
      +pageSubsection
        h2.h3 Дебиторская задолженность 
          span.tip
            a.tip__link.tip__link--round(href='#') !
            span.tip__body.tip__body--left ?
        +pageSubsection.aside-block.hidden-hd.hidden-xl.hidden-l
          .aside-block__title Дебиторская задолженность
          p Дебиторская задолженность клиента на
            br.hidden-m.hidden-s.hidden-xs
            +dateBlock() 01.07.2021 г.
          +indicatorBlock({ value: '5 933 385' }).par
        +pageSubsection({ level: 2 })
          div(style='height: 319px; display: flex; justify-content: center; align-items: center; background-color: #efefef') Таблица
