extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isLoginPage = true 
block content
  .authorization-page: +grid({ justify: 'center' }).authorization-page__form.content
    +blockMarked({ color: [ true, 'white' ] })(class= cellClasses({ l: 5, m: 8, s: 10, xs: 12 }))
      h2.authorization-page__title Войти в оптовый каталог
      +pageSubsection({ tag: 'p', level: 2 }).authorization-page__subtitle Нет учетной записи? 
        a(href='/register/') Зарегистрироваться
      +pageSubsection({ level: 2 })
        label(for='email') Email: *
        input#email.text-input2(type='email' value='' name='USER_LOGIN' required='' aria-required='true')
      +pageSubsection({ level: 2 })
        label(for='password') Пароль: *
        .pass-input
          input#password.text-input2.text-input2_pass(type='password' value='' name='USER_PASSWORD' required='' aria-required='true')
          span.pass-input__ico.js-show-pass 
      +pageSubsection({ tag: 'p', level: 2 }): a(href='/forgot/') Забыли пароль?
      +pageSubsection()(class= gridClasses({ alignItems: 'center', justify: 'center' }))
        +cell({ tag: 'p',  m: 8, xs: 12 }).authorization-page__clarification * Обязательные для заполнения поля
        +button({ type: 'submit' })(class= cellClasses({ m: 4, xs: 8 })) Войти
      +pageSubsection.authorization-page__description
        h4 После авторизации Вы получите:
        ul.marked-list
          li индивидуальные скидки;
          li доступ к специальным предложениям;
          li отслеживание статуса заказа;
          li информацию о новинках и акциях;
          li автоматическое заполнение данных при заказе.
        .form-warn Все данные наших клиентов надежно защищены!
