include /helpers/classes

include /blocks/grid/grid
include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button
include /blocks/tabs-menu/tabs-menu

link(href='/template/styles/style.css' rel='stylesheet')

-
  const cart = [
    {
      name: '11854-300',
      image: 'https://dummyimage.com/200x200',
      totalWeight: '8,76 г',
      totalPrice: '126 500 ₽',
      rows: [
        {
          name: '6 Бриллиант Круг 57 0.105 4/5 ; 1 Бриллиант',
          size: '17',
          weight: '2.17 г',
          price: '31 955 ₽',
          barcode: '4800007431229',
          total: '31 955 ₽',
          type: '<div class="tip"><a href="#" class="tip__link tip__link--round">!</a><div class="tip__body">со склада Кострома</div></div>со склада Кострома',
        },
        {
          name: '1 Бриллиант Круг 57 0.112 4/5 ; 6 Бриллиант',
          size: '17.5',
          weight: '2.31 г',
          price: '32 910 ₽',
          barcode: '4800006726890',
          total: '32 910 ₽',
          type: '<div class="tip"><a href="#" class="tip__link tip__link--round">!</a><div class="tip__body">со склада Кострома</div></div>со склада Кострома',
        },
        {
          name: '1 Бриллиант Круг 57 0.112 4/5 ; 6 Бриллиант',
          size: '17.5',
          weight: '2.31 г',
          price: '31 235 ₽',
          barcode: '4800007132683',
          total: '31 235 ₽',
          type: '<div class="tip"><a href="#" class="tip__link tip__link--round">!</a><div class="tip__body">со склада Кострома</div></div>со склада Кострома',
        },
      ],
    },
  ]
  
.container: .content.page-layout
  +pageSubsection
    each item in cart
      +grid.cart-item
        +cell({ l: 2, m: 4, s: 4, xs: 12 }).cart-item__image
          .cart-item__title !{item.name}
          img(src=`${item.image}` alt='')
        +cell({ l: 10, m: 8, s: 8, xs: 12 }).cart-item__rows
          .cart-item__row.cart-item__row--header.hidden-m.hidden-s.hidden-xs
            .cart-item__row-cell Номенклатура
            .cart-item__row-cell Размер
            .cart-item__row-cell Вес
            .cart-item__row-cell Стоимость
            .cart-item__row-cell Штрихкод / Количество
            .cart-item__row-cell Сумма
            .cart-item__row-cell Тип заказа
          each row in item.rows
            .cart-item__row.cart-row
              dl.cart-row__properties
                dt.cart-row__property-name Номенклатура
                dd.cart-row__property-value.cart-row__property-value--overflow-hidden !{row.name}
                dt.cart-row__property-name Размер
                dd.cart-row__property-value !{row.size}
                dt.cart-row__property-name Вес
                dd.cart-row__property-value !{row.weight}
                dt.cart-row__property-name Стоимость
                dd.cart-row__property-value !{row.price}
                dt.cart-row__property-name Штрихкод / Количество
                dd.cart-row__property-value !{row.barcode}
                dt.cart-row__property-name Сумма
                dd.cart-row__property-value !{row.total}
                dt.cart-row__property-name Тип заказа
                dd.cart-row__property-value !{row.type}
              a(href='#').cart-row__delete: span Удалить
          .cart-item__row.cart-item__row--total.cart-row--total
            dl.cart-row__properties.cart-row__properties--total
              dt.cart-row__property-name Всего
              dd.cart-row__property-value !{item.totalWeight}
              dt.cart-row__property-name Всего
              dd.cart-row__property-value !{item.totalPrice}
            .cart-item__comment
              +linkIcon({ icon: 'comment' })(href='#').cart-item__comment-link.par Добавить комментарий
              textarea.text-input2.js-product-comment(data-id='8987857' placeholder='Введите свой комментарий...').cart-item__comment-textarea.par
script(src='/template/scripts/script.js')
