extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button
include /blocks/tabs-menu/tabs-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const cart = [
      {
        name: '11854-300',
        image: 'https://dummyimage.com/200x200',
        totalWeight: '8,76 г',
        totalPrice: '126 500 ₽',
        rows: [
          {
            name: '6 Бриллиант Круг 57 0.105 4/5 ; 1 Бриллиант',
            size: '17',
            weight: '2.17 г',
            price: '31 955 ₽',
            barcode: '4800007431229',
            total: '31 955 ₽',
            type: '<div class="tip"><a href="#" class="tip__link tip__link--round">!</a><div class="tip__body">со склада Кострома</div></div>со склада Кострома',
          },
          {
            name: '1 Бриллиант Круг 57 0.112 4/5 ; 6 Бриллиант',
            size: '17.5',
            weight: '2.31 г',
            price: '32 910 ₽',
            barcode: '4800006726890',
            total: '32 910 ₽',
            type: '<div class="tip"><a href="#" class="tip__link tip__link--round">!</a><div class="tip__body">со склада Кострома</div></div>со склада Кострома',
          },
          {
            name: '1 Бриллиант Круг 57 0.112 4/5 ; 6 Бриллиант',
            size: '17.5',
            weight: '2.31 г',
            price: '31 235 ₽',
            barcode: '4800007132683',
            total: '31 235 ₽',
            type: '<div class="tip"><a href="#" class="tip__link tip__link--round">!</a><div class="tip__body">со склада Кострома</div></div>со склада Кострома',
          },
        ],
      },
      {
        name: '01-2958/00КЦ-00',
        image: 'https://dummyimage.com/200x200',
        totalWeight: '8,76 г',
        totalPrice: '126 500 ₽',
        rows: [
          {
            name: '2 Изумруд  Круг 0.757 2/2',
            size: '',
            weight: '4.21 г',
            price: '23 856 Р',
            barcode: '4800006645825',
            total: '23 856 Р',
            type: '<div class="tip"><a href="#" class="tip__link tip__link--round">!</a><div class="tip__body">со склада Кострома</div></div>со склада Кострома',
          },
          {
            name: '2 Изумруд  Круг 0.757 2/2',
            size: '',
            weight: '4.12 г',
            price: '19 464 Р',
            barcode: '4800005990940',
            total: '19 464 Р',
            type: '<div class="tip"><a href="#" class="tip__link tip__link--round">!</a><div class="tip__body">со склада Кострома</div></div>со склада Кострома',
          },
        ],
      },
    ]
    const total = {
      items: [
        {
          properties: [
            {
              name: 'Тип заказа',
              value: '<strong>Заказ со склада</strong> Краснодар'
            },
            {
              name: 'Позиции',
              value: '3'
            },
            {
              name: 'Вес',
              value: '8,17 г'
            },
            {
              name: 'Штрихкод / Количество',
              value: '3'
            },
            {
              name: 'Сумма',
              value: '<strong>95 080 Р</strong>'
            },
          ],
        },
        {
          properties: [
            {
              name: 'Тип заказа',
              value: '<strong>Заказ со склада</strong> Новосибирск'
            },
            {
              name: 'Позиции',
              value: '1'
            },
            {
              name: 'Вес',
              value: '4,23 г'
            },
            {
              name: 'Штрихкод / Количество',
              value: '1'
            },
            {
              name: 'Сумма',
              value: '<strong>23 937 Р</strong>'
            },
          ],
        },
        {
          properties: [
            {
              name: 'Тип заказа',
              value: '<strong>Заказ со склада</strong> Хабаровск'
            },
            {
              name: 'Позиции',
              value: '2'
            },
            {
              name: 'Вес',
              value: '8,33 г'
            },
            {
              name: 'Штрихкод / Количество',
              value: '2'
            },
            {
              name: 'Сумма',
              value: '<strong>43 320 Р</strong>'
            },
          ],
        },
        {
          properties: [
            {
              name: 'Тип заказа',
              value: '<strong>Заказ со склада</strong> Казахстан'
            },
            {
              name: 'Позиции',
              value: '2'
            },
            {
              name: 'Вес',
              value: '4,46 г'
            },
            {
              name: 'Штрихкод / Количество',
              value: '2'
            },
            {
              name: 'Сумма',
              value: '<strong>63 310 Р</strong>'
            },
          ],
        },
      ]
    }

  .container: .content.page-layout
    +pageSubsection: a.back-link.underlined-link(href='/gold/'): span.underlined-link__text Вернуться в каталог
    +pageSubsection(class= gridClasses({ alignItems: 'center' })).cart-title
      +cell({ tag: 'h1', l: 3, s: 4, xs: 12 }) Корзина
      +cell({ l: 3, s: 4, xs: 6 }): +linkIcon({ icon: 'print' })(href='#') Распечатать корзину
      +cell({ l: 3, s: 4, xs: 6 }).cart-title__delete: +linkIcon({ icon: 'delete' })(href='#') Очистить корзину
    .tabs.page-subsection
      a.tabs__item.tabs__item_large.active(href='/') Золото
      a.tabs__item.tabs__item_large(href='/') Серебро
    +pageSubsection(class= gridClasses()): +cell({ l: 12, s: 4, xs: 6 })
      .catalog-opener Фильтр
      .basket-radios
        .basket-radios__item.js-tabs__item.active Вся корзина
        .basket-radios__item.js-tabs__item Изделия со склада
        .basket-radios__item.js-tabs__item Изделия в производство
    +pageSubsection
      each item in cart
        +grid.cart-item
          +cell({ l: 2, m: 4, s: 4, xs: 12 }).cart-item__image
            .cart-item__title !{item.name}
            img(src=`${item.image}` alt='')
          +cell({ l: 10, m: 8, s: 8, xs: 12 }).cart-item__rows
            .cart-item__row.cart-item__row--header.hidden-m.hidden-s.hidden-xs
              .cart-item__row-cell Номенклатура
              .cart-item__row-cell Размер
              .cart-item__row-cell Вес
              .cart-item__row-cell Стоимость
              .cart-item__row-cell Штрихкод / Количество
              .cart-item__row-cell Сумма
              .cart-item__row-cell Тип заказа
            each row in item.rows
              .cart-item__row.cart-row
                dl.cart-row__properties
                  dt.cart-row__property-name Номенклатура
                  dd.cart-row__property-value.cart-row__property-value--overflow-hidden !{row.name}
                  dt.cart-row__property-name Размер
                  dd.cart-row__property-value !{row.size}
                  dt.cart-row__property-name Вес
                  dd.cart-row__property-value !{row.weight}
                  dt.cart-row__property-name Стоимость
                  dd.cart-row__property-value !{row.price}
                  dt.cart-row__property-name Штрихкод / Количество
                  dd.cart-row__property-value !{row.barcode}
                  dt.cart-row__property-name Сумма
                  dd.cart-row__property-value !{row.total}
                  dt.cart-row__property-name Тип заказа
                  dd.cart-row__property-value !{row.type}
                a(href='#').cart-row__delete: span Удалить
            .cart-item__row.cart-item__row--total.cart-row--total
              dl.cart-row__properties.cart-row__properties--total
                dt.cart-row__property-name Всего
                dd.cart-row__property-value !{item.totalWeight}
                dt.cart-row__property-name Всего
                dd.cart-row__property-value !{item.totalPrice}
              .cart-item__comment
                +linkIcon({ icon: 'comment' })(href='#').cart-item__comment-link.par Добавить комментарий
                textarea.text-input2.js-product-comment(data-id='8987857' placeholder='Введите свой комментарий...').cart-item__comment-textarea.par
    +pageSubsection.cart-total
      .cart-total__header
        .cart-total__cell Тип заказа
        .cart-total__cell Позиции
        .cart-total__cell Вес
        .cart-total__cell Штрихкод / Количество
        .cart-total__cell Сумма
      each item in total.items
        dl.cart-total__properties
          each property in item.properties
            dt.cart-total__property-name !{property.name}
            dd.cart-total__property-value !{property.value}
      .cart-total__footer
        .cart-total__cell.cart-total__footer-title Итого
        dl.cart-total__properties
          dt.cart-total__property-name Позиции
          dd.cart-total__property-value 8
          dt.cart-total__property-name Вес
          dd.cart-total__property-value 25,19 г
          dt.cart-total__property-name Штрихкод / Количество
          dd.cart-total__property-value 8
          dt.cart-total__property-name Сумма
          dd.cart-total__property-value: strong 225 647 Р
    +pageSubsection(class= gridClasses({ alignItems: 'center' })).cart-footer
      +cell({ l: 3, xs: 12}): a.back-link.ico-link__back.underlined-link.js-back-link-catalog(href='/gold/')
        span.underlined-link__text Вернуться к покупкам
      +cell({ l: 6, xs: 12 }).cart-footer__select
        p Выберите юридическое лицо от которого будет сделан заказ
        .jq-selectbox.jqselect.js-user-company
          select.js-user-company
            option(selected='' value='7525678') Перфиловы / Гаврилова Мария Александровна / 212205445542
            option(value='7527425') Перфиловы / Перфилов С.Н. / 526312229562
            option(value='7527426') Перфиловы / Перфилова Н.Н. / 523500498650
            option(value='7528021') Перфиловы / Сочкова Мария Александровна / 525406502173
          .jq-selectbox__select
            .jq-selectbox__select-text(style='width: 426.640625px;') Перфиловы / Гаврилова Мария Александровна / 212205445542
            .jq-selectbox__trigger
              .jq-selectbox__trigger-arrow
          .jq-selectbox__dropdown(style='width: 468.640625px; display: none;')
            ul
              li.selected.sel(style='')
                span Перфиловы / Гаврилова Мария Александровна / 212205445542
              li(style='')
                span Перфиловы / Перфилов С.Н. / 526312229562
              li(style='')
                span Перфиловы / Перфилова Н.Н. / 523500498650
              li(style='')
                span Перфиловы / Сочкова Мария Александровна / 525406502173
      +button(class= cellClasses({ l: 3, s: 4,  xs: 12 })).cart-footer__submit ПОДТВЕРДИТЬ ЗАКАЗ
