extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/button/button
include /blocks/tabs-menu/tabs-menu
include /blocks/slider/slider
include /blocks/list-item/list-item
include /blocks/promo-slider/promo-slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +promoSlider
    +slide.promo-slide
      +grid({ tag: 'a', alignItems: 'center' })(href='#')
        +cell({ s: 6, xs: 12 }).promo-slide__info
          .promo-slide__title Оцените возможности обновленной
            br
            | стартовой страницы каталога:
          p.promo-slide__caption видеообзоры новинок, рекламные материалы,
            br
            | заказ упаковки и оперативная подсортировка с помощью
            br
            | индивидуального предложения
        +cell({ s: 6, xs: 12 }).promo-slide__image
          +img({
            name: 'banner-dlya-shopalikor',
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'png', orig: true }
            ]
          })
    +slide.promo-slide
      +grid({ tag: 'a', alignItems: 'center' })(href='#')
        +cell({ s: 6, xs: 12 }).promo-slide__info
          .promo-slide__title В День Рождения АЛЬКОР
            br
            | все подарки - ваши!
          p.promo-slide__caption Продавайте украшения АЛЬКОР
            br
            | и выиграйте один из множества подарков
        +cell({ s: 6, xs: 12 }).promo-slide__image
          +img({
            name: 'banner-dlya-shopalikor',
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'png', orig: true }
            ]
          })
    +slide.promo-slide
      +grid({ tag: 'a', alignItems: 'center' })(href='#')
        +cell({ s: 6, xs: 12 }).promo-slide__info
          .promo-slide__title В День Рождения АЛЬКОР
            br
            | все подарки - ваши!
          p.promo-slide__caption Продавайте украшения АЛЬКОР
            br
            | и выиграйте один из множества подарков
        +cell({ s: 6, xs: 12 }).promo-slide__image
          +img({
            name: 'banner-dlya-shopalikor',
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'png', orig: true }
            ]
          })

  .container.page-container: .content
    .tabs.page-subsection
      a.tabs__item.tabs__item_large.active(href='/') Золото
      a.tabs__item.tabs__item_large(href='/') Серебро
    +grid({ alignItems: 'center' }).page-subsection
      +cell({ tag: 'h1', l: 4, m: 6, xs: 12 }) Каталог товаров
      +cell({ l: 5, m: 6, xs: 12 }).stock-select.drop-wrap В наличии на складе:
        span.stock-select__link.drop-wrap__hover_arrow.drop-wrap__hover.js-drop-click.underlined-link
          span.underlined-link__text.js-bases-list Выберите склад
        .drop-down
          .drop-down__cont
            ul.checkbox-list.js-bases-checkbox
              li.checkbox-list__item
                label.checkbox
                  input.checkbox__input(type='checkbox' value='63')
                  span.checkbox__text Кострома
              li.checkbox-list__item
                label.checkbox
                  input.checkbox__input(type='checkbox' value='64')
                  span.checkbox__text Екатеринбург
              li.checkbox-list__item
                label.checkbox
                  input.checkbox__input(type='checkbox' value='65')
                  span.checkbox__text Краснодар
              li.checkbox-list__item
                label.checkbox
                  input.checkbox__input(type='checkbox' value='66')
                  span.checkbox__text Новосибирск
              li.checkbox-list__item
                label.checkbox
                  input.checkbox__input(type='checkbox' value='67')
                  span.checkbox__text Хабаровск
              li.checkbox-list__item
                label.checkbox
                  input.checkbox__input(type='checkbox' value='68')
                  span.checkbox__text Казахстан
            .btn-type1.js-bases-show.base-show-btn Показать
    .catalog-layout.page-subsection
      form.catalog-layout__form
        .catalog-layout__search.vendor-search
          input.text-input.js-vendor-autocomplete.ui-autocomplete-input(type='text' value='' placeholder='Поиск по артикулу' data-catalog='gold' autocomplete='off')
          span.vendor-search__submit 
        .catalog-layout__filter
          button(type='button').catalog-opener Фильтр
          .catalog-filter
            .catalog-filter__title Фильтр
              button(type='button').catalog-filter__close
            .catalog-filter__inner.bx-filter-parameters-box
              span.bx-filter-container-modef
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Заказывали ранее
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_show_order' title='Выберите - чтобы посмотреть в каталоге все украшения которые вы заказывали ранее')
                        input#show_order.checkbox__input(type='checkbox' value='y' name='show_order' data-id='' onclick='smartFilter.checkShow(this);smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Показать
                    li.checkbox-list__item
                      label.checkbox(data-role='label_hide_order' title='Выберите - чтобы исключить из показа в каталоге украшения которые вы заказывали ранее')
                        input#hide_order.checkbox__input(type='checkbox' value='n' name='show_order' data-id='' onclick='smartFilter.checkShow(this);smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Скрыть в каталоге
                    li.checkbox-list__item
                      label.checkbox(data-role='label_hide_order' title='Выберите - чтобы смотреть украшения которые похожи на те что вы заказывали ранее')
                        input#hide_order.checkbox__input(type='checkbox' value='s' name='show_order' data-id='' onclick='smartFilter.checkShow(this);smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Показать похожие
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Вставка
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox.filter-name-header(data-role='label_arrCustomFilter_213_155395596')
                        input#arrCustomFilter_213_155395596.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='MAIN_INSERT_BRILLIANT_ONLY' value='Y' name='arrCustomFilter_213_155395596' data-id='89' data-valueinfo='null' data-valuename='Бриллиант' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Бриллиант
                    li.checkbox-list__item.checkbox-list__item_arrow
                      span.arrow.js-toggle-checkboxes-top 
                      label.checkbox.filter-name-header.no-click(data-role='label_arrCustomFilter_253_1755155148')
                        input#arrCustomFilter_253_1755155148.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='MAIN_INSERT_TSVETNIK' value='Y' name='arrCustomFilter_253_1755155148' data-id='129' data-valueinfo='null' data-valuename='Цветник' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Цветник
                      .checkbox-list__hidden-cont(style=' ')
                        ul.checkbox-list.checkbox-list_sub-list
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_211_4009429771')
                              input#arrCustomFilter_211_4009429771.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_211_4009429771' data-id='87' data-valueinfo='null' data-valuename='Сапфир' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Сапфир
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_212_2118391450')
                              input#arrCustomFilter_212_2118391450.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_212_2118391450' data-id='88' data-valueinfo='null' data-valuename='Рубин' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Рубин
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_216_2274021061')
                              input#arrCustomFilter_216_2274021061.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_216_2274021061' data-id='92' data-valueinfo='null' data-valuename='Изумруд' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Изумруд
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_210_2583444381')
                              input#arrCustomFilter_210_2583444381.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_210_2583444381' data-id='86' data-valueinfo='null' data-valuename='С бриллиантом' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | С бриллиантом
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_217_4035837523')
                              input#arrCustomFilter_217_4035837523.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_217_4035837523' data-id='93' data-valueinfo='null' data-valuename='Без бриллиантов' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Без бриллиантов
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_219_435051366')
                              input#arrCustomFilter_219_435051366.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_219_435051366' data-id='95' data-valueinfo='null' data-valuename='Агат зеленый' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Агат зеленый
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_227_3128820048')
                              input#arrCustomFilter_227_3128820048.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_227_3128820048' data-id='103' data-valueinfo='null' data-valuename='Г.Т.сапфир' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Г.Т.сапфир
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_232_766302424')
                              input#arrCustomFilter_232_766302424.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_232_766302424' data-id='108' data-valueinfo='null' data-valuename='Оникс' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Оникс
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_238_1023518130')
                              input#arrCustomFilter_238_1023518130.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_238_1023518130' data-id='114' data-valueinfo='null' data-valuename='Сапфир белый' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Сапфир белый
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_240_3541025950')
                              input#arrCustomFilter_240_3541025950.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_240_3541025950' data-id='116' data-valueinfo='null' data-valuename='Сапфир жёлтый' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Сапфир жёлтый
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_243_1135663375')
                              input#arrCustomFilter_243_1135663375.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_243_1135663375' data-id='119' data-valueinfo='null' data-valuename='Танзанит' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Танзанит
                    li.checkbox-list__item
                      label.checkbox.filter-name-header(data-role='label_arrCustomFilter_214_1770303465')
                        input#arrCustomFilter_214_1770303465.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='MAIN_INSERT_NO' value='Y' name='arrCustomFilter_214_1770303465' data-id='90' data-valueinfo='null' data-valuename='Без вставок' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Без вставок
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Вид изделия
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item.checkbox-list__item_arrow.js-custom-filter-header-item
                      span.arrow.js-toggle-checkboxes-top 
                      label.checkbox.filter-name-header.no-click
                        input.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-id='751122')
                        span.checkbox__text
                          span.filter-text Кольца
                      .checkbox-list__hidden-cont(style=' ')
                        ul.checkbox-list.checkbox-list_sub-list
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_4276257860')
                              input#arrCustomFilter_160_4276257860.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_4276257860' data-id='751123' data-valueinfo='null' data-valuename='Обручальное' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Обручальное
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_1619399143')
                              input#arrCustomFilter_160_1619399143.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_1619399143' data-id='751124' data-valueinfo='null' data-valuename='Ювелирное' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Ювелирное
                    li.checkbox-list__item.checkbox-list__item_arrow.js-custom-filter-header-item
                      span.arrow.js-toggle-checkboxes-top 
                      label.checkbox.filter-name-header.no-click
                        input.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-id='751117')
                        span.checkbox__text
                          span.filter-text Серьги
                      .checkbox-list__hidden-cont(style=' ')
                        ul.checkbox-list.checkbox-list_sub-list
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_890912409')
                              input#arrCustomFilter_160_890912409.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_890912409' data-id='751119' data-valueinfo='null' data-valuename='Английский' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Английский
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_1743508990')
                              input#arrCustomFilter_160_1743508990.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_1743508990' data-id='751120' data-valueinfo='null' data-valuename='Французский' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Французский
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_283960680')
                              input#arrCustomFilter_160_283960680.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_283960680' data-id='751121' data-valueinfo='null' data-valuename='Пусеты' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Пусеты
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_1106312227')
                              input#arrCustomFilter_160_1106312227.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_1106312227' data-id='2040007' data-valueinfo='null' data-valuename='Продёвки' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Продёвки
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_564332697')
                              input#arrCustomFilter_160_564332697.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_564332697' data-id='2944060' data-valueinfo='null' data-valuename='Крючок' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Крючок
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_1109200399')
                              input#arrCustomFilter_160_1109200399.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_1109200399' data-id='751118' data-valueinfo='null' data-valuename='Пусета одиночная' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Пусета одиночная
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_1301096796')
                              input#arrCustomFilter_160_1301096796.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_1301096796' data-id='4462781' data-valueinfo='null' data-valuename='Конго' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Конго
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_406885015')
                              input#arrCustomFilter_160_406885015.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_406885015' data-id='4273662' data-valueinfo='null' data-valuename='С прижимной петлей' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | С прижимной петлей
                    li.checkbox-list__item.checkbox-list__item_arrow
                      span.arrow.js-toggle-checkboxes-top 
                      label.checkbox.filter-name-header.no-click(data-role='label_arrCustomFilter_160_394338673')
                        input#arrCustomFilter_160_394338673.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='751125' value='Y' name='arrCustomFilter_160_394338673' data-id='751125' data-valueinfo='null' data-valuename='Подвеска' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Подвеска
                      .checkbox-list__hidden-cont(style=' ')
                        ul.checkbox-list.checkbox-list_sub-list
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_4186914909')
                              input#arrCustomFilter_160_4186914909.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_4186914909' data-id='751127' data-valueinfo='null' data-valuename='Кресты' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Кресты
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_2391306443')
                              input#arrCustomFilter_160_2391306443.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_2391306443' data-id='751126' data-valueinfo='null' data-valuename='Декоративные' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Декоративные
                    li.checkbox-list__item.checkbox-list__item_arrow.js-custom-filter-header-item
                      span.arrow.js-toggle-checkboxes-top 
                      label.checkbox.filter-name-header.no-click
                        input.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-id='751131')
                        span.checkbox__text
                          span.filter-text Брошь
                      .checkbox-list__hidden-cont(style=' ')
                        ul.checkbox-list.checkbox-list_sub-list
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_3891901701')
                              input#arrCustomFilter_160_3891901701.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_3891901701' data-id='751133' data-valueinfo='null' data-valuename='Декоративные' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Декоративные
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_160_2432599443')
                              input#arrCustomFilter_160_2432599443.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_2432599443' data-id='751132' data-valueinfo='null' data-valuename='Булавки' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | Булавки
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox.filter-name-header(data-role='label_arrCustomFilter_160_2129716415')
                        input#arrCustomFilter_160_2129716415.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='751130' value='Y' name='arrCustomFilter_160_2129716415' data-id='751130' data-valueinfo='null' data-valuename='Браслет' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Браслет
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox.filter-name-header(data-role='label_arrCustomFilter_160_1764777420')
                        input#arrCustomFilter_160_1764777420.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='751128' value='Y' name='arrCustomFilter_160_1764777420' data-id='751128' data-valueinfo='null' data-valuename='Колье' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Колье
                    li.checkbox-list__item.checkbox-list__item_arrow.checkbox-list__item_hidden.js-custom-filter-header-item
                      span.arrow.js-toggle-checkboxes-top 
                      label.checkbox.filter-name-header.no-click
                        input.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-id='751129')
                        span.checkbox__text
                          span.filter-text Пирсинг
                      .checkbox-list__hidden-cont(style=' ')
                        ul.checkbox-list.checkbox-list_sub-list
                          li.checkbox-list__item.checkbox-list__item_hidden
                            label.checkbox(data-role='label_arrCustomFilter_160_1530269801')
                              input#arrCustomFilter_160_1530269801.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_1530269801' data-id='7698920' data-valueinfo='null' data-valuename='В нос' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | В нос
                          li.checkbox-list__item.checkbox-list__item_hidden
                            label.checkbox(data-role='label_arrCustomFilter_160_256470804')
                              input#arrCustomFilter_160_256470804.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_160_256470804' data-id='7672581' data-valueinfo='null' data-valuename='В пупок' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | В пупок
                  .btn-type1.js-filter-more(data-hide='Скрыть' data-show='Еще 3') Еще 3
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Коллекция
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_168_1240333437')
                        input#arrCustomFilter_168_1240333437.checkbox__input.keyword_collection_751214(type='checkbox' value='Y' name='arrCustomFilter_168_1240333437' data-id='751214' onclick='smartFilter.click(this)' data-keyword='751214')
                        span.checkbox__text
                          | Classic
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_168_928809152')
                        input#arrCustomFilter_168_928809152.checkbox__input.keyword_collection_751219(type='checkbox' value='Y' name='arrCustomFilter_168_928809152' data-id='751219' onclick='smartFilter.click(this)' data-keyword='751219')
                        span.checkbox__text
                          | Romantic
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_168_1055575275')
                        input#arrCustomFilter_168_1055575275.checkbox__input.keyword_collection_751215(type='checkbox' value='Y' name='arrCustomFilter_168_1055575275' data-id='751215' onclick='smartFilter.click(this)' data-keyword='751215')
                        span.checkbox__text
                          | Magic colors
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_168_1656795070')
                        input#arrCustomFilter_168_1656795070.checkbox__input.keyword_collection_751224(type='checkbox' value='Y' name='arrCustomFilter_168_1656795070' data-id='751224' onclick='smartFilter.click(this)' data-keyword='751224')
                        span.checkbox__text
                          | Neoclassic
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_3504647623')
                        input#arrCustomFilter_168_3504647623.checkbox__input.keyword_collection_751217(type='checkbox' value='Y' name='arrCustomFilter_168_3504647623' data-id='751217' onclick='smartFilter.click(this)' data-keyword='751217')
                        span.checkbox__text
                          | Europe
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_1156644023')
                        input#arrCustomFilter_168_1156644023.checkbox__input.keyword_collection_751241(type='checkbox' value='Y' name='arrCustomFilter_168_1156644023' data-id='751241' onclick='smartFilter.click(this)' data-keyword='751241')
                        span.checkbox__text
                          | Fettuccine
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_3724127501')
                        input#arrCustomFilter_168_3724127501.checkbox__input.keyword_collection_751242(type='checkbox' value='Y' name='arrCustomFilter_168_3724127501' data-id='751242' onclick='smartFilter.click(this)' data-keyword='751242')
                        span.checkbox__text
                          | Golden Fall
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_2092325606')
                        input#arrCustomFilter_168_2092325606.checkbox__input.keyword_collection_751230(type='checkbox' value='Y' name='arrCustomFilter_168_2092325606' data-id='751230' onclick='smartFilter.click(this)' data-keyword='751230')
                        span.checkbox__text
                          | Illusion
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_215789161')
                        input#arrCustomFilter_168_215789161.checkbox__input.keyword_collection_751235(type='checkbox' value='Y' name='arrCustomFilter_168_215789161' data-id='751235' onclick='smartFilter.click(this)' data-keyword='751235')
                        span.checkbox__text
                          | Kids & Family
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_1705864103')
                        input#arrCustomFilter_168_1705864103.checkbox__input.keyword_collection_751220(type='checkbox' value='Y' name='arrCustomFilter_168_1705864103' data-id='751220' onclick='smartFilter.click(this)' data-keyword='751220')
                        span.checkbox__text
                          | Men's
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_2340578034')
                        input#arrCustomFilter_168_2340578034.checkbox__input.keyword_collection_6883303(type='checkbox' value='Y' name='arrCustomFilter_168_2340578034' data-id='6883303' onclick='smartFilter.click(this)' data-keyword='6883303')
                        span.checkbox__text
                          | ORIGAMI
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_196176496')
                        input#arrCustomFilter_168_196176496.checkbox__input.keyword_collection_751231(type='checkbox' value='Y' name='arrCustomFilter_168_196176496' data-id='751231' onclick='smartFilter.click(this)' data-keyword='751231')
                        span.checkbox__text
                          | Religious
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_1300279871')
                        input#arrCustomFilter_168_1300279871.checkbox__input.keyword_collection_2938688(type='checkbox' value='Y' name='arrCustomFilter_168_1300279871' data-id='2938688' onclick='smartFilter.click(this)' data-keyword='2938688')
                        span.checkbox__text
                          | Simple
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_2362363538')
                        input#arrCustomFilter_168_2362363538.checkbox__input.keyword_collection_751226(type='checkbox' value='Y' name='arrCustomFilter_168_2362363538' data-id='751226' onclick='smartFilter.click(this)' data-keyword='751226')
                        span.checkbox__text
                          | Sonata
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_1079750742')
                        input#arrCustomFilter_168_1079750742.checkbox__input.keyword_collection_751218(type='checkbox' value='Y' name='arrCustomFilter_168_1079750742' data-id='751218' onclick='smartFilter.click(this)' data-keyword='751218')
                        span.checkbox__text
                          | SuperLight
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_313154353')
                        input#arrCustomFilter_168_313154353.checkbox__input.keyword_collection_751221(type='checkbox' value='Y' name='arrCustomFilter_168_313154353' data-id='751221' onclick='smartFilter.click(this)' data-keyword='751221')
                        span.checkbox__text
                          | Trendy
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_2816712017')
                        input#arrCustomFilter_168_2816712017.checkbox__input.keyword_collection_751216(type='checkbox' value='Y' name='arrCustomFilter_168_2816712017' data-id='751216' onclick='smartFilter.click(this)' data-keyword='751216')
                        span.checkbox__text
                          | Wedding Rings
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_168_1648846519')
                        input#arrCustomFilter_168_1648846519.checkbox__input.keyword_collection_6084855(type='checkbox' value='Y' name='arrCustomFilter_168_1648846519' data-id='6084855' onclick='smartFilter.click(this)' data-keyword='6084855')
                        span.checkbox__text
                          | ZODIAC
                  .btn-type1.js-filter-more(data-hide='Скрыть' data-show='Еще 14') Еще 14
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Цвет золота
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_159_473141141')
                        input#arrCustomFilter_159_473141141.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_159_473141141' data-id='751074' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Белое
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_159_1798618883')
                        input#arrCustomFilter_159_1798618883.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_159_1798618883' data-id='751075' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Желтое
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_159_2186746422')
                        input#arrCustomFilter_159_2186746422.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_159_2186746422' data-id='751073' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Красное
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_159_2235227695')
                        input#arrCustomFilter_159_2235227695.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_159_2235227695' data-id='751077' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | КрасноеБелоеЖелтое
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_159_4064145081')
                        input#arrCustomFilter_159_4064145081.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_159_4064145081' data-id='751076' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Родаж Красное
                  .btn-type1.js-filter-more(data-hide='Скрыть' data-show='Еще 1') Еще 1
              .filter-row.checkboxes-type.js-check-spec-filter(style=' display:none;')
                strong.filter-row__title.js-toggle-filter-row.closed Акция
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_162_3918974738')
                        input#arrCustomFilter_162_3918974738.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_162_3918974738' data-id='83' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 1
              .filter-row.checkboxes-type.js-check-new-filter(style='display:none; ')
                strong.filter-row__title.js-toggle-filter-row.closed Новинка
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_166_2660368260')
                        input#arrCustomFilter_166_2660368260.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_166_2660368260' data-id='82' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 1
              .filter-row.checkboxes-type.js-check-hit-filter(style=' display:none;')
                strong.filter-row__title.js-toggle-filter-row.closed Хит
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_167_127446590')
                        input#arrCustomFilter_167_127446590.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_167_127446590' data-id='81' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 1
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Огранка
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item.checkbox-list__item_arrow
                      span.arrow.js-toggle-checkboxes-top 
                      label.checkbox.filter-name-header.no-click(data-role='label_arrCustomFilter_189_644991755')
                        input#arrCustomFilter_189_644991755.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='751158' value='Y' name='arrCustomFilter_189_644991755' data-id='751158' data-valueinfo='null' data-valuename='Круг' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Круг
                      .checkbox-list__hidden-cont(style=' ')
                        ul.checkbox-list.checkbox-list_sub-list
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_189_811005626')
                              input#arrCustomFilter_189_811005626.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_189_811005626' data-id='2141307' data-valueinfo='null' data-valuename='57 граней' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | 57 граней
                          li.checkbox-list__item
                            label.checkbox(data-role='label_arrCustomFilter_189_2699684651')
                              input#arrCustomFilter_189_2699684651.checkbox__input.js-click-level-two(type='checkbox' value='Y' name='arrCustomFilter_189_2699684651' data-id='2141308' data-valueinfo='null' data-valuename='17 граней' onclick='clickFilter(smartFilter,this)')
                              span.checkbox__text
                                | 17 граней
                    li.checkbox-list__item
                      label.checkbox.filter-name-header(data-role='label_arrCustomFilter_189_3985207766')
                        input#arrCustomFilter_189_3985207766.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='751162' value='Y' name='arrCustomFilter_189_3985207766' data-id='751162' data-valueinfo='null' data-valuename='Овал' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Овал
                    li.checkbox-list__item
                      label.checkbox.filter-name-header(data-role='label_arrCustomFilter_189_59183354')
                        input#arrCustomFilter_189_59183354.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='751160' value='Y' name='arrCustomFilter_189_59183354' data-id='751160' data-valueinfo='null' data-valuename='Груша' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Груша
                    li.checkbox-list__item
                      label.checkbox.filter-name-header(data-role='label_arrCustomFilter_189_1954553964')
                        input#arrCustomFilter_189_1954553964.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='751161' value='Y' name='arrCustomFilter_189_1954553964' data-id='751161' data-valueinfo='null' data-valuename='Маркиз' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Маркиз
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox.filter-name-header(data-role='label_arrCustomFilter_189_4103225495')
                        input#arrCustomFilter_189_4103225495.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='751172' value='Y' name='arrCustomFilter_189_4103225495' data-id='751172' data-valueinfo='null' data-valuename='Квадрат Кабошон' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Квадрат Кабошон
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox.filter-name-header(data-role='label_arrCustomFilter_189_82498787')
                        input#arrCustomFilter_189_82498787.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='751164' value='Y' name='arrCustomFilter_189_82498787' data-id='751164' data-valueinfo='null' data-valuename='Квадрат' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Квадрат
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox.filter-name-header(data-role='label_arrCustomFilter_189_1366752157')
                        input#arrCustomFilter_189_1366752157.checkbox__input.js-filter-custom-checkbox(type='checkbox' data-prop-val='751159' value='Y' name='arrCustomFilter_189_1366752157' data-id='751159' data-valueinfo='null' data-valuename='Принцесса' onclick='clickFilter(smartFilter,this)')
                        span.checkbox__text
                          span.filter-text Принцесса
                  .btn-type1.js-filter-more(data-hide='Скрыть' data-show='Еще 3') Еще 3
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Рассев
                .filter-row__cont
                  ul.checkbox-list.checkbox-list_two-col(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_190_488005007')
                        input#arrCustomFilter_190_488005007.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_488005007' data-id='751193' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 400-200
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_190_1779526937')
                        input#arrCustomFilter_190_1779526937.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_1779526937' data-id='751192' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 200-120
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_190_776450433')
                        input#arrCustomFilter_190_776450433.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_776450433' data-id='751209' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 120-90
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_190_2205337644')
                        input#arrCustomFilter_190_2205337644.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_2205337644' data-id='751194' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 90-60
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_1358351676')
                        input#arrCustomFilter_190_1358351676.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_1358351676' data-id='751204' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 60-40
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_547109299')
                        input#arrCustomFilter_190_547109299.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_547109299' data-id='751201' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 30-25
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_3465697439')
                        input#arrCustomFilter_190_3465697439.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_3465697439' data-id='751203' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 40-30
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_1469778213')
                        input#arrCustomFilter_190_1469778213.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_1469778213' data-id='751200' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 25-20
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_4257461393')
                        input#arrCustomFilter_190_4257461393.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_4257461393' data-id='751199' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 20-15
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_2328134663')
                        input#arrCustomFilter_190_2328134663.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_2328134663' data-id='751198' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 15-10
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_190_3388972166')
                        input#arrCustomFilter_190_3388972166.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_3388972166' data-id='751207' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 10-7
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_190_1497399575')
                        input#arrCustomFilter_190_1497399575.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_1497399575' data-id='751208' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 7-6
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_190_3203968016')
                        input#arrCustomFilter_190_3203968016.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_3203968016' data-id='751206' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 6-5
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_190_670170538')
                        input#arrCustomFilter_190_670170538.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_670170538' data-id='751205' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 5-4
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_3113576457')
                        input#arrCustomFilter_190_3113576457.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_3113576457' data-id='751202' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 4-3,4
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_3983460859')
                        input#arrCustomFilter_190_3983460859.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_3983460859' data-id='751185' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 0,30-0,39
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_4101372090')
                        input#arrCustomFilter_190_4101372090.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_4101372090' data-id='751195' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 0,40-0,49
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_1836886272')
                        input#arrCustomFilter_190_1836886272.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_1836886272' data-id='751196' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 0,50-0,59
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_1317025892')
                        input#arrCustomFilter_190_1317025892.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_1317025892' data-id='751210' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 0,60-0,69
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_190_965150962')
                        input#arrCustomFilter_190_965150962.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_190_965150962' data-id='751211' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 0,70-0,79
                  .btn-type1.js-filter-more(data-hide='Скрыть' data-show='Еще 12') Еще 12
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Тематика
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_170_118699876')
                        input#arrCustomFilter_170_118699876.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_118699876' data-id='4715987' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Faretto
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_170_1215154908')
                        input#arrCustomFilter_170_1215154908.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_1215154908' data-id='751149' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Алмазная таблетка
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_170_120347675')
                        input#arrCustomFilter_170_120347675.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_120347675' data-id='751139' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Бегунок
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_170_433756751')
                        input#arrCustomFilter_170_433756751.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_433756751' data-id='8275468' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Буквы
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_833712760')
                        input#arrCustomFilter_170_833712760.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_833712760' data-id='751140' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Геометрия
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_42826112')
                        input#arrCustomFilter_170_42826112.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_42826112' data-id='3056440' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Двойные касты
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_1605202863')
                        input#arrCustomFilter_170_1605202863.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_1605202863' data-id='751151' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Дорожка
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_1538765368')
                        input#arrCustomFilter_170_1538765368.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_1538765368' data-id='2967929' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Европейский стиль
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_1866965505')
                        input#arrCustomFilter_170_1866965505.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_1866965505' data-id='4273663' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Жёсткий браслет
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_2950031323')
                        input#arrCustomFilter_170_2950031323.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_2950031323' data-id='751147' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Животные
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_4045617058')
                        input#arrCustomFilter_170_4045617058.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_4045617058' data-id='4273664' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Звеньевой браслет
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_682246969')
                        input#arrCustomFilter_170_682246969.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_682246969' data-id='751150' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Зеркальный каст
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_1453602831')
                        input#arrCustomFilter_170_1453602831.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_1453602831' data-id='2944061' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Иллюзия
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_3506029812')
                        input#arrCustomFilter_170_3506029812.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_3506029812' data-id='3427582' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Имитация обсыпки
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_749765294')
                        input#arrCustomFilter_170_749765294.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_749765294' data-id='2967928' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Итальянский дизайн
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_1104905975')
                        input#arrCustomFilter_170_1104905975.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_1104905975' data-id='751145' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Картье
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_3172202900')
                        input#arrCustomFilter_170_3172202900.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_3172202900' data-id='7097439' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Кольцо незамкнутое
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_2676896917')
                        input#arrCustomFilter_170_2676896917.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_2676896917' data-id='3416807' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Конго
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_1186349806')
                        input#arrCustomFilter_170_1186349806.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_1186349806' data-id='751141' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Корона
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_2543010186')
                        input#arrCustomFilter_170_2543010186.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_2543010186' data-id='751136' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Малинки
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_997211101')
                        input#arrCustomFilter_170_997211101.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_997211101' data-id='2967930' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | По мотивам брендов
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_2936956473')
                        input#arrCustomFilter_170_2936956473.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_2936956473' data-id='4975929' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Православная подвеска
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_3624490671')
                        input#arrCustomFilter_170_3624490671.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_3624490671' data-id='4975928' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Православный крест
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_3390359810')
                        input#arrCustomFilter_170_3390359810.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_3390359810' data-id='7097438' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Пусеты-трансформеры
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_2544642805')
                        input#arrCustomFilter_170_2544642805.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_2544642805' data-id='4715988' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | С плоскими крапанами
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_3753841492')
                        input#arrCustomFilter_170_3753841492.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_3753841492' data-id='751142' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Сердце
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_3767824668')
                        input#arrCustomFilter_170_3767824668.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_3767824668' data-id='751137' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Серьги длинные
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_3484248501')
                        input#arrCustomFilter_170_3484248501.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_3484248501' data-id='2944062' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Спичка
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_2830640066')
                        input#arrCustomFilter_170_2830640066.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_2830640066' data-id='751143' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Флора
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_2980254339')
                        input#arrCustomFilter_170_2980254339.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_2980254339' data-id='751153' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Чалма
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_3098171683')
                        input#arrCustomFilter_170_3098171683.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_3098171683' data-id='2944063' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Шинка "Тиффани"
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_1675174410')
                        input#arrCustomFilter_170_1675174410.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_1675174410' data-id='2950076' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Шинка Комфорт
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_170_3637696333')
                        input#arrCustomFilter_170_3637696333.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_170_3637696333' data-id='751146' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Южный вариант
                  .btn-type1.js-filter-more(data-hide='Скрыть' data-show='Еще 29') Еще 29
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Материал
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_171_1681295434')
                        input#arrCustomFilter_171_1681295434.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_171_1681295434' data-id='6464482' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Леска
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_171_2230891544')
                        input#arrCustomFilter_171_2230891544.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_171_2230891544' data-id='751177' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Эмаль
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Матирование
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_169_1889509032')
                        input#arrCustomFilter_169_1889509032.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_169_1889509032' data-id='80' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Да
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Размер
                .filter-row__cont
                  ul.checkbox-list.checkbox-list_two-col(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_183_111962810')
                        input#arrCustomFilter_183_111962810.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_111962810' data-id='751264' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 14
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_183_29470371')
                        input#arrCustomFilter_183_29470371.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_29470371' data-id='751260' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 14.5
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_183_2868813211')
                        input#arrCustomFilter_183_2868813211.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_2868813211' data-id='751243' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 15
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_183_882509880')
                        input#arrCustomFilter_183_882509880.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_882509880' data-id='751244' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 15.5
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_1134377134')
                        input#arrCustomFilter_183_1134377134.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_1134377134' data-id='751245' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 16
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_364325177')
                        input#arrCustomFilter_183_364325177.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_364325177' data-id='7346428' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 16-19
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_3667159316')
                        input#arrCustomFilter_183_3667159316.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_3667159316' data-id='751246' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 16.5
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_2912115074')
                        input#arrCustomFilter_183_2912115074.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_2912115074' data-id='751247' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 17
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_3830361464')
                        input#arrCustomFilter_183_3830361464.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_3830361464' data-id='6981156' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 17-19
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_1026311187')
                        input#arrCustomFilter_183_1026311187.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_1026311187' data-id='751248' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 17.5
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_1244361861')
                        input#arrCustomFilter_183_1244361861.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_1244361861' data-id='751249' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 18
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_720174432')
                        input#arrCustomFilter_183_720174432.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_720174432' data-id='751250' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 18.5
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_1575734774')
                        input#arrCustomFilter_183_1575734774.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_1575734774' data-id='751251' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 19
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_3303185484')
                        input#arrCustomFilter_183_3303185484.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_3303185484' data-id='751252' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 19.5
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_3018173658')
                        input#arrCustomFilter_183_3018173658.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_3018173658' data-id='751253' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 20
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_763443577')
                        input#arrCustomFilter_183_763443577.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_763443577' data-id='751254' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 20.5
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_1518733807')
                        input#arrCustomFilter_183_1518733807.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_1518733807' data-id='751255' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 21
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_183_3280951381')
                        input#arrCustomFilter_183_3280951381.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_3280951381' data-id='751256' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 21.5
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_183_3028838595')
                        input#arrCustomFilter_183_3028838595.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_3028838595' data-id='751257' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 22
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_183_607614290')
                        input#arrCustomFilter_183_607614290.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_607614290' data-id='751258' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 22.5
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_183_1395672516')
                        input#arrCustomFilter_183_1395672516.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_1395672516' data-id='751259' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 23
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_3902933910')
                        input#arrCustomFilter_183_3902933910.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_3902933910' data-id='751266' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 23.5
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_2678405888')
                        input#arrCustomFilter_183_2678405888.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_2678405888' data-id='751267' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 24
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_2512223664')
                        input#arrCustomFilter_183_2512223664.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_2512223664' data-id='8624475' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 36-40
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_3331283137')
                        input#arrCustomFilter_183_3331283137.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_3331283137' data-id='2040010' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 38
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_1961996521')
                        input#arrCustomFilter_183_1961996521.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_1961996521' data-id='6981159' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 38-43
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_1992728117')
                        input#arrCustomFilter_183_1992728117.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_1992728117' data-id='751261' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 40
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_2471075310')
                        input#arrCustomFilter_183_2471075310.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_2471075310' data-id='6981157' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 40-45
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_2373751708')
                        input#arrCustomFilter_183_2373751708.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_2373751708' data-id='3752250' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 42
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_4023373711')
                        input#arrCustomFilter_183_4023373711.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_4023373711' data-id='751262' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 45
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_66486399')
                        input#arrCustomFilter_183_66486399.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_66486399' data-id='6981158' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 45-50
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_2563309337')
                        input#arrCustomFilter_183_2563309337.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_2563309337' data-id='751263' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 50
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_637557646')
                        input#arrCustomFilter_183_637557646.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_637557646' data-id='6981160' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 50-55
                    li.checkbox-list__item.checkbox-list__item_hidden
                      label.checkbox(data-role='label_arrCustomFilter_183_1907055148')
                        input#arrCustomFilter_183_1907055148.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_183_1907055148' data-id='751265' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | 55
                  .btn-type1.js-filter-more(data-hide='Скрыть' data-show='Еще 26') Еще 26
              .filter-row
                strong.filter-row__title.js-toggle-filter-row Цена
                .filter-row__cont(style='display: block;')
                  .range-slider.js-range-slider-BASE(data-step='100' data-min='1705' data-max='386285' data-start='1705,386285')
                    .range-slider-input
                      span.range-slider-input__label от
                      input#arrCustomFilter_P1_MIN.range-slider__input.range-slider__input_min.js-range-slider__input_min(type='text' data-id='0' name='arrCustomFilter_P1_MIN' value='' placeholder='1 705' onchange='smartFilter.keyup(this)')
                    .range-slider-input
                      span.range-slider-input__label до
                      input#arrCustomFilter_P1_MAX.range-slider__input.range-slider__input_max.js-range-slider__input_max(type='text' data-id='0' name='arrCustomFilter_P1_MAX' value='' placeholder='386 285' onchange='smartFilter.keyup(this)')
              .filter-row.hidden-m.hidden-s.hidden-xs
                p
                  span.btn-type1.js-hide-all-filters.opened(data-hide='Показать фильтры' data-show='Свернуть фильтры') Свернуть фильтры
              +grid({ justify: 'center' }).filter-row: +button(class= cellClasses({ xs: 8 })).hidden-hd.hidden-xl.hidden-l Применить
              .row.none
                .col-xs-12.bx-filter-button-box
                  .bx-filter-block
                    .bx-filter-parameters-box-container
                      input#set_filter.btn.btn-themes(type='button' name='set_filter' value='Показать')
                      input#del_filter.btn.btn-link(type='button' name='del_filter' value='Сбросить')
                      #modef.bx-filter-popup-result.left(style='display:none')
                        | Выбрано:
                        span#modef_num 0
                        span.arrow
                        br
                        a(href='/gold/filter/clear/apply/' target='') Показать
              .clb
              a.underlined-link.clear-filter.hideFilter(href='/gold/?login=yes')
                span.underlined-link__text Очистить фильтр
      .catalog-layout__inline-filter.catalog-filter-inline.hidden-m.hidden-s.hidden-xs
        ul.catalog-filter-inline__list
          li.catalog-filter-inline__item
            label.checkbox
              input.checkbox__input.js-filter(type='checkbox' data-attr='new' value='' data-url='/gold/?new=1&login=yes')
              span.checkbox__text Новинки
          li.catalog-filter-inline__item
            label.checkbox
              input.checkbox__input.js-filter(type='checkbox' data-attr='sale' value='' data-url='/gold/?sale=1&login=yes')
              span.checkbox__text Акции
          li.catalog-filter-inline__item
            label.checkbox
              input.checkbox__input.js-filter(type='checkbox' data-attr='hit' value='' data-url='/gold/?hit=1&login=yes')
              span.checkbox__text Хиты
          li.catalog-filter-inline__item.catalog-filter-inline__item--switch
            label.switch.switch--checkbox
              span.switch__label В наличии
              input.switch__input.js-filter-in-stock(type='checkbox')
              span.switch__switcher
      .catalog-layout__sort
        button(type='button').catalog-opener Сортировать
        .catalog-sort
          .catalog-sort__type
            span.catalog-sort__label.hidden-m.hidden-s.hidden-xs Сортировать:
            a(onclick='' href='/gold/?sort=price_desc&login=yes') по цене
            a(onclick='' href='/gold/?sort=base_desc&login=yes') по остаткам
            a.catalog-sort_active(onclick='' href='/gold/?sort=created_desc&login=yes') по дате добавления
          label.checkbox
            input.checkbox__input.js-filter(type='checkbox' data-attr='garnitures' value='')
            span.checkbox__text Показать гарнитурами
      .catalog-layout__filter-current.catalog-filter-current
        .catalog-filter-current__list
          .catalog-filter-current__item
            .catalog-filter-current__item-name Параметр 1
            button(type='button').catalog-filter-current__item-close
          .catalog-filter-current__item
            .catalog-filter-current__item-name Параметр 2
            button(type='button').catalog-filter-current__item-close
          .catalog-filter-current__item
            .catalog-filter-current__item-name Параметр 3
            button(type='button').catalog-filter-current__item-close
          .catalog-filter-current__item
            .catalog-filter-current__item-name Параметр 4
            button(type='button').catalog-filter-current__item-close
          .catalog-filter-current__item
            .catalog-filter-current__item-name Параметр Параметр Параметр
            button(type='button').catalog-filter-current__item-close
        button(type='button').button.catalog-filter-current__reset Сбросить фильтр
      .catalog-layout__list
        +grid({ noGap: true, alignContent: 'flex-start' }).page-subsection.catalog-list
          - i = 0
          while i < 30
            +listItem
            - i += 1
        .page-subsection
          nav.page-nav
            ul.pages-list
              a.page-nav__prev(onclick='' href='/gold/?PAGEN_2=2#tabs_catalog')
              li.pages-list__item
                a.pages-list__link(onclick='' href='/gold/#tabs_catalog') 1
              li.pages-list__item
                a.pages-list__link(onclick='' href='/gold/?PAGEN_2=2#tabs_catalog') 2
              li.pages-list__item
                span.pages-list__link.pages-list__link_active 3
              | ...
              li.pages-list__item
                a.pages-list__link(onclick='' href='/gold/?PAGEN_2=73#tabs_catalog') 73
              li.pages-list__item
                a.pages-list__link(onclick='' href='/gold/?PAGEN_2=74#tabs_catalog') 74
              li.pages-list__item
                a.pages-list__link(onclick='' href='/gold/?PAGEN_2=75#tabs_catalog') 75
              a.page-nav__next(onclick='' href='/gold/?PAGEN_2=4#tabs_catalog')

        .page-subsection
          h2 Вы смотрели
          +grid({ tag: 'section', justify: 'center' }).viewed
            +cell({ l: 10, m: 9, xs: 12 }).viewed-items
              -
                const viewedItems = [
                  '24956_200.jpg',
                  '14923_200.jpg',
                  '24929_102.jpg',
                  '24923_200.jpg',
                  '24956_100.jpg',
                  '24933_200.jpg',
                  '24929_102.jpg',
                  '14681_102.jpg',
                ]
              each item, key in viewedItems
                -
                  const classList = []
                  if (key > 3) classList.push('hidden-xs')
                  if (key > 5) classList.push(...['hidden-m', 'hidden-s'])
                .viewed-items__item(class= classList)
                  a.viewed-items__link.js-viewed-open(href='?item=14923_200' )
                    span.viewed-items__pic
                      img(src=`/images/${item}` width='70' height='70' alt='' loading='lazy')
            +cell({ tag: 'a', l: 2, m: 3, xs: 10 }).viewed__all(href='/gold/viewed/')
              span.viewed__all-text Все просмотренные изделия
              span.viewed__all-arrow
