extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/button/button
include /blocks/tabs-menu/tabs-menu
include /blocks/slider/slider
include /blocks/list-item/list-item
include /blocks/promo-slider/promo-slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +promoSlider({ premium: true })
    - i = 1
    while i < 4
      +slide.promo-slide: +img({
        name: `promo-slide-premium-${i}`,
        path: '/images/',
        formats: [
          { ext: 'jpg', orig: true },
          { ext: 'webp', mime: 'image/webp' }
        ]
      })
      - i += 1
  .container.page-container: .content 
    h2.page-subsection Каталог PREMIUM
    .catalog-layout.catalog-layout--premium.page-subsection
      form.catalog-layout__form
        .catalog-layout__search.vendor-search
          input.text-input.js-vendor-autocomplete.ui-autocomplete-input(type='text' value='' placeholder='Поиск по артикулу' data-catalog='gold' autocomplete='off')
          span.vendor-search__submit 
        .catalog-layout__filter
          button(type='button').catalog-opener Фильтр
          .catalog-filter
            .catalog-filter__title Фильтр
              button(type='button').catalog-filter__close
            .catalog-filter__inner.bx-filter-parameters-box
              span.bx-filter-container-modef
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Вид изделия
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_331_2313532626')
                        input#arrCustomFilter_331_2313532626.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_331_2313532626' data-id='' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Кольца
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_331_3533837214')
                        input#arrCustomFilter_331_3533837214.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_331_3533837214' data-id='' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Серьги
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_331_394338673')
                        input#arrCustomFilter_331_394338673.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_331_394338673' data-id='' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Подвеска
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_331_1764777420')
                        input#arrCustomFilter_331_1764777420.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_331_1764777420' data-id='' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Колье
              .filter-row.checkboxes-type(style=' ')
                strong.filter-row__title.js-toggle-filter-row.closed Цвет металла
                .filter-row__cont
                  ul.checkbox-list(data-jsoninfo='')
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_332_473141141')
                        input#arrCustomFilter_332_473141141.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_332_473141141' data-id='' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Белое
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_332_1798618883')
                        input#arrCustomFilter_332_1798618883.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_332_1798618883' data-id='' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Желтое
                    li.checkbox-list__item
                      label.checkbox(data-role='label_arrCustomFilter_332_2186746422')
                        input#arrCustomFilter_332_2186746422.checkbox__input(type='checkbox' value='Y' name='arrCustomFilter_332_2186746422' data-id='' onclick='smartFilter.click(this)' data-keyword='')
                        span.checkbox__text
                          | Красное
              .filter-row
                p
                  span.btn-type1.js-hide-all-filters.opened(data-hide='Показать фильтры' data-show='Свернуть фильтры') Свернуть фильтры
              .row.none
                .col-xs-12.bx-filter-button-box
                  .bx-filter-block
                    .bx-filter-parameters-box-container
                      input#set_filter.btn.btn-themes(type='button' name='set_filter' value='Показать')
                      input#del_filter.btn.btn-link(type='button' name='del_filter' value='Сбросить')
                      #modef.bx-filter-popup-result.left(style='display:none')
                        | Выбрано: 
                        span#modef_num 0
                        span.arrow
                        br
                        a(href='/premium/filter/clear/apply/' target='') Показать
              .clb
              a.underlined-link.clear-filter.hideFilter(href='/premium/')
                span.underlined-link__text Очистить фильтр

      .catalog-layout__list
        +grid({ noGap: true, alignContent: 'flex-start' }).page-subsection.catalog-list
          - i = 0
          - j = 1
          while i < 40
            if ![ 8, 14, 26 ].includes(i)
              +listItem
            else
              +cell({ tag:'a', l: 4, s: 8, xs: 12 })(href='#').catalog-list__item.catalog-list__item--banner: +img({
                name: `banner-premium-${j}`,
                path: '/images/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' }
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })
              - j += 1
            - i += 1
        .page-subsection
          nav.page-nav
            ul.pages-list
              a.page-nav__prev(onclick='' href='/gold/?PAGEN_2=2#tabs_catalog')
              li.pages-list__item
                a.pages-list__link(onclick='' href='/gold/#tabs_catalog') 1
              li.pages-list__item
                a.pages-list__link(onclick='' href='/gold/?PAGEN_2=2#tabs_catalog') 2
              li.pages-list__item
                span.pages-list__link.pages-list__link_active 3
              a.page-nav__next(onclick='' href='/gold/?PAGEN_2=4#tabs_catalog')
