extends /blocks/layout/layout

include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/button/button
include /blocks/tabs-menu/tabs-menu
include /blocks/slider/slider
include /blocks/list-item/list-item
include /blocks/promo-slider/promo-slider

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  +promoSlider
    +slide.promo-slide
      +grid({ tag: 'a', alignItems: 'center' })(href='#')
        +cell({ s: 6, xs: 12 }).promo-slide__info
          .promo-slide__title Оцените возможности обновленной  
            br
            | стартовой страницы каталога: 
          p.promo-slide__caption видеообзоры новинок, рекламные материалы,
            br
            | заказ упаковки и оперативная подсортировка с помощью
            br
            | индивидуального предложения
        +cell({ s: 6, xs: 12 }).promo-slide__image
          +img({
            name: 'banner-dlya-shopalikor',
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'png', orig: true }
            ]
          })
    +slide.promo-slide
      +grid({ tag: 'a', alignItems: 'center' })(href='#')
        +cell({ s: 6, xs: 12 }).promo-slide__info
          .promo-slide__title В День Рождения АЛЬКОР 
            br
            | все подарки - ваши!
          p.promo-slide__caption Продавайте украшения АЛЬКОР 
            br
            | и выиграйте один из множества подарков
        +cell({ s: 6, xs: 12 }).promo-slide__image
          +img({
            name: 'banner-dlya-shopalikor',
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'png', orig: true }
            ]
          })
    +slide.promo-slide
      +grid({ tag: 'a', alignItems: 'center' })(href='#')
        +cell({ s: 6, xs: 12 }).promo-slide__info
          .promo-slide__title В День Рождения АЛЬКОР 
            br
            | все подарки - ваши!
          p.promo-slide__caption Продавайте украшения АЛЬКОР 
            br
            | и выиграйте один из множества подарков
        +cell({ s: 6, xs: 12 }).promo-slide__image
          +img({
            name: 'banner-dlya-shopalikor',
            path: '/images/',
            formats: [
              { ext: 'webp', mime: 'image/webp' },
              { ext: 'png', orig: true }
            ]
          })

  .container.page-container: .content
    .page-subsection: a.back-link.underlined-link(href='/gold/'): span.underlined-link__text Вернуться в каталог
    .tabs.page-subsection
      a.tabs__item.tabs__item_large.active(href='/') Золото
      a.tabs__item.tabs__item_large(href='/') Серебро
    .page-subsection
      h2 Товар, к которому мы ищем похожие
      +grid({ noGap: true, alignContent: 'flex-start' }).page-subsection.catalog-list
        +listItem
    .page-subsection
      h2 Товар, к которому мы ищем похожие
      +grid({ noGap: true, alignContent: 'flex-start' }).page-subsection.catalog-list
        - i = 0
        while i < 5
          +listItem
          - i += 1
