extends /blocks/layout/layout

include /blocks/main-panel/main-panel
include /blocks/manager-block/manager-block
include /blocks/block-icon/block-icon

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    opened.userDropdown = true
    const isHomePage = true
block content
  -
    const individualImage = {
        name: 'main-panel__individual',
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'jpg', mime: 'image/jpeg', orig: true },
        ],
        density: [
          { name: 'xs', values: [ 1, 2 ] },
          { name: 's', values: [ 1, 2 ] },
        ]
      }
  .container: .content.main-layout
    .main-layout__item.main-layout__item--banner-small-1: +mainPanel({ title: 'Каталог золото', more: 'Смотреть', image: 'main-panel__silver' })
    .main-layout__item.main-layout__item--banner-small-2: +mainPanel({ title: 'Каталог серебро', more: 'Смотреть', image: 'main-panel__gold' })
    .main-layout__item.main-layout__item--banner-main: +mainPanel({ title: 'Презентации новинок и обзоры коллекций', subtitle: 'Magic Colors:', more: 'Смотреть все обзоры', image: 'main-panel__banner' }, { bannerMain: true })
      p MAGIC COLORS
    .main-layout__item.main-layout__item--manager: +mainPanel({ title: 'Ваш персональный менеджер' }, { manager: true })
      +managerBlock({
        image: 'manager',
        title: 'Татьяна Милославская',
        contacts: [
          { title: 'Телефон', value: '+7 900 000-00-00' },
        ],
      })
    .main-layout__item.main-layout__item--banner-wide: +mainPanel({ title: 'Индивидуальное предложение', subtitle: 'Ассортимент подобран для вас', more: 'Смотреть', image: individualImage }, { label: true, wide: true })
    .main-layout__item.main-layout__item--indicators: +mainPanel({ title: 'Финансовые показатели', more: 'Смотреть' }, { label: true }): +blockIcon({ indicators: true })
      p Ключевые финансовые показатели в удобных графиках и таблицах
    .main-layout__item.main-layout__item--marketing: +mainPanel({ title: 'Маркетинг', more: 'Смотреть' }, { label: true }): +blockIcon({ marketing: true })
      p Загрузка рекламных материалов, информация о маркетинговых активностях и текущих акциях
    .main-layout__item.main-layout__item--package: +mainPanel({ title: 'Заказ упаковки', more: 'Заказать', image: 'main-panel__package' }, { imageRight: true }): p Заказ необходимой упаковки для украшений в один клик
    .main-layout__item.main-layout__item--conditions: +mainPanel({ title: 'Условия работы', more: 'Смотреть' }, { label: true }): +blockIcon({ conditions: true })
      p Ваши договорённости по условиям работы с компанией АЛЬКОР
