extends /blocks/layout/layout

include /blocks/img/img

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .container: .content
    h2 Главная
    a(href='home.html') Главная — home.html
    br
    a(href='home--user-dropdown.html') Главная, меню пользователя — home--user-dropdown.html
    br
    a(href='home--header-navigation.html') Главная, главное меню (только на планшете и мобильном) — home--header-navigation.html
    br
    a(href='home--call-back.html') Главная, окно обратного звонка — home--call-back.html
    br
    a(href='home--feed-back.html') Главная, окно сообщения — home--feed-back.html
    h2 Профиль
    a(href='profile.html') Личный кабинет — profile.html
    br
    a(href='profile-application.html') Заявка для нового юридического лица — profile-application.html
    br
    a(href='profile-edit.html') Редактирование персональных данных — profile-edit.html
    br
    a(href='profile-change-password.html') Поменять пароль — profile-change-password.html
    br
    a(href='profile-orders.html') Заказы — profile-orders.html
    br
    a(href='profile-temporary-access.html') Временный доступ — profile-temporary-access.html
    br
    a(href='profile-access-friends.html') Временный доступ “Для друзей” — profile-temporary-access.html
    br
    a(href='profile-notifications.html') Настройка уведомлений — profile-notifications.html
    br
    a(href='profile-materials.html') Рекламные материалы — profile-materials.html
    h2 Каталог
    a(href='catalog.html') Каталог — catalog.html
    br
    a(href='catalog-premium.html') Каталог Премиум — catalog-premium.html
    br
    a(href='catalog-similar.html') Похожие продукты — catalog-similar.html
    br
    a(href='catalog-garnitures.html') Отбор гарнитурами — catalog-garnitures.html
    br
    a(href='favorites.html') Избранное — favorites.html
    br
    h2 Кабинет администратора
    a(href='admin.html') Главная страница — admin.html
    br
    a(href='admin-code-doubles.html') Дубли кодов — admin-code-doubles.html
    br
    a(href='admin-redundant.html') Лишние товары золото — admin-redundant.html
    br
    a(href='admin-problematic.html') Проблемные товары серебро — admin-problematic.html
    br
    a(href='admin-problematic-leftovers.html') Товары с проблемными остатками — admin-problematic-leftovers.html
    br
    a(href='admin-barcode-statistics.html') Статистика по штрихкодам — admin-barcode-statistics.html
    br
    a(href='admin-folder-password.html') Генерация пароля для папки — admin-folder-password.html
    br
    a(href='admin-certificate-diamond.html') Генерация сертификата бриллиант — admin-certificate-diamond.html
    br
    a(href='admin-certificate-tsvetnik.html') Генерация сертификата цветник — admin-certificate-tsvetnik.html
    br
    a(href='admin-statistics-orders.html') Статистика по заказам клиентов — admin-statistics-orders.html
    br
    a(href='admin-barcodes-discounts.html') Штрихкоды акции зима — admin-barcodes-discounts.html
    br
    a(href='admin-statistics-orders-users.html') Статистика по заказам пользователей — admin-statistics-orders-users.html
    h2 Алькор-Эксперт
    a(href='alikor-expert-conditions.html') Условия работы — alikor-expert-conditions.html
    br
    a(href='alikor-expert-finance-supplies.html') Финансовые показатели / поставки — alikor-expert-finance-supplies.html
    br
    a(href='alikor-expert-finance-fees.html') Финансовые показатели / комиссии — alikor-expert-finance-fees.html
    br
    a(href='alikor-expert-individual.html') Индивидуальное предложение — alikor-expert-individual.html
    h2 Авторизация, регистрация
    a(href='authorization.html') Авторизация — authorization.html
    br
    a(href='register.html') Регистрация — register.html
    br
    a(href='restore-password.html') Восстановление и смена пароля — restore-password.html
    h2 Корзина
    a(href='cart.html') Корзина — cart.html
    h2 Рекламные материалы
    a(href='marketing.html') Рекламные материалы — marketing.html
    h2 Карточка товара
    a(href='product.html') Карточка товара — product.html
    br
    a(href='product--cart.html') Карточка товара с фиксированной корзиной — product--cart.html
    br
    a(href='product--to-production.html') Карточка товара серебро в производство — product--to-production.html
    br
    a(href='product--premium--available.html') Карточка товара премиум в наличии — product--premium--available.html
    br
    a(href='product--premium--to-production.html') Карточка товара премиум в производстве — product--premium--to-production.html
    br
    a(href='product--comment.html') Карточка товара, комментарий — product--comment.html
