extends /blocks/layout/layout

include /blocks/manager-block/manager-block
include /blocks/marketing-item/marketing-item
include /blocks/aside-menu/aside-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  - 
    const marketingItems = [
      {
        image: 'marketing-item__image-1',
        title: 'Актуальный трендбук и материалы о последних новинках',
        info: 'Краткое описание загружаемых материалов.',
        date: '13 апреля 2022',
      },
      {
        image: 'marketing-item__image-2',
        title: 'О компании АЛЬКОР',
        info: 'Краткое описание загружаемых материалов.',
        date: '13 апреля 2022',
      },
      {
        image: 'marketing-item__image-3',
        title: 'Обучающие видео для ваших продавцов',
        info: 'Краткое описание загружаемых материалов.',
        date: '13 апреля 2022',
      },
      {
        image: 'marketing-item__image-4',
        title: 'Логотипы и правила оформления',
        info: 'Краткое описание загружаемых материалов.',
        date: '13 апреля 2022',
      },
    ]
  .container: .content
    include /data/profile-menu
    +grid().page-layout
      +cell({ tag: 'h1', xs: 12 }) Рекламные материалы
      +asideMenu(profileMenu)(class= cellClasses({ l: 3, xs: 12 })).hidden-hd.hidden-xl.hidden-l
      +cell({ l: 8, xs: 12 }): +grid({ alignContent: 'flex-start' })
        each item in marketingItems
          +marketingItem(item)(class= cellClasses({ l: 6, s: 6, xs: 12 }))
      +cell({ l: 4, xs: 12 }).hidden-xs.hidden-s.hidden-m: +grid({ justify: 'center' }): +cell({ l: 9 })
        h2.page-subtitle Не нашли что искали?
        p Оставьте запрос на изготовление рекламных материалов.
        p.success14 Ваша заявка успешно отправлена!
        form#marketing.form.par
          label.form-input.form-input--text.form__input
            span.form-input__label
              | ФИО:
            input.form-input__field(type='text' name='NAME' required='')
          label.form-input.form-input--text.form__input
            span.form-input__label
              | Компания:
            input.form-input__field(type='text' name='COMPANY' required='')
          label.form-input.form-input--text.form__input
            span.form-input__label
              | Телефон:
            input.form-input__field.js-phone-input(type='text' name='PHONE' required='')
          label.form-input.form-input--text.form__input
            span.form-input__label
              | Ваш комментарий:
            input.form-input__field(type='text' name='PREVIEW_TEXT')
          button.button.form__submit(type='submit')
            | Отправить заявку
          input(type='hidden' name='IBLOCK_ID' value='69')
        h2.page-subtitle
          | Задайте вопрос
        +managerBlock({
          image: 'manager',
          title: 'Юлия Адэр',
          info: 'Руководитель отдела трейд-маркетинга',
          contacts: [
            { title: 'Телефон', value: '+7 960 744 93 66' },
            { title: 'E-mail', value: '<a href="mailt:ader@alikor.com">ader@alikor.com</a>' },
          ],
        }).par
