extends /blocks/layout/layout

include /blocks/manager-block/manager-block
include /blocks/marketing-item/marketing-item
include /blocks/aside-menu/aside-menu
include /blocks/slider/slider
include /blocks/link-icon/link-icon
include /blocks/product-properties/product-properties
include /blocks/page-subsection/page-subsection
include /blocks/tabs-menu/tabs-menu
include /blocks/list-item/list-item
include /blocks/page-section/page-section

block variables
  -
    const noHeader = true
    const noFooter = true
    const bodyClass = 'page-loaded'
    const htmlClass = 'detail-product-opened'
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const productProperties = [
      { name: 'Тип:', value: 'Кольца' },
      { name: 'Цвет золота:', value: 'Красное' },
      { name: 'Цвет золота:', value: 'Красное' },
      { name: 'Проба:', value: '750' },
    ]
    const rows = [
      {
        size: '16',
        storage: 'Склад Премиум',
        name: '14269-КБ5',
        barcode: '4800006538868',
        scatter: '0,50-0,59',
        feature: '7/8',
        weight: '2.77',
        price: '133 840 руб.',
      },
      {
        size: '16.5',
        storage: 'Склад Премиум',
        name: '14269-КБ1',
        barcode: '4800007082711',
        scatter: '1,0-1,49',
        feature: '6/8',
        weight: '2.95',
        price: '561 245 руб.',
      },
      {
        size: '17',
        storage: 'Склад Премиум',
        name: '14269-КБ6',
        barcode: '4800075155010',
        scatter: '0,60-0,69',
        feature: '5/7',
        weight: '2.77',
        price: '226 170 руб.',
      },
      {
        size: '17.5',
        storage: 'Склад Премиум',
        name: '14269-КБ8',
        barcode: '4800006546443',
        scatter: '0,80-0,89',
        feature: '6/8',
        weight: '2.95',
        price: '278 760 руб.',
      },
    ]
  div(style='background-color: #ccc; position:absolute;inset:0')
  .product-detail-popup: .product-detail-popup__cont: .product-ajax-container
    .card-header-wrap.card-header-wrap_empty
      .card-header
        .container
          .card-header__top
            a.back-link.ico-link__back.js-close-product(href='#') Вернуться к каталогу
            .header-links
              +linkIcon({ icon: 'favourite' })(href='/favorites/') Избранное: 24
              +linkIcon({ icon: 'cart' })(href='/cart/') Корзина: 
                span.cart-count 3
                |  изделия на 58 300 Р
        .container.js-selected-items-popup.none
          .card-header__bottom(style='display: none')
            dl.items-selected
              dt.items-selected__label
                | Выбрано:
              dd.items-selected__val
            .card-header__result
              strong.card-header__price
                | Стоимость: 
                span
                |  Р
              a.btn-type2.btn-type2_big.btn-type2_upper.js-add-to-cart(onclick='' href='#' data-catalog='gold' data-id='7330053')
                span.btn-type2__text Добавить в корзину

    .product-detail-cont
      +pageSection({ empty: true })
        +pageSubsection(class= gridClasses())
          +cell({ l: 1 }).hidden-m.hidden-s.hidden-xs
            +slider.product-images-thumbs
              +slide.product-thumb: img(src='https://shop.alikor.com/upload/resize_cache/iblock/108/4lrxjdcof8bw4qna6yw1xu5hv6fb38l4/470_470_1/24586_101.jpg')
              +slide.product-thumb: img(src='https://shop.alikor.com/upload/resize_cache/iblock/987/aovr12l5fsm0el62z0cfk1csmtnkz8o2/470_470_1/24586_101_greed.jpg')
          +cell({ l: 4, s: 6, xs: 12 })
            +slider({pagination: true, productImageOpener: true}).product-images
              +slide.product-image: img(src='https://shop.alikor.com/upload/resize_cache/iblock/108/4lrxjdcof8bw4qna6yw1xu5hv6fb38l4/470_470_1/24586_101.jpg')
              +slide.product-image: img(src='https://shop.alikor.com/upload/resize_cache/iblock/987/aovr12l5fsm0el62z0cfk1csmtnkz8o2/470_470_1/24586_101_greed.jpg')
          +cell({ l: 7, s: 6, xs: 12 }).product-detail
            +grid({ alignItems: 'flex-start' })
              +cell({ l: 4, xs: 12 })(class= gridClasses({ alignItems: 'flex-end', alignContent: 'flex-end' }))
                +cell({ xs: 12 })
                  +linkIcon({ icon: 'star' }).js-favorites.js-favorites.fv-7330053(href='#' data-id='7330053' data-title='В избранное') В избранное
                +cell({ l: 12, xs: 6 }).product-detail__name 14269-К
              +cell({ l: 8, s: 8, xs: 12 })
                h4 Характеристики
                +pageSubsection(): +productProperties(productProperties)
                +pageSubsection().hidden-xs: img(src='https://shop.alikor.com/local/templates/silver/img/content/catalog-item__banner.jpg' alt='')
        +tabsMenu([
          { name: 'В наличии', href: '#' },
          { name: 'В производство', href: '#', active: true },
        ]).page-subsection
        +pageSubsection
          .table-responsive-lg.offers-table__wrapper.hidden-xs.hidden-s.hidden-m
            table.offers-table.stock-table.stock-not-avail
              thead
                tr
                  th Характеристика/Рассев
                  th 0,50-0,59
                  th 0,60-0,69
                  th 0,70-0,79
                  th 0,80-0,89
                  th 0,90-0,99
                  th 1,0-1,49
              tbody
                - i = 0
                while i < 10
                  tr
                    td 3/5
                    - j = 0
                    while j < 6
                      td.offers-table__item
                        .offers-table__item__price 189 280 руб.                                                
                        .offers-table__item__size-count-trigger__wrapper
                          a.cart-btn.offers-table__item__size-count-trigger.js-offers-table__item__size-count-trigger(href='#')
                            | Выбрать размер и                                                        количество
                          .offers-table__item__size-count
                            span.offers-table__item__size-count__close.js-offers-table__item__size-count__close 
                            div
                              h5 Параметры изделия
                              .row.info-grey-span.mb-5.infogold.offers-table__item__params
                                .col-xs-12.col-12
                                  .row
                                    .col-xs-6.col-6.class-tabl-block-div
                                      span Характеристика:
                                    .col-xs-6.col-6.class-tabl-block-div.class-tabl-block-div-bask
                                      | 3/5
                                  .row
                                    .col-xs-6.col-6.class-tabl-block-div
                                      span Рассев:
                                    .col-xs-6.col-6.class-tabl-block-div.class-tabl-block-div-bask
                                      | 0,50-0,59
                                  .row
                                    .col-xs-6.col-6.class-tabl-block-div
                                      span Стоимость:
                                    .col-xs-6.col-6.class-tabl-block-div.class-tabl-block-div-bask
                                      | 189 280 руб.
                            h5
                              | Выбрать размер и                                                            количество
                            ul.counter-list
                              li.counter-list__item
                                label.counter-list__name(for='count69158356915702') 15
                                #count69158356915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158356915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915835' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158366915702') 15.5
                                #count69158366915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158366915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915836' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158376915702') 16
                                #count69158376915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158376915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915837' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158386915702') 16.5
                                #count69158386915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158386915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915838' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158396915702') 17
                                #count69158396915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158396915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915839' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158406915702') 17.5
                                #count69158406915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158406915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915840' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158416915702') 18
                                #count69158416915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158416915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915841' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158426915702') 18.5
                                #count69158426915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158426915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915842' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158436915702') 19
                                #count69158436915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158436915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915843' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158446915702') 19.5
                                #count69158446915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158446915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915844' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158456915702') 20
                                #count69158456915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158456915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915845' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                      - j += 1
                  - i += 1
          table.offers-table.stock-table.stock-not-avail.hidden-xs.hidden-l.hidden-xl.hidden-hd
            tbody
              - i = 0
              while i < 10
                tr
                  - j = 0
                  while j < 4
                    th 4/7 1,0-1,49
                    - j += 1
                tr
                  - j = 0
                  while j < 4
                    td.offers-table__item
                      .offers-table__item__price 189 280 руб.                                                
                      .offers-table__item__size-count-trigger__wrapper
                        a.cart-btn.offers-table__item__size-count-trigger.js-offers-table__item__size-count-trigger(href='#')
                          | Выбрать размер и                                                        количество
                        .offers-table__item__size-count(class=`${ i === 1 && j === 1 ? 'active' : '' }`)
                          span.offers-table__item__size-count__close.js-offers-table__item__size-count__close 
                          +pageSubsection({ level: 2 })
                            h4 Параметры изделия
                            +productProperties(productProperties)
                          +pageSubsection({ level: 2 })
                            h4 Выбрать размер и                                                            количество
                            ul.counter-list
                              li.counter-list__item
                                label.counter-list__name(for='count69158356915702') 15
                                #count69158356915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158356915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915835' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158366915702') 15.5
                                #count69158366915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158366915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915836' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158376915702') 16
                                #count69158376915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158376915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915837' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158386915702') 16.5
                                #count69158386915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158386915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915838' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158396915702') 17
                                #count69158396915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158396915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915839' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158406915702') 17.5
                                #count69158406915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158406915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915840' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158416915702') 18
                                #count69158416915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158416915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915841' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158426915702') 18.5
                                #count69158426915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158426915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915842' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158436915702') 19
                                #count69158436915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158436915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915843' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158446915702') 19.5
                                #count69158446915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158446915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915844' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158456915702') 20
                                #count69158456915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158456915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915845' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                    - j += 1
                - i += 1
          table.offers-table.stock-table.stock-not-avail.hidden-m.hidden-s.hidden-l.hidden-xl.hidden-hd
            tbody
              - i = 0
              while i < 10
                tr
                  - j = 0
                  while j < 2
                    th 4/7 1,0-1,49
                    - j += 1
                tr
                  - j = 0
                  while j < 2
                    td.offers-table__item
                      .offers-table__item__price 189 280 руб.                                                
                      .offers-table__item__size-count-trigger__wrapper
                        a.cart-btn.offers-table__item__size-count-trigger.js-offers-table__item__size-count-trigger(href='#')
                          | Выбрать размер и                                                        количество
                        .offers-table__item__size-count(class=`${ i === 1 && j === 1 ? 'active' : '' }`)
                          span.offers-table__item__size-count__close.js-offers-table__item__size-count__close 
                          +pageSubsection({ level: 2 })
                            h4 Параметры изделия
                            +productProperties(productProperties)
                          +pageSubsection({ level: 2 })
                            h4 Выбрать размер и                                                            количество
                            ul.counter-list
                              li.counter-list__item
                                label.counter-list__name(for='count69158356915702') 15
                                #count69158356915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158356915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915835' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158366915702') 15.5
                                #count69158366915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158366915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915836' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158376915702') 16
                                #count69158376915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158376915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915837' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158386915702') 16.5
                                #count69158386915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158386915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915838' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158396915702') 17
                                #count69158396915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158396915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915839' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158406915702') 17.5
                                #count69158406915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158406915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915840' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158416915702') 18
                                #count69158416915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158416915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915841' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158426915702') 18.5
                                #count69158426915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158426915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915842' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158436915702') 19
                                #count69158436915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158436915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915843' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158446915702') 19.5
                                #count69158446915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158446915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915844' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                              li.counter-list__item
                                label.counter-list__name(for='count69158456915702') 20
                                #count69158456915702-styler.jq-number.js-add-cart-sku-input
                                  .jq-number__field
                                    input#count69158456915702.js-add-cart-sku-input.empty(data-owncreate='1' data-id='6915845' type='number' value='0' min='0' max='' data-weight='2.53' data-price='189280')
                                  .jq-number__spin.minus.disabled
                                  .jq-number__spin.plus
                                  .error
                    - j += 1
                - i += 1
        +pageSubsection.modal-relative
          +linkIcon({ icon: 'comment' }).js-inline-modal-open(onclick='' href='#comment7330053') Добавить комментарий
          #comment7330053.inline-modal
            .h2 Комментарий
            .js-validate-form.js-add-comment-product
              .form-line
                textarea.text-input2(placeholder='Ваш текст сообщения')
              span.btn-type2.btn-type2_big
                span.btn-type2__text Прикрепить
                input.btn-type2__input.js-add-comment-product-button(type='button' value='Прикрепить')
