extends /blocks/layout/layout

include /blocks/manager-block/manager-block
include /blocks/marketing-item/marketing-item
include /blocks/aside-menu/aside-menu
include /blocks/slider/slider
include /blocks/link-icon/link-icon
include /blocks/product-properties/product-properties
include /blocks/page-subsection/page-subsection
include /blocks/tabs-menu/tabs-menu
include /blocks/list-item/list-item
include /blocks/page-section/page-section

block variables
  -
    const noHeader = true
    const noFooter = true
    const bodyClass = 'page-loaded'
    const htmlClass = 'detail-product-opened'
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const productProperties = [
      { name: 'Тип:', value: 'Пусеты' },
      { name: 'Коллекция:', value: 'Magic colors' },
      { name: 'Ширина:', value: '7' },
      { name: 'Цвет золота:', value: 'Красное' },
      { name: 'Высота:', value: '10' },
      { name: 'Проба:', value: '585' },
      { name: 'Вес базовый:', value: '1.87 гр.' },
    ]
    const rows = [
      {
        storage: 'Кострома',
        name: '2 Изумруд Груша 0.697 3 / 3; 30 Бриллиант Круг 57 0.24 4 / 5',
        barcode: '4800007299034',
        weight: '1.85',
        price: '45 095',
        delete: true,
      },
      {
        storage: 'Кострома',
        name: '2 Изумруд Груша 0.697 3 / 3; 30 Бриллиант Круг 57 0.24 4 / 5',
        barcode: '4800007304912',
        weight: '1.86',
        price: '45 165',
      },
      {
        storage: 'Кострома',
        name: '2 Изумруд Груша 0.697 3/3; 30 Бриллиант Круг 57 0.24 4/5',
        barcode: '4800007303335',
        weight: '1.93',
        price: '45 650',
      },
    ]
  div(style='background-color: #ccc; position:absolute;inset:0')
  .product-detail-popup: .product-detail-popup__cont: .product-ajax-container
    .card-header-wrap.card-header-wrap_empty
      .card-header
        .container
          .card-header__top
            a.back-link.ico-link__back.js-close-product(href='#') Вернуться к каталогу
            .header-links
              +linkIcon({ icon: 'favourite' })(href='/favorites/') Избранное: 24
              +linkIcon({ icon: 'cart' })(href='/cart/') Корзина: 
                span.cart-count 3
                |  изделия на 58 300 Р
        .container.js-selected-items-popup
          .card-header__bottom
            dl.items-selected
              dt.items-selected__label
                | Выбрано:
              dd.items-selected__val
                span.items-selected__name
                  a.js-modal-scroll-anchor(href='#section7330053') Серьги
                  |  2 шт.
                span.items-selected__name Вес 3.80 г
            .card-header__result
              strong.card-header__price
                | Стоимость: 
                span 94 385,00
                |  Р
              a.btn-type2.btn-type2_big.btn-type2_upper.js-add-to-cart(onclick='' href='#' data-catalog='gold' data-id='7330053')
                span.btn-type2__text Добавить в корзину

    .product-detail-cont
      +pageSection({ empty: true })
        +pageSubsection(class= gridClasses())
          +cell({ l: 1 }).hidden-m.hidden-s.hidden-xs
            +slider.product-images-thumbs
              +slide.product-thumb: img(src='https://shop.alikor.com/upload/resize_cache/iblock/108/4lrxjdcof8bw4qna6yw1xu5hv6fb38l4/470_470_1/24586_101.jpg')
              +slide.product-thumb: img(src='https://shop.alikor.com/upload/resize_cache/iblock/987/aovr12l5fsm0el62z0cfk1csmtnkz8o2/470_470_1/24586_101_greed.jpg')
          +cell({ l: 4, s: 6, xs: 12 })
            +slider({pagination: true, productImageOpener: true}).product-images
              +slide.product-image: img(src='https://shop.alikor.com/upload/resize_cache/iblock/108/4lrxjdcof8bw4qna6yw1xu5hv6fb38l4/470_470_1/24586_101.jpg')
              +slide.product-image: img(src='https://shop.alikor.com/upload/resize_cache/iblock/987/aovr12l5fsm0el62z0cfk1csmtnkz8o2/470_470_1/24586_101_greed.jpg')
          +cell({ l: 7, s: 6, xs: 12 }).product-detail
            +grid({ alignItems: 'flex-start' })
              +cell({ l: 4, xs: 12 })(class= gridClasses({ alignItems: 'flex-end', alignContent: 'flex-end' }))
                +cell({ xs: 12 })
                  +linkIcon({ icon: 'star' }).js-favorites.js-favorites.fv-7330053(href='#' data-id='7330053' data-title='В избранное') В избранное
                +cell({ l: 12, xs: 6 }).product-detail__name 24586-101
                +cell({ l: 12, xs: 6 })
                  .product-detail__sub-title.product-detail__sub-title-small  Базовая стоимость
                  strong.product-detail__price 46 870 Р
              +cell({ l: 8, s: 8, xs: 12 })
                h4 Характеристики
                +pageSubsection({ level: 2 }): +productProperties(productProperties)
                +pageSubsection({ level: 2 })
                  +grid.drop-wrap.opened
                    +cell({ xs: 4 }): +linkIcon({ icon: 'dropdown', right: true })(href='#').js-drop-click.js-drop-click
                      span(style=' color: rgb(0, 0, 0); font-family: "Fira Sans", sans-serif; font-size:14px; font-weight:700; ') Вставки
                    +cell({ xs: 7, tag: 'span' }).info-block-vstavka-right
                      | 2 Изумруд Груша 0.697 3/3 
                      br
                      | 30 Бриллиант Круг 57 0.237 4/5
                    .drop-down
                      .drop-down__cont
                        table(style='margin-bottom: 0')
                          tbody
                            tr
                              td 2 Изумруд Груша 0.697 3/3 
                            tr
                              td 30 Бриллиант Круг 57 0.237 4/5 
                +pageSubsection({ level: 2 }).detail-garnitur
                  h4 Изделия гарнитура
                  .detail-garnitur__row
                    a.detail-garnitur__item.js-open-product.js-open-product-14586_101(href='?item=14586_101' onclick='' data-url='14586_101.html')
                      img(src='/upload/resize_cache/iblock/9d6/5by603nntg8zafee8ncnv62u6fxciecz/70_70_1/14586_101.jpg' alt='' width='70' height='70')
                    a.detail-garnitur__item.js-open-product.js-open-product-64586_101(href='?item=64586_101' onclick='' data-url='64586_101.html')
                      img(src='/upload/resize_cache/iblock/d4c/7vipuqhh0se4v6f1ovt35sul263g50fw/70_70_1/64586_101.jpg' alt='' width='70' height='70')
        +tabsMenu([
          { name: 'В наличии', href: '#', active: true },
          { name: 'В производство', href: '#' },
        ]).page-subsection
        +pageSubsection.stock-table.stock-table--cols--6
          .stock-table__row.stock-table__row--header.hidden-m.hidden-s.hidden-xs
            .stock-table__cell Склад
            .stock-table__cell Номенклатура
            .stock-table__cell Штрих-код
            .stock-table__cell Вес (г)
            .stock-table__cell Цена (руб)
          each row in rows
            .stock-table__row
              dl.stock-table__properties
                dt.stock-table__property-name Склад
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.storage}
                dt.stock-table__property-name Номенклатура
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.name}
                dt.stock-table__property-name Штрих-код
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.barcode}
                dt.stock-table__property-name Вес (г)
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.weight}
                dt.stock-table__property-name Цена (руб)
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.price}
              if row.delete
                a(href='#').stock-table__button.stock-table__button--delete Удалить
              else
                a(href='#').stock-table__button В корзину
        +pageSubsection({ level: 2 }): +button({ tag: 'a' })(href='#') Еще 2 изделия
        +pageSubsection.modal-relative
          +linkIcon({ icon: 'comment' }).js-inline-modal-open(onclick='' href='#comment7330053') Добавить комментарий
          #comment7330053.inline-modal
            .h2 Комментарий
            .js-validate-form.js-add-comment-product
              .form-line
                textarea.text-input2(placeholder='Ваш текст сообщения')
              span.btn-type2.btn-type2_big
                span.btn-type2__text Прикрепить
                input.btn-type2__input.js-add-comment-product-button(type='button' value='Прикрепить')
        +pageSubsection(class= gridClasses({ justify: 'space-between' }))
          +cell({ l: 2, m: 3, s: 4, xs: 6, tag: 'h4' }).font-weight-normal Похожие товары
          +cell({ l: 2, m: 3, s: 4, xs: 6, tag: 'a' }).next-link.text-align-right(target='_blank' onclick='' href='/gold/similar/?id=7330053') Смотреть все
        +pageSubsection({ level: 2 })
          +slider.slider-similar-products.catalog-list
            - i = 0
            while i < 30
              +slide: +listItem({ similar: true }).slider-similar-products__item
              - i += 1
      +pageSection({ empty: true })
        h2 Изделия гарнитура
        +pageSubsection(class= gridClasses())
          +cell({ l: 3, s: 6, xs: 12 }).product-image: img(src='https://shop.alikor.com/upload/resize_cache/iblock/108/4lrxjdcof8bw4qna6yw1xu5hv6fb38l4/470_470_1/24586_101.jpg')
          +cell({ l: 9, s: 6, xs: 12 }).product-detail
            +grid({ alignItems: 'flex-start' })
              +cell({ l: 3, xs: 12 })(class= gridClasses({ alignItems: 'flex-end', alignContent: 'flex-end' }))
                +cell({ xs: 12 })
                  +linkIcon({ icon: 'star' }).js-favorites.js-favorites.fv-7330053(href='#' data-id='7330053' data-title='В избранное') В избранное
                +cell({ l: 12, xs: 6 }).product-detail__name 24586-101
                +cell({ l: 12, xs: 6 })
                  .product-detail__sub-title.product-detail__sub-title-small  Базовая стоимость
                  strong.product-detail__price 46 870 Р
              +cell({ l: 9, s: 8, xs: 12 })
                +pageSubsection({ level: 2 }).drop-wrap.opened
                  +linkIcon({ icon: 'dropdown', right: true })(href='#').js-drop-click.js-drop-click
                    span(style=' color: rgb(0, 0, 0); font-family: "Fira Sans", sans-serif; font-size:14px; font-weight:700; ') Характеристики
                  .drop-down
                    .drop-down__cont
                      table
                        tbody
                          tr
                            td(style='padding-bottom: 5px') Тип:
                            td(style='padding-bottom: 5px') Ювелирное
                          tr
                            td(style='padding-bottom: 5px') Коллекция:
                            td(style='padding-bottom: 5px')
                              a.card-collection-link(data-id='751215' onclick='' href='/gold/filter/collectionid-is-magic colors/apply/') Magic colors
                          tr
                            td(style='padding-bottom: 5px') Цвет золота:
                            td(style='padding-bottom: 5px') Красное
                          tr
                            td(style='padding-bottom: 5px') Тематика:
                            td(style='padding-bottom: 5px')
                              div Малинки;
                          tr
                            td(style='padding-bottom: 5px') Проба:
                            td(style='padding-bottom: 5px') 585
                          tr
                            td(style='padding-bottom: 5px') Вес базовый:
                            td(style='padding-bottom: 5px') 1.59 гр.
                +pageSubsection({ level: 2 })
                  +grid.drop-wrap
                    +cell({ xs: 4 }): +linkIcon({ icon: 'dropdown', right: true })(href='#').js-drop-click.js-drop-click
                      span(style=' color: rgb(0, 0, 0); font-family: "Fira Sans", sans-serif; font-size:14px; font-weight:700; ') Вставки
                    +cell({ xs: 7, tag: 'span' }).info-block-vstavka-right
                      | 2 Изумруд Груша 0.697 3/3 
                      br
                      | 30 Бриллиант Круг 57 0.237 4/5
                    .drop-down
                      .drop-down__cont
                        table(style='margin-bottom: 0')
                          tbody
                            tr
                              td 2 Изумруд Груша 0.697 3/3 
                            tr
                              td 30 Бриллиант Круг 57 0.237 4/5 
                +pageSubsection({ level: 2 }).detail-garnitur
                  h4 Изделия гарнитура
                  .detail-garnitur__row
                    a.detail-garnitur__item.js-open-product.js-open-product-14586_101(href='?item=14586_101' onclick='' data-url='14586_101.html')
                      img(src='/upload/resize_cache/iblock/9d6/5by603nntg8zafee8ncnv62u6fxciecz/70_70_1/14586_101.jpg' alt='' width='70' height='70')
                    a.detail-garnitur__item.js-open-product.js-open-product-64586_101(href='?item=64586_101' onclick='' data-url='64586_101.html')
                      img(src='/upload/resize_cache/iblock/d4c/7vipuqhh0se4v6f1ovt35sul263g50fw/70_70_1/64586_101.jpg' alt='' width='70' height='70')
        +pageSubsection.product-detail__sub-title  В производство:
        +pageSubsection({ tag: 'ul', level: 2 }).counter-list
          li.counter-list__item
            label.counter-list__name(for='count73302717330051') 16
            #count73302717330051-styler.jq-number
              .jq-number__field
                input#count73302717330051.empty(data-owncreate='1' data-id='7330271' type='number' value='0' min='0' max='')
              .jq-number__spin.minus.disabled
              .jq-number__spin.plus
              .error
          li.counter-list__item
            label.counter-list__name(for='count73302727330051') 16.5
            #count73302727330051-styler.jq-number
              .jq-number__field
                input#count73302727330051.empty(data-owncreate='1' data-id='7330272' type='number' value='0' min='0' max='')
              .jq-number__spin.minus.disabled
              .jq-number__spin.plus
              .error
          li.counter-list__item
            label.counter-list__name(for='count73302737330051') 17
            #count73302737330051-styler.jq-number
              .jq-number__field
                input#count73302737330051.empty(data-owncreate='1' data-id='7330273' type='number' value='0' min='0' max='')
              .jq-number__spin.minus.disabled
              .jq-number__spin.plus
              .error
          li.counter-list__item
            label.counter-list__name(for='count73302747330051') 17.5
            #count73302747330051-styler.jq-number
              .jq-number__field
                input#count73302747330051.empty(data-owncreate='1' data-id='7330274' type='number' value='0' min='0' max='')
              .jq-number__spin.minus.disabled
              .jq-number__spin.plus
              .error
          li.counter-list__item
            label.counter-list__name(for='count73302757330051') 18
            #count73302757330051-styler.jq-number
              .jq-number__field
                input#count73302757330051.empty(data-owncreate='1' data-id='7330275' type='number' value='0' min='0' max='')
              .jq-number__spin.minus.disabled
              .jq-number__spin.plus
              .error
          li.counter-list__item
            label.counter-list__name(for='count73302767330051') 18.5
            #count73302767330051-styler.jq-number
              .jq-number__field
                input#count73302767330051.empty(data-owncreate='1' data-id='7330276' type='number' value='0' min='0' max='')
              .jq-number__spin.minus.disabled
              .jq-number__spin.plus
              .error
          li.counter-list__item
            label.counter-list__name(for='count73302777330051') 19
            #count73302777330051-styler.jq-number
              .jq-number__field
                input#count73302777330051.empty(data-owncreate='1' data-id='7330277' type='number' value='0' min='0' max='')
              .jq-number__spin.minus.disabled
              .jq-number__spin.plus
              .error
          li.counter-list__item
            label.counter-list__name(for='count73302787330051') 19.5
            #count73302787330051-styler.jq-number
              .jq-number__field
                input#count73302787330051.empty(data-owncreate='1' data-id='7330278' type='number' value='0' min='0' max='')
              .jq-number__spin.minus.disabled
              .jq-number__spin.plus
              .error
        +pageSubsection(class= gridClasses({ justify: 'space-between' }))
          +cell({ l: 2, m: 3, s: 4, xs: 6, tag: 'h4' }) Похожие товары
          +cell({ l: 2, m: 3, s: 4, xs: 6, tag: 'a' }).next-link.text-align-right(target='_blank' onclick='' href='/gold/similar/?id=7330053') Смотреть все
        +pageSubsection({ level: 2 })
          +slider.slider-similar-products.catalog-list
            - i = 0
            while i < 30
              +slide: +listItem({ similar: true }).slider-similar-products__item
              - i += 1
