extends /blocks/layout/layout

include /blocks/manager-block/manager-block
include /blocks/marketing-item/marketing-item
include /blocks/aside-menu/aside-menu
include /blocks/slider/slider
include /blocks/link-icon/link-icon
include /blocks/product-properties/product-properties
include /blocks/page-subsection/page-subsection
include /blocks/tabs-menu/tabs-menu
include /blocks/list-item/list-item
include /blocks/page-section/page-section

block variables
  -
    const noHeader = true
    const noFooter = true
    const bodyClass = 'page-loaded'
    const htmlClass = 'detail-product-opened'
block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  -
    const productProperties = [
      { name: 'Тип:', value: 'Кольца' },
      { name: 'Цвет золота:', value: 'Красное' },
      { name: 'Цвет золота:', value: 'Красное' },
      { name: 'Проба:', value: '750' },
    ]
    const rows = [
      {
        size: '16',
        storage: 'Склад Премиум',
        name: '14269-КБ5',
        barcode: '4800006538868',
        scatter: '0,50-0,59',
        feature: '7/8',
        weight: '2.77',
        price: '133 840 руб.',
      },
      {
        size: '16.5',
        storage: 'Склад Премиум',
        name: '14269-КБ1',
        barcode: '4800007082711',
        scatter: '1,0-1,49',
        feature: '6/8',
        weight: '2.95',
        price: '561 245 руб.',
      },
      {
        size: '17',
        storage: 'Склад Премиум',
        name: '14269-КБ6',
        barcode: '4800075155010',
        scatter: '0,60-0,69',
        feature: '5/7',
        weight: '2.77',
        price: '226 170 руб.',
      },
      {
        size: '17.5',
        storage: 'Склад Премиум',
        name: '14269-КБ8',
        barcode: '4800006546443',
        scatter: '0,80-0,89',
        feature: '6/8',
        weight: '2.95',
        price: '278 760 руб.',
      },
    ]
  div(style='background-color: #ccc; position:absolute;inset:0')
  .product-detail-popup: .product-detail-popup__cont: .product-ajax-container
    .card-header-wrap.card-header-wrap_empty
      .card-header
        .container
          .card-header__top
            a.back-link.ico-link__back.js-close-product(href='#') Вернуться к каталогу
            .header-links
              +linkIcon({ icon: 'favourite' })(href='/favorites/') Избранное: 24
              +linkIcon({ icon: 'cart' })(href='/cart/') Корзина: 
                span.cart-count 3
                |  изделия на 58 300 Р
        .container.js-selected-items-popup.none
          .card-header__bottom(style='display: none')
            dl.items-selected
              dt.items-selected__label
                | Выбрано:
              dd.items-selected__val
            .card-header__result
              strong.card-header__price
                | Стоимость: 
                span
                |  Р
              a.btn-type2.btn-type2_big.btn-type2_upper.js-add-to-cart(onclick='' href='#' data-catalog='gold' data-id='7330053')
                span.btn-type2__text Добавить в корзину

    .product-detail-cont
      +pageSection({ empty: true })
        +pageSubsection(class= gridClasses())
          +cell({ l: 1 }).hidden-m.hidden-s.hidden-xs
            +slider.product-images-thumbs
              +slide.product-thumb: img(src='https://shop.alikor.com/upload/resize_cache/iblock/108/4lrxjdcof8bw4qna6yw1xu5hv6fb38l4/470_470_1/24586_101.jpg')
              +slide.product-thumb: img(src='https://shop.alikor.com/upload/resize_cache/iblock/987/aovr12l5fsm0el62z0cfk1csmtnkz8o2/470_470_1/24586_101_greed.jpg')
          +cell({ l: 4, s: 6, xs: 12 })
            +slider({pagination: true, productImageOpener: true}).product-images
              +slide.product-image: img(src='https://shop.alikor.com/upload/resize_cache/iblock/108/4lrxjdcof8bw4qna6yw1xu5hv6fb38l4/470_470_1/24586_101.jpg')
              +slide.product-image: img(src='https://shop.alikor.com/upload/resize_cache/iblock/987/aovr12l5fsm0el62z0cfk1csmtnkz8o2/470_470_1/24586_101_greed.jpg')
          +cell({ l: 7, s: 6, xs: 12 }).product-detail
            +grid({ alignItems: 'flex-start' })
              +cell({ l: 4, xs: 12 })(class= gridClasses({ alignItems: 'flex-end', alignContent: 'flex-end' }))
                +cell({ xs: 12 })
                  +linkIcon({ icon: 'star' }).js-favorites.js-favorites.fv-7330053(href='#' data-id='7330053' data-title='В избранное') В избранное
                +cell({ l: 12, xs: 6 }).product-detail__name 14269-К
              +cell({ l: 8, s: 8, xs: 12 })
                h4 Характеристики
                +pageSubsection(): +productProperties(productProperties)
                +pageSubsection().hidden-xs: img(src='https://shop.alikor.com/local/templates/silver/img/content/catalog-item__banner.jpg' alt='')
        +tabsMenu([
          { name: 'В наличии', href: '#', active: true },
          { name: 'В производство', href: '#' },
        ]).page-subsection
        +pageSubsection.stock-table.stock-table--cols--9
          .stock-table__row.stock-table__row--header.hidden-m.hidden-s.hidden-xs
            .stock-table__cell Размер
            .stock-table__cell Склад
            .stock-table__cell Номенклатура
            .stock-table__cell Штрихкод
            .stock-table__cell Рассев
            .stock-table__cell Характеристика
            .stock-table__cell Вес (гр)
            .stock-table__cell Цена (руб)
          each row in rows
            .stock-table__row
              dl.stock-table__properties
                dt.stock-table__property-name Размер
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.size}
                dt.stock-table__property-name Склад
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.storage}
                dt.stock-table__property-name Номенклатура
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.name}
                dt.stock-table__property-name Штрихкод
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.barcode}
                dt.stock-table__property-name Рассев
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.scatter}
                dt.stock-table__property-name Характеристика
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.feature}
                dt.stock-table__property-name Вес (гр)
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.weight}
                dt.stock-table__property-name Цена (руб)
                dd.stock-table__property-value.stock-table__property-value--overflow-hidden !{row.price}
              if row.delete
                a(href='#').stock-table__button.stock-table__button--delete Удалить
              else
                a(href='#').stock-table__button В корзину
        +pageSubsection.modal-relative
          +linkIcon({ icon: 'comment' }).js-inline-modal-open(onclick='' href='#comment7330053') Добавить комментарий
          #comment7330053.inline-modal
            .h2 Комментарий
            .js-validate-form.js-add-comment-product
              .form-line
                textarea.text-input2(placeholder='Ваш текст сообщения')
              span.btn-type2.btn-type2_big
                span.btn-type2__text Прикрепить
                input.btn-type2__input.js-add-comment-product-button(type='button' value='Прикрепить')
