extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/button/button
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/profile-menu
  .container: .content: +grid.page-layout
    +asideMenu(profileMenu)(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Создание временного доступа “Для друзей”
      +pageSubsection({ tag: 'form' })
        +pageSubsection(class= gridClasses()): +cell({ l: 8, xs: 12 })
          .form-group.group-NAME.form-line
            label.control-label.required.main-form__label(for='form-5-NAME') ФИО:
            input#form-5-NAME.text-input2.form-control.field-NAME(required='' type='text' name='form_text_38' value='')
          .form-group.group-CATALOG_ACCESS.form-line
            input#form-5-CATALOG_ACCESS.js-add-access-catalog.text-input2.form-control.field-CATALOG_ACCESS(type='hidden' name='form_text_67' value='')
            .add-access__catalog.js-add-access-catalog-checkboxes
              label.checkbox
                input.checkbox__input(type='checkbox' value='gold')
                span.checkbox__text Золото
              label.checkbox
                input.checkbox__input(type='checkbox' value='silver')
                span.checkbox__text Серебро
            .js-add-access-catalog-error(style='margin-top: 15px;color: red;display: none;') Выберите хотя бы один доступный каталог для пользователя!
          .form-group.group-EMAIL.form-line
            label.control-label.required.main-form__label(for='form-5-EMAIL') Email:
            input#form-5-EMAIL.text-input2.form-control.field-EMAIL(required='' type='email' name='form_email_39' value='' size='0')
          input#form-5-PASS.text-input2.form-control.field-PASS(type='hidden' name='form_hidden_40' value='r3otvu5ipd')
        +pageSubsection(class= gridClasses())
          +button(type='submit' class= cellClasses({ l: 3, xs: 12 })) Отправить
