extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/profile-menu
  include /data/orders
  .container: .content: +grid.page-layout
    +asideMenu(profileMenu)(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Кабинет
      +pageSubsection
        p: +linkIcon({ icon: 'add' })(href='#') Добавить юрлицо
        p: +linkIcon({ icon: 'edit' })(href='#') Редактировать личные данные
      +pageSubsection
        h2 Мои последние заказы
        each order in orders
          +orderBlock(order)
      +pageSubsection(class= gridClasses())
        +button({ tag: 'a' })(href='#' class= cellClasses({ l: 4, xs: 12 })) Посмотреть все заказы
