extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/button/button
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/profile-menu
  .container: .content: +grid.page-layout
    +asideMenu(profileMenu)(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Редактирование персональных данных
      +pageSubsection({ tag: 'form' })
        +pageSubsection(class= gridClasses()): +cell({ l: 8, xs: 12 })
          .form-line
            label.main-form__label(for='fio') ФИО: *
            input#fio.text-input2(type='text' value='' name='NAME' required='' aria-required='true')
          .form-line
            label.main-form__label(for='tel') Телефон: *
            input#tel.text-input2.js-phone-input(type='tel' value='' name='PERSONAL_PHONE' required='' aria-required='true')
          .form-line
            label.main-form__label(for='email') Email: *
            input#email.text-input2(type='email' value='kislorod-admin@o2k.ru' name='EMAIL' required='' aria-required='true')
          p.form-required-caption * Обязательные для заполнения поля
        +pageSubsection(class= gridClasses())
          +button(type='submit' class= cellClasses({ l: 3, xs: 12 })) Отправить
      +blockMarked({ tag: 'ol', color: true })(class= gridClasses()).page-subsection.list-ordered
        +cell({ tag: 'li', m: 6, s: 6, xs: 12 }): p После заполнения формы, указаннные данные, передаются в отдел продаж. Менеджер, ведущий Ваш регион, передаст документы на соглсование в службу безопасности, затем свяжется с Вами для уточнения дополнительных вопросов.
        +cell({ tag: 'li', m: 6, s: 6, xs: 12 }): p После согласования всех вопросов с менеджером, данные о новом юридическом лице автоматически добавятся в ваш профиль, и станет доступен для выбора при заказе на сайте.
      +pageSubsection: p: +linkIcon({ icon: 'lock' })(href='#') Поменять пароль
