extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/button/button
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/profile-menu
  .container: .content: +grid.page-layout
    +asideMenu(profileMenu)(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Поменять пароль
      +pageSubsection({ tag: 'form' })
        +pageSubsection(class= gridClasses()): +cell({ l: 8, xs: 12 })
          .form-line
            label.main-form__label(for='password') Пароль: *
            input#password.text-input2(type='password' value='' name='PASSWORD' required='' aria-required='true')
          .form-line
            label.main-form__label(for='password-repeat') Подтверждение пароля: *
            input#password-repeat.text-input2.js-phone-input(type='password' value='' name='PASSWORD_REPEAT' required='' aria-required='true')
          p.form-required-caption * Обязательные для заполнения поля
        +pageSubsection(class= gridClasses())
          +button(type='submit' class= cellClasses({ l: 3, xs: 12 })) Отправить
