extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/button/button
include /blocks/notification-item/notification-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/profile-menu
  .container: .content: +grid.page-layout
    +asideMenu(profileMenu)(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Настройка уведомлений
      +pageSubsection.notification-settings
        .notification-settings__header
          .notification-settings__header-item Email
          .notification-settings__header-item Оповещать о новинках
          .notification-settings__header-item Оповещать о статусах заказов
          .notification-settings__header-item Оповещать о новых акционных товарах
          .notification-settings__header-item
        +notificationItem
        +notificationItem
      +pageSubsection(class= gridClasses({ alignItems: 'center' })).notification-settings-footer
        +button(type='submit' class= cellClasses({ l: 3, xs: 12 })) Сохранить 
        +cell({l: 3, xs: 12}).notification-settings-footer__add: +linkIcon({ icon: 'add' })(href='#') Добавить контакт
