extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button
include /blocks/tabs-menu/tabs-menu

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/profile-menu
  include /data/orders
  .container: .content: +grid.page-layout
    +asideMenu(profileMenu)(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Мои заказы
      +tabsMenu([
        { name: 'Посмотреть все заказы', href: '#' },
        { name: 'Заказы со склада', href: '#' },
        { name: 'Заказы в производство', href: '#', active: true },
      ]).page-subsection
      +pageSubsection
        .order-filter.hidden-xs
          span.order-filter__title За время
          .date-period
            .date-input
              input.text-input2.text-input2_small.js-date-input.js-date-min(type='text' value='' readonly='')
            .date-input
              input.text-input2.text-input2_small.js-date-input.js-date-max(type='text' value='' readonly='')
          a.underlined-link.js-show-orders-filter(href='#')
            span.underlined-link__text Показать
          a.underlined-link.js-clear-orders-filter(href='#')
            span.underlined-link__text Очистить поля
      +pageSubsection
        each order in orders
          +orderBlock(order)
      +pageSubsection(class= gridClasses())
        +button({ tag: 'a' })(href='#' class= cellClasses({ l: 3, xs: 12 })).hidden-hd.hidden-xl.hidden-l.hidden-m.hidden-s Посмотреть все заказы
