extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/button/button
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/profile-menu
  .container: .content: +grid.page-layout
    +asideMenu(profileMenu)(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Создание временного доступа
      +blockMarked({ border: true, smallPadding: true }).page-subsection
        h2.h3 Как это работает?
        p: strong Временный доступ предназначен для знакомства новых клиентов, которым пока не подтвержден постоянный доступ (нет договора), с нашим ассортиментом.
        p: strong Доступ предоставляется на 5 дней. Для знакомства клиенту доступны только остатки Центрального склада. Клиент может отложить товары в корзину, но НЕ может сделать заказ!
        p: strong Для создания доступа необходимо заполнить поля:
        ul.list-unordered.list-unordered--w-prev-par
          li ФИО клиента
          li Название компании
          li Электронная почта клиента
        p При необходимости поставить галку “Показывать цены” , по умолчанию для тестовых пользователей цены на сайте не показываются. ВНИМАНИЕ! Нажимая кнопку «создать» вы принимаете на себя ответственность за распространение коммерческой информации о работодателе – цен и товарных остатков.
      +pageSubsection({ tag: 'form' })
        +pageSubsection(class= gridClasses()): +cell({ l: 8, xs: 12 })
          .form-group.group-NAME.form-line
            label.control-label.required.main-form__label(for='form-5-NAME') ФИО:
            input#form-5-NAME.text-input2.form-control.field-NAME(required='' type='text' name='form_text_38' value='')
          .form-group.group-COMPANY.form-line
            label.control-label.required.main-form__label(for='form-5-COMPANY') Название компании:
            input#form-5-COMPANY.text-input2.form-control.field-COMPANY(required='' type='text' name='form_text_42' value='')
          .form-group.group-CATALOG_ACCESS.form-line
            input#form-5-CATALOG_ACCESS.js-add-access-catalog.text-input2.form-control.field-CATALOG_ACCESS(type='hidden' name='form_text_67' value='')
            .add-access__catalog.js-add-access-catalog-checkboxes
              label.checkbox
                input.checkbox__input(type='checkbox' value='gold')
                span.checkbox__text Золото
              label.checkbox
                input.checkbox__input(type='checkbox' value='silver')
                span.checkbox__text Серебро
            .js-add-access-catalog-error(style='margin-top: 15px;color: red;display: none;') Выберите хотя бы один доступный каталог для пользователя!
          .form-group.group-EMAIL.form-line
            label.control-label.required.main-form__label(for='form-5-EMAIL') Email:
            input#form-5-EMAIL.text-input2.form-control.field-EMAIL(required='' type='email' name='form_email_39' value='' size='0')
          input#form-5-PASS.text-input2.form-control.field-PASS(type='hidden' name='form_hidden_40' value='r3otvu5ipd')
          .form-group.group-SHOW_PRICE.form-line(style='font-weight: 300;')
            label.checkbox
              input.checkbox__input(type='checkbox' name='form_checkbox_SHOW_PRICE[]' value='41')
              span.checkbox__text Показывать цену
        +pageSubsection(class= gridClasses())
          +button(type='submit' class= cellClasses({ l: 3, xs: 12 })) Отправить
