extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/button/button
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/profile-menu
  .container: .content: +grid.page-layout
    +asideMenu(profileMenu)(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Заявка для нового юридического лица
      +pageSubsection({ tag: 'form' })
        +pageSubsection(class= gridClasses()): +cell({ l: 8, xs: 12 })
          .form-line
            label.main-form__label(for='name') Организация: *
            input#name.text-input2(type='text' value='' name='name' required aria-required='true')
          .form-line
            label.main-form__label(for='number') ИНН: *
            input#number.text-input2(type='text' value='' name='number' required aria-required='true')
        +pageSubsection
          h2 Загрузка документов
          ul.file-upload-list
            li.file-upload-list__item
              .jq-file
                .jq-file__name Файл не выбран
                .jq-file__browse Загрузить файл
                input(type='file' name='REQUISITES' data-browse='Загрузить файл с реквизитами')
            li.file-upload-list__item
              .jq-file
                .jq-file__name Файл не выбран
                .jq-file__browse Загрузить файл
                input(type='file' name='CERTIFICATE_OF_REGISTRATION' data-browse='Загрузить копию свидетельства постановки на учет')
            li.file-upload-list__item
              .jq-file
                .jq-file__name Файл не выбран
                .jq-file__browse Загрузить файл
                input(type='file' name='NOTIFICATION_REGISTER' data-browse='Загрузить копию уведомления о включении в реестр специального учета юр.лиц и ИП')
            li.file-upload-list__item
              .jq-file
                .jq-file__name Файл не выбран
                .jq-file__browse Загрузить файл
                input(type='file' name='CERTIFICATE_REGISTRY' data-browse='Загрузить копию свидетельства о внесении в Единый государственный реестр юридических лиц')
            li.file-upload-list__item
              .jq-file
                .jq-file__name Файл не выбран
                .jq-file__browse Загрузить файл
                input(type='file' name='COPY_CERTIFICATE_REGISTRATION' data-browse='Загрузить копию свидетельства о постановке на учет в налоговом органе')
            li.file-upload-list__item
              .jq-file
                .jq-file__name Файл не выбран
                .jq-file__browse Загрузить файл
                input(type='file' name='COPY_CHARTER' data-browse='Загрузить копию Устава')
            li.file-upload-list__item
              .jq-file
                .jq-file__name Файл не выбран
                .jq-file__browse Загрузить файл
                input(type='file' name='COPY_ORDER_DIRECTOR' data-browse='Загрузить копию приказа о назначении директора')
            li.file-upload-list__item
              .jq-file
                .jq-file__name Файл не выбран
                .jq-file__browse Загрузить файл
                input(type='file' name='COPY_PASSPORT' data-browse='Загрузить копию паспорта гражданина РФ (для ИП)')

        +pageSubsection(class= gridClasses())
          +button(type='submit' class= cellClasses({ l: 3, xs: 12 })) Отправить
      +blockMarked({ tag: 'ol', color: true })(class= gridClasses()).page-subsection.list-ordered
        +cell({ tag: 'li', m: 6, s: 6, xs: 12 }): p После заполнения формы, указаннные данные, передаются в отдел продаж. Менеджер, ведущий Ваш регион, передаст документы на соглсование в службу безопасности, затем свяжется с Вами для уточнения дополнительных вопросов.
        +cell({ tag: 'li', m: 6, s: 6, xs: 12 }): p После согласования всех вопросов с менеджером, данные о новом юридическом лице автоматически добавятся в ваш профиль, и станет доступен для выбора при заказе на сайте.
