extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/button/button
include /blocks/block-marked/block-marked
include /blocks/manager-block/manager-block
include /blocks/marketing-item/marketing-item

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  include /data/profile-menu
  -
    const marketingItems = [
      {
        image: 'marketing-item__image-1',
        title: 'Федеральная Акция 25 ЛЕТ ВМЕСТЕ!',
        date: '1 июля 2022',
      },
      {
        image: 'marketing-item__image-2',
        title: 'Актуальный трендбук и всё о последних новинках',
        date: '1 июля 2022',
      },
      {
        image: 'marketing-item__image-3',
        title: 'Рекламные материалы о компании и коллекциях',
        date: '1 июля 2022',
      },
      {
        image: 'marketing-item__image-4',
        title: 'Федеральная Акция 25 ЛЕТ ВМЕСТЕ!',
        date: '1 июля 2022',
      },
      {
        image: 'marketing-item__image-5',
        title: 'Федеральная Акция 25 ЛЕТ ВМЕСТЕ!',
        date: '1 июля 2022',
      },
    ]
  .container: .content: +grid.page-layout
    +asideMenu(profileMenu)(class= cellClasses({ l: 3, xs: 12 }))
    +cell({ l: 9, xs: 12 })
      h1 Рекламные материалы
      +pageSubsection(class= gridClasses({ alignItems: 'flex-start' }))
        each item in marketingItems
          +marketingItem(item)(class= cellClasses({ s: 4, xs: 12 }))
      +blockMarked({ color: true }).page-subsection
        +pageSubsection
          h2 Не нашли что искали?
          p Оставьте запрос на изготовление рекламных материалов.
        +pageSubsection({tag: 'form'})#marketing
          +pageSubsection(class= gridClasses())
            +cell({ tag: 'label', s: 6, xs: 12 }).form-input.form-input--text.form__input
              span.form-input__label
                | ФИО:
              input.form-input__field(type='text' name='NAME' required='')
            +cell({ tag: 'label', s: 6, xs: 12 }).form-input.form-input--text.form__input
              span.form-input__label
                | Компания:
              input.form-input__field(type='text' name='COMPANY' required='')
            +cell({ tag: 'label', s: 6, xs: 12 }).form-input.form-input--text.form__input
              span.form-input__label
                | Телефон:
              input.form-input__field.js-phone-input(type='text' name='PHONE' required='')
            +cell({ tag: 'label', s: 6, xs: 12 }).form-input.form-input--text.form__input
              span.form-input__label
                | Ваш комментарий:
              input.form-input__field(type='text' name='PREVIEW_TEXT')
          +pageSubsection(class= gridClasses()): +cell({ tag: 'button', l: 3, s: 6, xs: 12 }).button.form__submit(type='submit') Отправить
          input(type='hidden' name='IBLOCK_ID' value='69')
      +blockMarked({ color: true }).page-subsection
        h2 Задайте вопрос
        +managerBlock({
          image: 'manager-2',
          title: 'Юлия Адэр',
          info: 'Руководитель отдела трейд-маркетинга',
          contacts: [
            { title: 'Телефон', value: '+7 960 744 93 66' },
            { title: 'E-mail', value: 'ader@alikor.com' },
          ],
        }, { big: true })
