extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isLoginPage = true
block content
  .container: .content.register.page-layout
    +pageSubsection(class= gridClasses({ alignItems: 'center' })).register__title
      +cell({ tag: 'h1', l: 3, xs: 12 }) Регистрация
      +cell({ tag: 'span', l: 9, xs: 12 }).register__title-caption Уже регистрировались?
        a.underlined-link(href='/auth/')
          span.underlined-link__text Авторизуйтесь
    +pageSubsection(class= gridClasses({ alignItems: 'flex-start' })).register__layout
      +cell({ l: 6, xs: 12, tag: 'form' }).register__form
        h2 Меня интересуют:
        +pageSubsection(class= gridClasses())
          +cell({ l: 4, xs: 6 })
            label.checkbox
              input.checkbox__input(type='checkbox' value='1' name='REGISTER[UF_INTERES][]' data-msg-required='Выберите тип изделий' required='' aria-required='true')
              .checkbox__text Изделия из золота
          +cell({ l: 4, xs: 6 })
            label.checkbox
              input.checkbox__input(type='checkbox' value='2' name='REGISTER[UF_INTERES][]' data-msg-required='Выберите тип изделий' required='' aria-required='true')
              .checkbox__text Изделия из серебра
        h2 Данные об организации
        +pageSubsection
          .par
            label.main-form__label(for='name') Название организации: *
            input#name.text-input2(type='text' name='REGISTER[WORK_COMPANY]' value='' required='' aria-required='true')
          .par
            label.main-form__label(for='address') Адрес: *
            input#address.text-input2(type='text' name='REGISTER[WORK_STREET]' value='' required='' aria-required='true')
          .par
            label.main-form__label(for='inn') ИНН: *
            input#inn.text-input2(type='text' name='REGISTER[UF_INN]' value='' required='' aria-required='true')
        h2 Регистрационные данные
        +pageSubsection
          .par
            label.main-form__label(for='fio') ФИО: *
            input#fio.text-input2(type='text' name='REGISTER[NAME]' value='' required='' aria-required='true')
          .par
            label.main-form__label(for='email') Email: *
            input#email.text-input2(type='email' name='REGISTER[EMAIL]' value='' required='' aria-required='true')
          .par
            label.main-form__label(for='tel') Телефон: *
            input#tel.text-input2.js-phone-input(type='tel' name='REGISTER[PERSONAL_PHONE]' value='' required='' aria-required='true')
          +grid().par
            +cell({ l: 6, s: 6, xs: 12 })
              label.main-form__label(for='password') Пароль: *
              .pass-input
                input#password.text-input2.text-input2_pass.js-pass-validate(type='password' value='' name='REGISTER[PASSWORD]' placeholder='Не менее 6 символов' minlength='6' required='' aria-required='true')
                span.pass-input__ico.js-show-pass 
            +cell({ l: 6, s: 6, xs: 12 })
              label.main-form__label(for='password_confirm') Подтверждение пароля: *
              .pass-input
                input#password_confirm.text-input2.text-input2_pass.js-pass-validate(type='password' value='' name='REGISTER[CONFIRM_PASSWORD]' minlength='6' required='' aria-required='true')
                span.pass-input__ico.js-show-pass 
            input(name='FILL_CHECK' value='' type='text').visually-hidden
        +pageSubsection(class= gridClasses()): +cell({ l: 6, s: 9, xs: 12 })
          .par
            p Защита от автоматической регистрации
            input(type='hidden' name='captcha_sid' value='0b11deecbe3f60d64380e49a08e9f7c7')
            img(src='https://dummyimage.com/180x40' width='180' height='40' alt='CAPTCHA')
          .par
            div Введите слово на картинке:
              span.starrequired *
            input(type='text' name='captcha_word' maxlength='50' value='').text-input2
        +pageSubsection(): p.register__required * Обязательные для заполнения поля
        +pageSubsection(class= gridClasses())
          +cell({ m: 7, xs: 12 }): label.checkbox
            input.checkbox__input.agreement_checkbox(type='checkbox' name='agreement' value='' data-msg-required='Согласие обязательно' required='' aria-required='true')
            span.checkbox__text
              | Нажимая на кнопку «Зарегистрироваться», я даю
              a(target='_blank' href='/agreement/')  согласие на обработку персональных данных
          +button({ type: 'submit' })(class= cellClasses({ m: 5, xs: 12 })) Зарегистрироваться
      +blockMarked({ color: true })(class= cellClasses({ l: 6, xs: 12 })).register__description
        h4 Зарегистрироваться могут только юридические лица и индивидуальные предприниматели
        p Для просмотра онлайн-каталога изделий требуется пройти регистрацию. Это займет совсем немного времени:
        p 1. Логином является адрес Вашей электронной почты.
        p.register__description-hidden 2. После регистрации указанные данные передаются в отдел продаж. Далее, менеджер, ответственный за работу в Вашем регионе, связывается для получения необходимых документов, подтверждающих статус Вашего юридического лица.
        p.register__description-hidden 3. После согласования всех вопросов с менеджером, доступ активируется и на Ваш е-mail, указанный при регистрации, отправляется письмо с информацией, необходимой для входа на сайт.
        p.register__description-hidden Такая процедура регистрации обусловлена тем, что на оптовом сайте размещена информация о реальных остатках, что является предметом коммерческой тайны.
        p.register__description-show: a(href='#').register__description-show-link Развернуть
