extends /blocks/layout/layout

include /blocks/aside-menu/aside-menu
include /blocks/page-subsection/page-subsection
include /blocks/link-icon/link-icon
include /blocks/order-block/order-block
include /blocks/button/button
include /blocks/block-marked/block-marked

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
    const isLoginPage = true
block content
  .container: .content.page-layout
    +pageSubsection(class= gridClasses({ alignItems: 'center' })).restore__title
      +cell({ tag: 'h1', l: 7, xs: 12 }) Восстановление и смена пароля
      +cell({ tag: 'span', l: 3, xs: 12 })
        a.underlined-link(href='/auth/')
          span.underlined-link__text Авторизуйтесь
    +pageSubsection(class= gridClasses()): +cell({ l: 6, xs: 12 })
      p.restore__description
        strong Если вы забыли пароль, введите Email.
        br
        |  Контрольная строка для смены пароля, а также ваши регистрационные данные будут высланы вам на указанный адрес.
      +grid({ alignItems: 'flex-end' }).restore__form
        +cell({ s: 7, xs: 12 }).restore__input
          label.main-form__label(for='email') Email: *
          input#email.text-input2(type='email' value='' name='USER_EMAIL' required='' aria-required='true')
        +button(type='submit' class= cellClasses({ s: 5, xs: 12 })).restore__submit Получить ссылку
