.restore
  &__form
    margin-top 40px
    padding-top 40px
    border-top 1px solid var(--color-border-secondary)
    @media (max-width point-l - 1)
      margin-top 24px
      padding-top 24px
  &__title
  &__description
    @media (max-width point-m - 1)
      text-align center
  &__submit
    padding-y 16px
