.page-section
  & + &
    margin-top 50px
  &--background-color
    padding-y 40px
    background-color #F6F7FC
  &--background-color--before
    position relative
    padding-y 40px
    &::before
      content ''
      position absolute
      top 0
      left 50%
      width 100vw
      height 100%
      background-color #F6F7FC
      translate -50%
  .page-cont
    padding-y 0
