.card-header-wrap
  width 100%
.card-header
  width 75vw
  position relative
  top unset
  left unset
  z-index unset
  max-width unquote('min(100%, 100vw)')
  box-shadow 0 4px 12px rgba(0, 0, 0, .1)
  @media (max-width point-l - 1)
    width unquote('min(100%, 100vw)')
  @media (max-width 1600px)
    width calc(100vw - 70px)
  @media (max-width 1280px) and (min-width 993px)
    width calc(100vw - 50px)
    min-width 960px
  @media (max-width 992px)
    width 720px
    min-width none
  &::before
    z-index 1
    height 100%
  &__top
    row-gap 8px
    width 100%
    height auto
  &__bottom
    flex-wrap wrap
    row-gap 8px
    width 100%
    height auto
  .header-links
    flex-wrap wrap
    row-gap 8px
    @media (max-width point-l - 1)
      column-gap 12px
  .link-icon span
     @media (max-width point-l - 1)
       display none
  .btn-type2
    @media (max-width point-l - 1)
      padding-y 8px
      font-size 12px
  &__result
    @media (max-width point-l - 1)
      flex-direction column
      align-items stretch
      gap 8px
  &__close
    @media (max-width point-l - 1)
      margin-left 12px
  .container
    @media (max-width point-l - 1)
      padding-x 10px
.card-header-wrap
  position fixed
  left 0
  top 0
  z-index 40
