.aside-menu
  position relative
  --arrow-transform none
  --navigation-transform scaleY(0) translateY(100%)
  --navigation-transition-delay var(--transition-time-mouseover)
  --navigation-pointer-events none
  --navigation-list-opacity 0
  --navigation-list-transition-delay 0
  &--active
    --arrow-transform scaleY(-1)
    --navigation-transform scaleY(1) translateY(100%)
    --navigation-transition-delay 0
    --navigation-pointer-events all
    --navigation-list-opacity 1
    --navigation-list-transition-delay var(--transition-time-mouseover)
  &__title
    display flex
    justify-content space-between
    align-items center
    gap 20px
    padding 20px
    font-weight bold
    color #fff
    background-color var(--color-accent)
    @media (min-width point-l)
      display none
    &::after
      content ''
      width 24px
      height 24px
      background-image url(/images/template/svg-sprites/common.svg#arrow)
      background-repeat no-repeat
      background-position center
      background-size cover
      transform var(--arrow-transform)
      transform-origin 50% 50% 0
      transition transform var(--transition-time-mouseout)
.aside-navigation
  padding-x 24px
  padding-top 12px
  background-color var(--color-background)
  border 1px solid var(--color-border)
  @media (max-width point-l - 1)
    position absolute
    bottom 0
    left 0
    z-index 200
    width 100%
    transform var(--navigation-transform)
    transform-origin 0 100% 0
    transition transform var(--transition-time-mouseover)
    transition-delay var(--navigation-transition-delay)
    pointer-events var(--navigation-pointer-events)
  &__list
    @media (max-width point-l - 1)
      opacity var(--navigation-list-opacity)
      transition opacity var(--transition-time-mouseover)
      transition-delay var(--navigation-list-transition-delay)
  &__item
    &:not(&--log-out)
      padding-y 12px
      & + &
        border-top 1px solid var(--color-border-secondary)
    &--log-out
      margin-x -24px
      padding-y 24px
      padding-x 24px
      background-color var(--color-border-secondary)
    &--active
      --color-link var(--color-text-secondary)
