.inline-modal
  @media (max-width point-l - 1)
    position fixed
    top 0
    left 0
    bottom unset
    z-index 2000
    display flex
    flex-direction column
    align-items center
    width 100vw
    height 100vh
    overflow-y auto
    padding-top 156px
    box-shadow none
    & > *
      max-width 555px
    .submit-line
      flex-direction column
      align-items center
      row-gap 24px
      text-align center
    .btn-type2
      width 100%
      max-width 308px
    &.opened
      z-index 1001
    &.product-comment
      position absolute
      top unset
      bottom 100%
      align-items stretch
      width 300px
      max-width 100vw
      height auto
      padding-top 30px
      translate 0 20px
  @media (max-width point-s - 1)
    padding-top 86px
  &__header
    display none
    @media (max-width point-l - 1)
      position absolute
      top 0
      right 0
      left 0
      display flex
      justify-content flex-end
      align-items center
      width 100%
      max-width unset
      height 80px
      padding-x 30px
      box-shadow 0 2px 10px 0 #0000001A
    @media (max-width point-s - 1)
      height 56px
      padding-x 16px
  &__close
    appearance none
    width 28px
    height 28px
    background-color transparent
    background-image url(/images/template/svg-sprites/common.svg#close)
    background-repeat no-repeat
    background-position center
    background-size cover
    border none
    cursor pointer
  .h2
    @media (max-width point-s - 1)
      margin-bottom 12px
      font-size 20px
