.catalog-opener
  display block
  width 100%
  padding 17px
  font-size 13px
  font-weight 300
  text-align center
  text-transform uppercase
  color #880E26
  background-color var(--color-background)
  border 1px solid var(--color-border)
  @media (min-width point-l)
    display none
  &--active
    background-color #F5D8DB
