.btn-type2__input {
	z-index: 5;
}
.alert {
	margin-bottom: 20px;
}
.alert.alert-danger {
	color: #f00;
	
}
.alert.alert-success {
	color: #1f9400;
}
.page-nav span.pages-list__link_active,.page-nav span.pages-list__link_active:hover {
	color: #bcbec0;
}
.bx-filter-container-modef,.none {
	display: none;
}
.smartfilter label.disabled .checkbox__text:before {
	border-color: #bcbec0;
}
.smartfilter label.disabled .checkbox__text {
	color: #bcbec0;
}
.hideFilter,.none {
	display: none;
}
.add-user-notification.hide,.empty-notifications.hide {
	display:none;
}
.js-favorites {
	cursor: pointer;
}
div[id*="wait_comp"] {
    display: none !important;
}
.js-company-show.hide {
	display:none;
}
.tabs-panes__item.active {
	z-index: 25;
}

.modal-relative {
	z-index: initial;
}

.inline-modal {
	z-index: 40;
}
.card-cols__left {
   position: relative;
   z-index: 30;
}
.detail-pics__label.garnitures-label {
	top:0;
	right:0;
}
.jq-number .error{ z-index: 6}
.modal-loader {
	height: 710px;
	width: 730px;
}
.base-show-btn {
    margin-top: 5px;
}
.card-collection-link {
	z-index:10000;
	position:relative;
}
.stock-table .counter-list__item {
	display: none;
}
.stock-table__hidden_size,.stock-table__hidden.stock-table__hidden_size.opened {
	display: none;
}
.ctr {
	text-align: center;
}
.order-table__cell {
	padding: 27px 10px 17px 20px;
}
.product-block-item-garniture {
	min-height: 730px;
}
.checkbox-list_two-col .checkbox-list__item.checkbox-list__item_hidden {
	display:none;
}
.drop-up .drop-down{
    margin: 0 0 10px;
    top: auto;
    bottom: 100%;
}
.drop-up .drop-down:after{
    transform-origin: left bottom;
}

.drop-up .drop-down:before{
    top: auto;
    bottom: 0;
}
.drop-wrap.opened {
	z-index: 100;
}
/*
.helper:before {
	z-index: 1000;
}
*/

.clear-filter {
	font-size: 14px;
}

.fullListChecked ~ .checkbox-list__hidden-cont .checkbox__text:after {
	opacity: 1;
}

.fullListChecked ~ .checkbox-list__hidden-cont .checkbox.disabled .checkbox__text:after {
	opacity: 0;
}

.smartfilter .filter-results-label a {
	color: #fff;
}

.smartfilter .filter-results-label a:hover {
	color: #cb8283;
}

.filter-results-label {
	font-size: 12px;
	padding: 7px 12px;
	border-radius: 3px;
}

.filter-results-label:hover a {
	color: #fff!important;
}

.filter-results-label {
	background-color: #880e26;
}

.filter-results-label:before {
	border-color: transparent #880e26 transparent transparent;
}

.filter-results-label.show {
	font-size: 14px;
	transition: padding  0.2s ease, line-height  0s ease,
	visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
}

.filter-results-label.show:hover {
	background-color: #880e26;
	padding: 0;
	top: -3px;
}

.filter-results-label.show:hover a {

	line-height: 22px;
	padding: 7px 20px;
	display: block;
	transition: padding  0.2s ease,
	visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
}

.filter-results-label:hover:before{
	border-color: transparent #880e26 transparent transparent;
}

.checkbox-list__item .page-preloader {
	position: absolute;
	width: 100%;
	height: 100%;
}

.checkbox-list__item {
	position: relative;
}

.checkbox-list__item .page-preloader.pre-loading {
	position: absolute;
	width: 100%;
	height: 100%;
}

.checkbox-list__item .page-preloader .loader-logo__line {
	width: 19px;
	top: -5px;
	left: 6px;
}

.checkbox-list__item .page-preloader .loader-logo__line:nth-child(2) {
	width: 14px;
	left: 25px;
}

.checkbox-list__item .page-preloader .loader-logo__line:nth-child(3) {
	width: 28px;
	top: 24px;
	left: 14px;
}

.checkbox-list__item .page-preloader .loader-logo__line:nth-child(4) {
	width: 28px;
	top: 4px;
	left: -3px;
}

.checkbox-list__item .page-preloader .loader-logo__line:nth-child(5) {
	width: 15px;
	left: -5px;
	top: 5px;
}

.filter-row__cont {
	overflow: visible;
}
.items-similar:before{
	content: '';
	border: 1px solid rgb(239, 239, 241);
	width: 100%;
	height: calc(100% - 100px);
	position: absolute;
	top: 25px;
}
.similar-title{
	font-size: 17px;
    font-weight: 500;
    padding-bottom: 0;
    letter-spacing: 1px;
}
.similar-title__wrapper{
    margin-bottom: 5px;
}

.detail-garnitur h5{
    color:rgb(136, 14, 38);
}
a.detail-garnitur__item{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e7e7e7;
    transition: border 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}
a.detail-garnitur__item:hover{
    border-color:rgb(136, 14, 38);
}
.similar-title__wrapper .next-link{
    z-index: 1;
}
.catalog-sizes-inline{
	border: none;
}

.catalog-sizes-inline .catalog-filter-inline__list{
	font-size: 0;
	display: block;
}
.catalog-sizes-inline .catalog-filter-inline__item {
	border: 1px solid #f5d8db;
	display: inline-block;
	margin-right: -1px;
	margin-bottom: -1px;
}

.catalog-filter .page-preloader {
	position: absolute;
	width: 100%;
	height: 100%;
}

.catalog-filter {
	position: relative;
}

.checkbox-list.checkbox-list_sub-list {
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.disabled > input {
	pointer-events: none;
}

.js-range-slider-BASE .range-slider-input__label {
	position: relative;
	display: block;
	top: 0;
	right: 0;
	left: 5px;
	margin-bottom: 5px;
}

.js-range-slider-BASE .range-slider__input {
	width: 100%;
	padding-left: 5px;
	margin-bottom: 5px;
}

.js-range-slider-BASE input:focus::-webkit-input-placeholder { color:transparent; }
.js-range-slider-BASE input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.js-range-slider-BASE input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.js-range-slider-BASE input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.catalog-filter-inline .checkbox.disabledInfo {
	color: grey;
	pointer-events: none;
	background: hsla(0, 0%, 50%, 0.05);
}

.catalog-filter-inline .disabledInfo .checkbox__text:before {
	border: 1px solid grey;
}

.catalog-filter-inline .disabledInfo .checkbox__text {
	color: grey;
	pointer-events: none;
}

.card-cols__left {
	width: 40%;
}

.card-cols__right {
	width: 60%;
	z-index: 30;
}

.mb-1,
.my-1 {
	margin-bottom: 0.25rem !important;
}

.mb-2,
.my-2 {
	margin-bottom: 0.5rem !important;
}

.pb-2,
.py-2 {
	padding-bottom: 0.5rem !important;
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}

.mt-3,
.my-3 {
	margin-top: 1rem !important;
}

.mt-4,
.my-4 {
	margin-top: 1.5rem !important;
}

.info-grey-span span {
	font-size: 14px;
	color: rgb(148, 148, 148);
}

.catalog-filter-inline__list.nav .checkbox__text:before,
.catalog-filter-inline__list.nav .checkbox__text:after {
	display: none;
}

.catalog-sizes-inline .catalog-filter-inline__list.nav .checkbox {
	padding: 0;
}

.catalog-filter-inline__list.nav .checkbox__text {
	padding: 15px 30px 15px 20px;
}
.tab-content>.tab-pane {
	display: none;
}

.tab-content>.active {
	display: block;
}

.catalog-filter-inline.catalog-sizes-inline .stock-table .counter-list__item {
	padding-bottom: 0;
}

.slick-slide .item-tile__label {
	position: absolute;
	top: 50px;
	z-index: 100;
}

.class-tabl-block-div {
	padding-bottom: 5px;
	padding-top: 5px;
	border-top: 1px solid #ededed;
	display: flex;
	flex-wrap: wrap;
	height: inherit;
	vertical-align: middle;
	float: none;
	align-items: center;
}

.class-tabl-block-div-bask {
	background-color: #f6f6f6;
}

.product-detail .row.info-grey-span.infogold .row:last-child {
	border-bottom: 1px solid #ededed;
}

.row.info-grey-span .col-xs-12.col-sm-6.mb-2 > .row,
.row.info-grey-span .col-xs-12.col-sm-6 > .row {
	display: flex;
}

.col-xs-12.col-sm-6.info-updateinfo {
	margin-bottom: 5px;
	margin-left: 15px;
}

@media (min-width: 769px) {
	.col-xs-12.col-sm-6.info-updateinfo {
		width: 46%;
	}

}

.mb-4,.my-4{margin-bottom:1.5rem!important}
.mb-5,.my-5{margin-bottom:2rem!important}
.mt-0 {margin-top:0!important}

@media (max-width: 768px) {
	.info-grey-span > .col-sm-6 {
		width: 100%;
	}

	.col-xs-12.col-sm-6.info-updateinfo {
		margin: 0;
	}

	.col-xs-12.col-sm-6.info-updateinfo .row:first-child .class-tabl-block-div {
		border-top: 0px solid #ededed;
	}

	.drop-wrap_characteristics .info-block-vstavka-right {
		margin-left: 10px!important;
	}

	.product-block-item .stock-table th {
		min-width: auto!important;
	}


}

@media (max-width: 992px) {
	.card-cols__left {
		width: 70%;
	}

	.card-cols__right {
		width: 100%;
	}
	.detail-pics {
		margin: 0;
	}
}





/*@media (max-width: 415px) {
	.card-cols__left {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		max-width: 355px;
	}
}*/

.js-td-info div:hover .info-block-color {
	left: -45px;
}

.info-block-color .block-info-tr-t .image-block-trt {
	width: 21px;
}

.js-block-color-info-table-two .js-td-info .image-block-trt {
	width: 13px;
}

.right-block-color.info-block-ks {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 19px;
    padding-bottom: 20px;
    border: 1px solid #F2D8DB;
    margin-bottom: 25px;
	/*max-width: 300px;*/
}

.right-block-color.info-block-ks h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

.group-SHOW_PRICE input {
    width: 17px;
    height: 17px;
}

.right-block-color-text {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 10px;
}

#inf_ind h1 {
	padding-bottom: 15px;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0.07em;
}

#inf_ind .modal-content {
	max-width: 505px;
}

#inf_ind p {
	margin-bottom: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 159.5%;
}

#inf_ind ul {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 159.5%;
	margin-top: 0;
	padding-left: 25px;
}

#inf_stock_ind.drop-wrap {
	position: relative;
	z-index: 20;
	will-change: transform;
	-webkit-transition: z-index 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.9s;
	transition: z-index 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.9s;

	color: #808285;
	margin-top: 5px;
	white-space: nowrap;

	font-size:14px;
	display: inline-block;
	margin-top: 0;
	vertical-align: middle;
}
.catalog-list__item_banner{
	width: 40%;
	padding-bottom: 45px;
	display: none;
}
.catalog-list__item_banner_xl{
	display: block;
}
.form-alert__body{
	margin-top: 20px;
	vertical-align: top;
}
.form-alert__body img{
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}
.form-alert__body span{
	display: inline-block;
	max-width: calc(100% - 110px);
	line-height: 17px;
	font-size: 12px;
	vertical-align: top;
	margin-top: 5px;
}
.form-alert__btn{
	text-align: right;
}
.form-alert__btn{
	text-align: right;
	margin-top: 10px;
}
.form-alert__btn .btn-type2_big-mini{
	background: #640c1e !important;
	border-color: #640c1e!important;
	color: #fff !important;
	margin: 0 !important;
	display: inline-block !important;
}
.form-alert__btn .btn-type2_big-mini:hover{
	background: #880e26!important;
	border-color: #880e26!important;
}

@media (max-width: 1280px) {
	.catalog-list__item_banner {
		width: 50%;
	}
	.catalog-list__item_banner_xl{
		display: none;
	}
	.catalog-list__item_banner_lg{
		display: block;
	}
}
@media (max-width: 992px) {
	.catalog-list__item_banner {
		width: 66.66%;
	}
	.catalog-list__item_banner_lg{
		display: none;
	}
	.catalog-list__item_banner_md{
		display: block;
	}
}
.catalog-list__item_banner .item-tile{
	/*background-image: url(/local/templates/silver_in4/img/content/catalog_with_banners.jpg);*/
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
}

.card-cols table td.class-tabl-block-td{
	padding: 5px 15px;
	border-bottom: 1px solid #ededed;
	font-size: 14px;
	color: rgb(148, 148, 148);
	font-weight: 400;
}
.card-cols table tr:first-child td.class-tabl-block-td{
	border-top: 1px solid #ededed;
}
.card-cols table td.class-tabl-block-td.class-tabl-block-td-bask{
	background-color: #f6f6f6;
	color: #000;
}
.class-tabl{
	width: 100%;
}
.class-tabl__wrapper{
	margin-left: -15px;
	margin-right: -15px;
}
.z-index-20{
	z-index: 20!important;
}

.small-item-scroll  .lazy2 {
	display: none;
}

.page-header44 {
	background-color: #f8f8f8;
}

.head2789 {
	padding-bottom: 18px;
}

.head2789 ul {

}

.head2789 ul li {

}

.detail-pics-scroll .fotorama__nav--thumbs .fotorama__nav__frame {
	width: 70px !important;
}


.fotorama__nav__shaft {

}

.video_info204 {
	width: 100%;
	height: 400px
}

.video_frame44 {

}

#videobg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	top: 0;
	left: 0;
	opacity: 0.6;
	z-index: 1000000;
}

.video1 {
	width: 500px;
	line-height: 0;
	position: fixed;
	top: calc(50% - 200px);
	left: calc(50% - 250px);
	z-index: 1000000000;
}

.video_wr {
	position: relative;
}

.close244 {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url(/img/fancybox.png) -40px 0px;
	cursor: pointer;
	z-index: 1103;
}

/*.detail-pics .fotorama {*/
/*	overflow: visible;*/
/*}*/

/*.detail-pics .fotorama__nav-wrap {*/
/*	overflow: visible;*/
/*}*/

/*.detail-pics  .fotorama__nav {*/
/*	overflow: visible;*/
/*}*/

.new_slider {

}

.img_wrap44 {

}

.vert_nav {
	width: 70px;
	float: left;
}

.vert_nav_slider {

}

.main_slider44 {
	float: right;
	width: calc(100% - 90px);
}

.slick255 {

}

.slide756 {

}

.slide755 {
	margin-bottom: 10px;
}

.vert_nav .slide755 {
	cursor: pointer;
}


.vert_nav .slick-prev-custom {
	position: absolute;
	background: url(/img/arup.png);
	height: 16px;
	width: 27px;
	z-index: 1000;
	top: -25px;
	left: 22px;
	cursor: pointer;
	z-index: 100000;
}

.vert_nav .slick-next-custom {
	cursor: pointer;
	position: absolute;
	background: url(/img/ardown.png);
	height: 16px;
	width: 27px;
	z-index: 1000;
	bottom: -20px;
	left: 22px;
	z-index: 100000;
}
@media (max-width: 550px) {
	.video1 {
		width: 90%;
		line-height: 0;
		position: fixed;
		top: calc(50% - 150px);
		left: calc(5%);
		z-index: 1000000000;
	}

	.video_info204 {
		height: 300px;
	}
}

.z-index-2000000 {
	z-index: 200000 !important;
}

.detail-pics {
	margin-right: 30px;
	position: relative;
	display: inline-block;
	width: calc(100% - 30px);
}


.opac0 {
	opacity: 0;
}

.del_block {

}

.res_block {

	margin-bottom: 20px;
}

.res214 {
	color: green;
}

.res215 {
	color: red;
}


.whatsapp_ic.manager-drop__tel:before,.viber_ic.manager-drop__tel:before, .telegram_ic.manager-drop__tel:before {
	content:"";
}

.whatsapp_ic img {
	width: 19px;
	margin-right: 6px;
}

.viber_ic img {
	width: 20px;
	margin-right: 10px;
}

.telegram_ic img {
	width: 20px;
	margin-right: 9px;
}

.whatsapp_ic {
	padding-left:0;
}

.viber_ic {
	padding-left:0;
}

.telegram_ic {
	padding-left:0;
}

.manager-drop__mail {
	padding-left: 30px;
}

.manager-drop__tel:before {
	font-size: 16px;
}

.manager-drop__mail:before {
	font-size: 16px;
}

.manager-drop__tel:before {
	left: 3px;
}

.manager-drop__tel.tel715 {
	padding-left: 27px;
}

.manager-drop__tel.tel715:before {
	left: 3px;
}
.manager-drop__mail:before {
	top: 6px;
}

/* new styles */

.main-panel .main-panel__more {
	color: black;
}
.main-layout__item--banner-main a.main-panel__more {
	color: white;
}

.hd244 {
	/*margin-top: 24px;*/
	margin-bottom: 50px;
}

.marketing-item__image {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.success14 {
	display: none;
	color: green;
}

.page-header-row {
	width: 100%;
}

.fixed-header {
	width: 100%;
}

.main-header .page-header-cell{
	padding-left: 0;
	padding-right: 0;
}

.page-cont .tabs {
	width: 100%;
}

.manager-block__image {
	border-radius: 26px;
}

.main-panel--banner-main::after {
	background-color: rgba(0,0,0,0.15);
}

.manager-block__contact-value a {
	color:  black;
}

.marketing-item__image {
	border-radius: 8px;
}

.cont254 {
	position: relative;
	display: none;
}

.cont154 {
	position: absolute;
	top: -4px;
	left: -9px;
	background: white;
	padding: 14px 30px;
	border-radius: 8px;
}

.main-layout .main-panel {
	overflow: hidden;
	border-radius: 12px;
}

.main-layout .pers-panel {
	overflow: visible;
}

.manFull:hover .cont254 {
	display: block;
}

.main-layout__item--manager {
	z-index: 410000000000;
}

.footer-vspl {
	display: none;
}

#manager-call2 {
	position: fixed;
	top: calc(50% - 259px);
	left: calc(50% - 160px);
	z-index: 100000000000;
	opacity: 1;
	visibility: visible;
}

.main-header .page-header-row {
	margin: 0 0px;
}

.back_black {
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.2;
	z-index: 100000;
	width: 100%;
	height: 100%;
}

.man254 {

	position: relative;
}

.man254 .krest254 {
	max-width: 18px;
	position: absolute;
	right: -5px;
	top: -11px;
	cursor: pointer;
}

.pg20256 {
	margin-bottom: 0;
}

.h78564 {
	margin-bottom: 0;
}

.h256748 {
	padding-bottom: 0;
}

.rt50521 {
	padding-right: 0;
	margin-left: auto;
}

.page-header-row {
	width: calc(100% + 30px);
}

.marketing-item img.marketing-item__image {
	width: 100%;
}

.hov754:hover {
	cursor: pointer;
}

.pg878555 {
	margin-top: 0;
}

.cnt758 {
	padding-left: 0;
	padding-right: 0;
}

.cnt758 .content {
	padding-left: 0;
	padding-right: 0;
}