:root {
    --gap-row: 15px;
    --gap-column: 20px;
    --color-text-primary: #000;
    --color-link: #880e26;
    --color-link-hover: #cb8283;
    --effect-shadow: 0 2px 10px rgba(0,0,0,0.1);
    --transition-time-mouseover: 0.1s;
    --transition-time-mouseout: 0.4s;
}

@font-face {
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-Light.eot");
    src: local("Fira Sans Light"), url("/fonts/eot/FiraSans-Light.eot") format("embedded-opentype"), url("/fonts/woff/FiraSans-Light.woff") format("woff"), url("/fonts/ttf/FiraSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-Regular.eot");
    src: local("Fira Sans Regular"), url("/fonts/eot/FiraSans-Regular.eot") format("embedded-opentype"), url("/fonts/woff/FiraSans-Regular.woff") format("woff"), url("/fonts/ttf/FiraSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url("/fonts/eot/FiraSans-Medium.eot");
    src: local("Fira Sans Medium"), url("/fonts/eot/FiraSans-Medium.eot") format("embedded-opentype"), url("/fonts/woff/FiraSans-Medium.woff") format("woff"), url("/fonts/ttf/FiraSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html,
body,
body div,
span,
object,
iframe,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
    display: block;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img,
object,
embed {
    max-width: 100%;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    font: 100%;
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    font-weight: normal;
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

select,
input,
textarea {
    font: 99% sans-serif;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

td,
td img {
    vertical-align: top;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre,
code,
kbd,
samp {
    font-family: monospace, sans-serif;
}

label,
input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
}

button,
input,
select,
textarea {
    margin: 0;
}

button,
input[type=button] {
    width: auto;
    overflow: visible;
}

html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: var(--color-link);
    transition: color 0.4s;
}

a:hover {
    color: var(--color-link-hover);
    transition-duration: 0.1s;
}

.block-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 300;
}

.block-icon::before {
    content: '';
    display: block;
    align-self: flex-start;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.block-icon--marketing {
    --background-image: url("/images/mark4.svg");
}

.block-icon--indicators {
    --background-image: url("/images/mark.svg");
}

.block-icon--conditions {
    --background-image: url("/images/usl.svg");
}

.button {
    --color-bg-button: var(--color-link);
    --color-bg-button-hover: var(--color-link-hover);
    --color-text-button: #fff;
    --color-text-button-hover: #fff;
    --color-border-button: var(--color-link);
    --color-border-button-hover: var(--color-link-hover);
    display: inline-block;
    padding: 17px 30px;
    font-size: inherit;
    line-height: 17px;
    text-align: center;
    color: var(--color-text-button);
    background-color: var(--color-bg-button);
    border: 1px solid var(--color-border-button);
    border-radius: 3px;
    cursor: pointer;
    transition-property: background-color, border-color;
    transition-duration: var(--transition-time-mouseout);
}

.button:hover {
    color: var(--color-text-button-hover);
    background-color: var(--color-bg-button-hover);
    border-color: var(--color-border-button-hover);
    transition-duration: var(--transition-time-mouseover);
}

.button--secondary {
    --color-bg-button: #fff;
    --color-bg-button-hover: #fff;
    --color-text-button: var(--color-link);
    --color-text-button-hover: var(--color-link-hover);
    --color-border-button: var(--color-link);
    --color-border-button-hover: var(--color-link-hover);
    transition-property: color, border-color;
}

.container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.content {
    max-width: calc(1176px + var(--gap-column));
    width: 100%;
    padding-right: calc(var(--gap-column) / 2);
    padding-left: calc(var(--gap-column) / 2);
}

.footer {
    margin-top: 72px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid #f2dadd;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-column);
}

.footer__info {
    position: relative;
    width: 100%;
    max-width: 440px;
    padding-left: 80px;
    line-height: 22px;
}

.footer__info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 54.5px;
    height: 47px;
    background-image: url("/images/svg-sprites/common.svg#logo-small");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer__copyright {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
}

.footer__contacts {
    line-height: 22px;
}

.footer__phone {
    font-size: 18px;
}

.form-input {
    display: block;
}

.form-input__field {
    display: block;
    width: 100%;
    padding: 16px 20px;
    font-weight: 300;
    line-height: 17px;
    border: 1px solid #f5d8db;
}

.form-input__label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.form__input + .form__input {
    margin-top: 20px;
}

.form__input + .form__submit {
    margin-top: 40px;
}

.grid {
    --column-gap: 1.5rem;
    --row-gap: 1.5rem;
    --columns: 12;
    --col-gaps: calc((var(--columns) - 1) * var(--column-gap));
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: var(--column-gap);
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
}

.grid--align-content--center {
    align-content: center;
}

.grid--align-items--center {
    align-items: center;
}

.grid--align-content--flex-end {
    align-content: flex-end;
}

.grid--align-items--flex-end {
    align-items: flex-end;
}

.grid--align-content--flex-start {
    align-content: flex-start;
}

.grid--align-items--flex-start {
    align-items: flex-start;
}

.grid--align-content--stretch {
    align-content: stretch;
}

.grid--align-items--stretch {
    align-items: stretch;
}

.grid--align-content--baseline {
    align-content: baseline;
}

.grid--align-items--baseline {
    align-items: baseline;
}

.grid--justify--flex-start {
    justify-content: flex-start;
}

.grid--justify--flex-end {
    justify-content: flex-end;
}

.grid--justify--center {
    justify-content: center;
}

.grid--justify--space-between {
    justify-content: space-between;
}

.grid--justify--space-around {
    justify-content: space-around;
}

.grid--justify--space-evenly {
    justify-content: space-evenly;
}

@supports not (gap: 0) {
    .grid {
        margin-right: calc(var(--column-gap) / -2);
        margin-left: calc(var(--column-gap) / -2);
        margin-top: calc(var(--row-gap) / -2);
        margin-bottom: calc(var(--row-gap) / -2);
    }
}

.grid--no-gap {
    --column-gap: 0rem;
    --row-gap: 0rem;
}

@supports not (gap: 0) {
    .grid--no-gap {
        margin: var(--column-gap);
    }

    .grid--no-gap .grid__cell {
        padding: var(--column-gap);
    }
}

.grid--no-gap--x {
    --column-gap: 0rem;
}

.grid--no-gap--y {
    --row-gap: 0rem;
}

.grid__cell {
    width: 100%;
    max-width: calc((100% - var(--col-gaps)) / var(--columns) * var(--cols) + ((var(--col-gaps) + var(--column-gap)) / var(--columns) * var(--cols) - var(--column-gap)));
}

@supports not (gap: 0) {
    .grid__cell {
        width: calc(100% / var(--columns) * var(--cols));
        padding-right: calc(var(--column-gap) / 2);
        padding-left: calc(var(--column-gap) / 2);
        padding-top: calc(var(--row-gap) / 2);
        padding-bottom: calc(var(--row-gap) / 2);
    }
}

.grid__cell--xs--1 {
    --cols: 1;
}

.grid__cell--xs--2 {
    --cols: 2;
}

.grid__cell--xs--3 {
    --cols: 3;
}

.grid__cell--xs--4 {
    --cols: 4;
}

.grid__cell--xs--5 {
    --cols: 5;
}

.grid__cell--xs--6 {
    --cols: 6;
}

.grid__cell--xs--7 {
    --cols: 7;
}

.grid__cell--xs--8 {
    --cols: 8;
}

.grid__cell--xs--9 {
    --cols: 9;
}

.grid__cell--xs--10 {
    --cols: 10;
}

.grid__cell--xs--11 {
    --cols: 11;
}

.grid__cell--xs--12 {
    --cols: 12;
}

.page-title {
    margin-top: 42px;
    margin-bottom: 35px;
    font-size: 38px;
    line-height: 46px;
}

.page-subtitle {
    font-size: 20px;
    line-height: 30px;
}

.page-subtitle + p,
.page-subtitle + .par {
    margin-top: 15px;
}

p + .page-subtitle,
.par+ .page-subtitle {
    margin-top: 60px;
}

.page-subtitle--big {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.6px;
}

.header-navigation__item a {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #626262;
}

.header-navigation__item a:hover {
    color: #949494;
}

.header {
    margin-bottom: 24px;
}

.header__top {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-column);
}

.icons-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--gap-column) / 2);
}

.icons-list__link {
    display: block;
    height: 0;
    margin: 0.25rem;
    padding: 1rem;
    background-color: var(--color-link);
    -webkit-mask-image: var(--icon-image);
    mask-image: var(--icon-image);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: background-color 0.4s;
}

.icons-list__link:hover {
    background-color: var(--color-link-hover);
}

.icons-list__link--vk {
    --icon-image: url("/images/svg-sprites/common.svg#vk");
}

.iframe-responsive {
    margin-bottom: 1rem;
}

.iframe-responsive__iframe {
    position: relative;
    margin-bottom: 0.5rem;
    padding-bottom: 56.25%;
}

.iframe-responsive__iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.iframe-responsive__desc {
    margin-bottom: 1rem;
    font-style: italic;
    line-height: 1.375rem;
}

picture {
    display: contents;
}

img {
    /*display: block;*/
    /*height: auto;*/
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.link-back {
    --color-arrow: var(--color-link);
    --transition-arrow: 0.4s;
    position: relative;
    padding-left: 50px;
}

.link-back:hover {
    --color-arrow: var(--color-link-hover);
    --transition-arrow: 0.1s;
}

.link-back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 100%;
    background-color: var(--color-arrow);
    transition: background-color var(--transition-arrow);
    -webkit-clip-path: polygon(0 calc(50% - 0.5px), 100% calc(50% - 0.5px), 100% calc(50% + 0.5px), 0 calc(50% + 0.5px));
    clip-path: polygon(0 calc(50% - 0.5px), 100% calc(50% - 0.5px), 100% calc(50% + 0.5px), 0 calc(50% + 0.5px));
}

.link-back::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 10px;
    background-color: var(--color-arrow);
    transform: translateY(-50%);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
    transition: background-color var(--transition-arrow);
}

.link-icon {
    position: relative;
    padding-left: 22px;
}

.link-icon::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: var(--icon-color);
    -webkit-mask-image: var(--icon-image);
    mask-image: var(--icon-image);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.link-icon--user {
    --icon-color: #9a9a9a;
    --icon-image: url("/images/svg-sprites/common.svg#user");
}

.link-icon--cart {
    --icon-color: var(--color-link);
    --icon-image: url("/images/svg-sprites/common.svg#cart");
}

.link-icon--cart::before {
    width: 16px;
}

.list-unordered + p,
.list-unordered + .par,
p + .list-unordered,
.par + .list-unordered {
    margin-top: 15px;
}

.list-unordered li {
    position: relative;
    padding-left: 24px;
    font-weight: 300;
    line-height: 1.5;
}

.list-unordered li + li {
    margin-top: 10px;
}

.list-unordered li::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: var(--color-link);
    border-radius: 4px;
}

.logo {
    display: block;
    width: 202px;
    height: 41px;
    background-image: url("/images/svg-sprites/common.svg#logo");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-layout {
    display: grid;
    grid-template-areas: 'banner-small-1 banner-main banner-main' 'banner-small-2 banner-main banner-main' 'manager banner-main banner-main' 'banner-wide banner-wide indicators' 'marketing package conditions';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(165px, auto)) repeat(2, minmax(240px, auto));
    grid-gap: var(--gap-column);
}

.main-layout__item {
    height: 100%;
}

.main-layout__item--banner-main {
    grid-area: banner-main;
}

.main-layout__item--banner-small-1 {
    grid-area: banner-small-1;
}

.main-layout__item--banner-small-2 {
    grid-area: banner-small-2;
}

.main-layout__item--manager {
    grid-area: manager;
}

.main-layout__item--banner-wide {
    grid-area: banner-wide;
}

.main-layout__item--indicators {
    grid-area: indicators;
}

.main-layout__item--marketing {
    grid-area: marketing;
}

.main-layout__item--package {
    grid-area: package;
}

.main-layout__item--conditions {
    grid-area: conditions;
}

.manager-block {
    display: grid;
    grid-template-areas: 'image title' 'image info' 'contacts contacts';
    grid-template-columns: 52px auto;
    grid-column-gap: 20px;
    align-items: center;
}

.manager-block__image {
    grid-area: image;
}

.manager-block__title {
    grid-area: title;
    font-size: 16px;
    line-height: 24px;
}

.manager-block__info {
    grid-area: info;
}

.manager-block__info + .manager-block__contacts {
    grid-area: contacts;
    margin-top: 20px;
}

.manager-block__contacts {
    grid-area: info;
    line-height: 22px;
}

.manager-block__contact {
    display: flex;
    gap: 6px;
}

.manager-block__contact + .manager-block__contact {
    margin-top: 5px;
}

.manager-block__contact-title {
    font-weight: 300;
    color: #949494;
}

.manager-block__contact-value {
    --color-link: var(--color-text-primary);
    --color-link-hover: var(--color-text-primary);
    font-weight: inherit;
    color: #000;
}

.marketing-item {
    display: flex;
    flex-direction: column;
}

.marketing-item__image {
    order: 1;
    margin-bottom: 20px;
}

.marketing-item__date {
    order: 2;
    margin-bottom: 12px;
    color: #949494;
}

.marketing-item__title {
    order: 3;
}

.marketing-item__title + .marketing-item__info {
    margin-top: 10px;
}

.marketing-item__info {
    order: 4;
    margin-bottom: 20px;
}

.marketing-item__more {
    order: 5;
    margin-top: auto;
}

.menu-filter {
    --color-text-filter: var(--color-link);
    --color-text-filter-hover: var(--color-link-hover);
    --color-border-filter: var(--color-link);
    --color-border-filter-hover: var(--color-link-hover);
    --color-bg-filter: #fff;
    --color-bg-filter-hover: #fff;
    margin-bottom: 50px;
}

.menu-filter__list {
    display: flex;
    gap: 10px;
}

.menu-filter__item--active {
    --color-text-filter: #fff;
    --color-text-filter-hover: #fff;
    --color-bg-filter: var(--color-link);
    --color-bg-filter-hover: var(--color-link-hover);
}

.menu-filter__item a {
    display: block;
    padding: 12px 32px;
    color: var(--color-text-filter);
    background-color: var(--color-bg-filter);
    border: 1px solid var(--color-border-filter);
    border-radius: 100px;
    transition-property: color, background-color, border-color;
    transition-duration: var(--transition-time-mouseout);
}

.menu-filter__item a:hover {
    color: var(--color-text-filter-hover);
    background-color: var(--color-bg-filter-hover);
    border-color: var(--color-border-filter-hover);
    transition-duration: var(--transition-time-mouseover);
}

.not-available {
    margin-top: 84px;
}

.not-available__title {
    margin-top: 0;
    font-size: 34px;
    line-height: 41px;
}

.not-available__title + .not-available__subtitle {
    margin-top: 30px;
}

.not-available__subtitle {
    font-size: 20px;
}

.not-available__manager {
    margin-top: 38px;
}

.not-available__button {
    margin-top: 46px;
}

.package-info {
    padding-top: 20px;
}

.page-subtitle + .package-list {
    margin-top: 25px;
}

.package-type__image {
    display: block;
    margin-bottom: 25px;
    border: 1px solid #f5d8db;
}

p {
    font-weight: 300;
    line-height: 1.5;
}

.par + .par,
.par + p,
p + .par,
p + p {
    margin-top: 15px;
}

.video-item {
    --color-text-collection: #000;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.video-item--collection-color-inverse {
    --color-text-collection: #fff;
}

.video-item__link {
    position: relative;
    order: 1;
    display: block;
    width: 376px;
    height: 211px;
}

.video-item__material {
    position: absolute;
    top: 91px;
    left: 0;
    z-index: 2;
    padding: 2px 16px 4px 25px;
    color: #fff;
}

.video-item__material--silver {
    background-color: #4e4e4e;
}

.video-item__material--gold {
    background-color: #e4ae76;
}

.video-item__collection-title {
    position: absolute;
    top: 124px;
    left: 24px;
    z-index: 2;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-collection);
}

.video-item__collection-description {
    position: absolute;
    top: 177px;
    left: 24px;
    z-index: 2;
    font-size: 10px;
    line-height: 12px;
    color: var(--color-text-collection);
}

.video-item__duration {
    position: absolute;
    right: 13px;
    bottom: 12px;
    z-index: 2;
    padding: 2px 7px;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    border-radius: 4px;
}

.video-item__image {
    position: relative;
    z-index: 1;
}

.video-item__title {
    order: 2;
    margin-top: 20px;
}

.video-item__info {
    order: 3;
}

.video-item__properties {
    order: 4;
    margin-top: 10px;
    color: #949494;
}

@media (min-width: 480px) {
    .grid__cell--s--1 {
        --cols: 1;
    }

    .grid__cell--s--2 {
        --cols: 2;
    }

    .grid__cell--s--3 {
        --cols: 3;
    }

    .grid__cell--s--4 {
        --cols: 4;
    }

    .grid__cell--s--5 {
        --cols: 5;
    }

    .grid__cell--s--6 {
        --cols: 6;
    }

    .grid__cell--s--7 {
        --cols: 7;
    }

    .grid__cell--s--8 {
        --cols: 8;
    }

    .grid__cell--s--9 {
        --cols: 9;
    }

    .grid__cell--s--10 {
        --cols: 10;
    }

    .grid__cell--s--11 {
        --cols: 11;
    }

    .grid__cell--s--12 {
        --cols: 12;
    }
}

@media (min-width: 800px) {
    .grid__cell--m--1 {
        --cols: 1;
    }

    .grid__cell--m--2 {
        --cols: 2;
    }

    .grid__cell--m--3 {
        --cols: 3;
    }

    .grid__cell--m--4 {
        --cols: 4;
    }

    .grid__cell--m--5 {
        --cols: 5;
    }

    .grid__cell--m--6 {
        --cols: 6;
    }

    .grid__cell--m--7 {
        --cols: 7;
    }

    .grid__cell--m--8 {
        --cols: 8;
    }

    .grid__cell--m--9 {
        --cols: 9;
    }

    .grid__cell--m--10 {
        --cols: 10;
    }

    .grid__cell--m--11 {
        --cols: 11;
    }

    .grid__cell--m--12 {
        --cols: 12;
    }
}

@media (min-width: 1000px) {
    .grid__cell--l--1 {
        --cols: 1;
    }

    .grid__cell--l--2 {
        --cols: 2;
    }

    .grid__cell--l--3 {
        --cols: 3;
    }

    .grid__cell--l--4 {
        --cols: 4;
    }

    .grid__cell--l--5 {
        --cols: 5;
    }

    .grid__cell--l--6 {
        --cols: 6;
    }

    .grid__cell--l--7 {
        --cols: 7;
    }

    .grid__cell--l--8 {
        --cols: 8;
    }

    .grid__cell--l--9 {
        --cols: 9;
    }

    .grid__cell--l--10 {
        --cols: 10;
    }

    .grid__cell--l--11 {
        --cols: 11;
    }

    .grid__cell--l--12 {
        --cols: 12;
    }
}

@media (min-width: 1200px) {
    .grid__cell--xl--1 {
        --cols: 1;
    }

    .grid__cell--xl--2 {
        --cols: 2;
    }

    .grid__cell--xl--3 {
        --cols: 3;
    }

    .grid__cell--xl--4 {
        --cols: 4;
    }

    .grid__cell--xl--5 {
        --cols: 5;
    }

    .grid__cell--xl--6 {
        --cols: 6;
    }

    .grid__cell--xl--7 {
        --cols: 7;
    }

    .grid__cell--xl--8 {
        --cols: 8;
    }

    .grid__cell--xl--9 {
        --cols: 9;
    }

    .grid__cell--xl--10 {
        --cols: 10;
    }

    .grid__cell--xl--11 {
        --cols: 11;
    }

    .grid__cell--xl--12 {
        --cols: 12;
    }
}

@media (min-width: 1600px) {
    .grid__cell--hd--1 {
        --cols: 1;
    }

    .grid__cell--hd--2 {
        --cols: 2;
    }

    .grid__cell--hd--3 {
        --cols: 3;
    }

    .grid__cell--hd--4 {
        --cols: 4;
    }

    .grid__cell--hd--5 {
        --cols: 5;
    }

    .grid__cell--hd--6 {
        --cols: 6;
    }

    .grid__cell--hd--7 {
        --cols: 7;
    }

    .grid__cell--hd--8 {
        --cols: 8;
    }

    .grid__cell--hd--9 {
        --cols: 9;
    }

    .grid__cell--hd--10 {
        --cols: 10;
    }

    .grid__cell--hd--11 {
        --cols: 11;
    }

    .grid__cell--hd--12 {
        --cols: 12;
    }
}

.img2154 {
    width: 85px;
    position: absolute;
    z-index: 10000;
    bottom: 19px;
    right: 23px;
}

.main-panel__image img {

}
