.text-input {
	padding: 16px;
	font-size: 13px;
	border-radius: 3px;
	width: 100%;
	border: 1px solid #e1e1e1;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	outline: none;
	-webkit-appearance: none;
	box-shadow: none;
}

.text-input:focus,
.text-input:hover {
	border-color: #bcbdbf;
}

.vendor-search {
	position: relative;
	margin-bottom: 25px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.vendor-search .text-input {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	padding-right: 30px;
}

.vendor-search .text-input:focus ~ .vendor-search__submit {
	color: #880e26;
}

.vendor-search__submit {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	color: #999;
	font-size: 16px;
	right: 13px;
	top: 50%;
	margin-top: -8px;
	cursor: pointer;
	z-index: 3;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.vendor-search__submit:hover {
	color: #880e26;
}

.checkbox {
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.checkbox:hover {
	color: #880e26;
}

.checkbox:hover .checkbox__text:before {
	border-color: #bcbec0;
}

.checkbox__input {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.checkbox__input:checked ~ .checkbox__text:after {
	opacity: 1;
}

.checkbox__input:checked ~ .checkbox__text .checkbox__text:before {
	border-color: #bcbec0;
}

.checkbox__text {
	vertical-align: top;
	font-size: 13px;
	display: inline-block;
	position: relative;
	padding-left: 25px;
	z-index: 3;
}

.checkbox__text:before {
	position: absolute;
	content: '';
	display: block;
	left: 0;
	top: 0;
	border: 1px solid #ebd9dc;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	width: 15px;
	height: 15px;
	z-index: 1;
}

.checkbox__text:after {
	position: absolute;
	content: '';
	display: block;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e910";
	left: 3px;
	top: 3px;
	font-size: 7px;
	opacity: 0;
	z-index: 2;
	color: #880e26;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.checkbox.error .checkbox__text:before {
	border-color: #f15b5b;
}

.checkbox label.error {
	white-space: nowrap;
	padding-left: 25px;
}

.btn-type1 {
	line-height: normal;
	color: #880e26;
	display: inline-block;
	font-size: 12px;
	padding: 7px 12px;
	border-radius: 3px;
	border: 1px solid #f5d8db;
	cursor: pointer;
	-webkit-transition: background 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), border 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: background 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), border 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	-webkit-tap-highlight-color: transparent;
	white-space: nowrap;
}

.btn-type1:hover,
.btn-type1:link,
.btn-type1:active,
.btn-type1:visited {
	color: #880e26;
	-webkit-transition: background 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), border 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: background 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), border 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.no-touch-dev .btn-type1:hover,
.touch-dev .btn-type1:active {
	background: #880e26;
	border-color: #880e26;
	color: #fff;
}

.no-touch-dev .btn-type1:active {
	background: #640c1e;
	border-color: #640c1e;
}

.btn-type2 {
	line-height: normal;
	cursor: pointer;
	color: #880e26;
	display: inline-block;
	font-size: 14px;
	padding: 11px 20px;
	border-radius: 3px;
	text-align: center;
	border: 1px solid #880e26;
	position: relative;
	-webkit-transition: background 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), border 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: background 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), border 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	-webkit-tap-highlight-color: transparent;
	white-space: nowrap;
}

.btn-type2:hover,
.btn-type2:link,
.btn-type2:active,
.btn-type2:visited {
	color: #880e26;
	-webkit-transition: background 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), border 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: background 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), border 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.no-touch-dev .btn-type2:hover {
	background: #880e26;
	border-color: #880e26;
	color: #fff;
}

.no-touch-dev .btn-type2:active {
	background: #640c1e;
	border-color: #640c1e;
}

.btn-type2__input {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.btn-type2__text {
	position: relative;
	z-index: 3;
	display: inline-block;
}

.btn-type2_full {
	width: 100%;
}

.btn-type2_big {
	padding: 16px 30px;
}

.btn-type2_small {
	padding: 9px 20px;
}

.btn-type2_upper {
	text-transform: uppercase;
}

.btn-type2.btn-type2_active {
	background: #880e26;
	border-color: #880e26;
	color: #fff;
}

.noUi-target,
.noUi-target * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-ms-touch-action: none;
	touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	box-sizing: border-box;
}

.noUi-target {
	position: relative;
	direction: ltr;
}

.noUi-base:after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #f5d8db;
	left: -8px;
	top: 50%;
	margin-top: -1px;
	padding: 0 8px;
	box-sizing: content-box;
}

.noUi-base,
.noUi-connects {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

/* Wrapper for all connect elements. */

.noUi-connects {
	overflow: hidden;
	z-index: 0;
}

.noUi-connect,
.noUi-origin {
	will-change: transform;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

/* Offset direction */

html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
	left: auto;
	right: 0;
}

/* Give origins 0 height/width so they don't interfere with clicking the connect elements. */

.noUi-vertical .noUi-origin {
	width: 0;
}

.noUi-horizontal .noUi-origin {
	height: 0;
}

.noUi-handle {
	position: absolute;
}

.noUi-handle:after {
	position: absolute;
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	top: 50%;
	left: 50%;
	margin: -15px 0 0 -15px;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
	-webkit-transition: transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-state-drag * {
	cursor: inherit !important;
}

/* Slider size and handle placement; */

.noUi-horizontal {
	height: 15px;
	max-width: 146px;
	margin: 0 8px 20px;
}

.noUi-horizontal .noUi-handle {
	border-radius: 100%;
	left: -8px;
	top: 0;
	width: 15px;
	height: 15px;
	border: 2px solid #999;
	background-color: #fff;
	outline: none;
	cursor: pointer;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.noUi-horizontal .noUi-handle:hover {
	background: #999;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
	right: -8px;
	left: auto;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle.noUi-handle-upper {
	right: -8px;
}

/* Handles and cursors; */

.noUi-draggable {
	cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
	cursor: ns-resize;
}

/* Disabled state; */

[disabled] .noUi-connect {
	background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
	cursor: not-allowed;
}

/* Disabled state; */

[disabled] .noUi-connect {
	background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
	cursor: not-allowed;
}

/* Base; */

.noUi-pips,
.noUi-pips * {
	box-sizing: border-box;
}

.noUi-pips {
	position: absolute;
	color: #999;
}

/* Values; */

.noUi-value {
	position: absolute;
	white-space: nowrap;
	text-align: center;
}

.noUi-value-sub {
	color: #ccc;
	font-size: 10px;
}

/* Markings; */

.noUi-marker {
	position: absolute;
	background: #CCC;
}

.noUi-marker-sub {
	background: #AAA;
}

.noUi-marker-large {
	background: #AAA;
}

/* Horizontal layout; */

.noUi-pips-horizontal {
	padding: 10px 0;
	height: 80px;
	top: 100%;
	left: 0;
	width: 100%;
}

.noUi-value-horizontal {
	-webkit-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
	margin-left: -1px;
	width: 2px;
	height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
	height: 15px;
}

/* Vertical layout; */

.noUi-pips-vertical {
	padding: 0 10px;
	height: 100%;
	top: 0;
	left: 100%;
}

.noUi-value-vertical {
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%, 0);
	transform: translate(0, -50%, 0);
	padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
	-webkit-transform: translate(0, 50%);
	-ms-transform: translate(0, 50%);
	transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
	width: 5px;
	height: 2px;
	margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
	width: 15px;
}

.noUi-tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #fff;
	color: #000;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	left: 50%;
	bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	top: 50%;
	right: 120%;
}

.range-slider-input {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
	-webkit-appearance: none;
	box-shadow: none;
}

.range-slider-input__label {
	position: absolute;
	left: 10px;
	top: 8px;
	font-size: 13px;
	z-index: 1;
}

.range-slider {
	margin-bottom: 16px;
}

.range-slider__input {
	width: 76px;
	color: #808285;
	border: 1px solid #f5d8db;
	padding: 6px 10px 5px 25px;
	background: none;
	z-index: 3;
	position: relative;
	outline: none;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	-webkit-appearance: none;
	border-radius: 0;
}

.range-slider__input:hover,
.range-slider__input:focus {
	border-color: #bcbec0;
}

.clear-filter {
	position: relative;
	padding-left: 16px;
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 15px;
	display: inline-block;
}

.clear-filter:before {
	position: absolute;
	content: '';
	display: block;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	left: 0;
	top: 50%;
	font-size: 8px;
	margin-top: -4px;
	content: "\e906";
}

.touch-dev .jq-selectbox select {
	z-index: 3;
}

.jq-checkbox,
.jq-radio {
	position: relative;
	display: inline-block;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.jq-checkbox input,
.jq-radio input {
	position: absolute;
	z-index: -1;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.jq-file {
	position: relative;
	display: inline-block;
	overflow: hidden;
	color: #880e26;
	padding: 15px 30px;
}

.jq-file:before {
	position: absolute;
	content: '';
	display: block;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 12px;
	margin-top: -7px;
	width: 30px;
	left: 0;
	top: 50%;
	text-align: center;
	content: "\e923";
}

.jq-file.changed .jq-file__name {
	display: block;
}

.jq-file.changed .jq-file__browse {
	display: none;
}

.jq-file__browse {
	position: relative;
	display: inline-block;
	max-width: 100%;
  }

.jq-file__browse:after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #f5d8db;
	height: 1px;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}

.jq-file input {
	position: absolute;
	top: 0;
	right: 0;
	height: auto;
	margin: 0;
	padding: 0;
	opacity: 0;
	font-size: 100px;
	cursor: pointer;
	line-height: 1em;
}

.jq-file__name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: none;
}

.jq-selectbox,
.jq-select-multiple {
	position: relative;
	display: inline-block;
	font-size: 13px;
	font-weight: 300;
}

.jq-selectbox select,
.jq-select-multiple select {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.jq-selectbox li,
.jq-select-multiple li {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	padding: 10px 20px;
	cursor: pointer;
}

.jq-selectbox li span,
.jq-select-multiple li span {
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	display: inline-block;
}

.jq-selectbox li span:after,
.jq-select-multiple li span:after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	left: 0;
	height: 1px;
	bottom: 0;
	background: #bfbfbf;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
}

.jq-selectbox li:hover span:after,
.jq-select-multiple li:hover span:after {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.jq-selectbox {
	width: 100%;
	z-index: 40;
	max-width: 300px;
}

.jq-selectbox__select {
	position: relative;
	border-radius: 3px;
	padding: 17px 50px 17px 20px;
	border: 1px solid #e1e1e1;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.jq-selectbox__select:after {
	position: absolute;
	content: '';
	display: block;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	right: 15px;
	top: 50%;
	margin-top: -3px;
	content: "\e903";
	color: #880e26;
	font-size: 5px;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.jq-selectbox__select:hover {
	border-color: #bcbec0;
}

.jq-selectbox__select-text {
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
}

.jq-selectbox__dropdown {
	position: absolute;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #bcbec0;
}

.jq-selectbox__search input {
	-webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.jq-selectbox__dropdown ul {
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	list-style: none;
	-webkit-overflow-scrolling: touch;
	max-height: 500px;
	padding: 10px 0;
	margin: 0;
}

.opened .jq-selectbox__select {
	border-color: #bcbec0;
}

.opened .jq-selectbox__dropdown {
	margin-top: -1px;
}

.opened .jq-selectbox__select:after {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.dropup .jq-selectbox__dropdown {
	margin: 0 0 -1px 0;
}

.jq-select-multiple ul {
	position: relative;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.jq-number {
	display: inline-block;
	background-color: #f1f2f2;
	position: relative;
	padding: 0 36px;
}

.jq-number .error {
	position: absolute;
	left: 100%;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
	font-size: 12px;
	background: #808285;
	content: attr(data-title);
	color: #fff;
	white-space: nowrap;
	padding: 6px 10px;
	top: 50%;
	z-index: 5;
	margin: -13px 0 0 10px;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.4s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.4s;
}

.jq-number .error.show {
	z-index: 6;
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
}

.jq-number .error:after {
	position: absolute;
	content: '';
	display: block;
	right: 100%;
	top: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 4px 0;
	border-color: transparent #808285 transparent transparent;
	margin: -4px 0 0 0;
}

.jq-number input {
	width: 36px;
	height: 36px;
	padding: 0;
	text-align: center;
	border: none;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	background-color: #f5d8db;
}

.jq-number input:hover {
	background-color: #ebebec;
}

.jq-number input:focus {
	background-color: #f5d8db;
}

.jq-number input.empty {
	background-color: #f1f2f2;
}

.jq-number.disabled {
	background-color: #f6f6f6;
	pointer-events: none;
}

.jq-number.disabled input {
	background-color: #f6f6f6;
}

.jq-number__spin {
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	width: 36px;
	height: 36px;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	z-index: 5;
}

.jq-number__spin:after {
	position: absolute;
	content: '';
	display: block;
	left: 50%;
	margin-left: -6px;
	top: 50%;
	width: 11px;
	height: 1px;
	background-color: #880e26;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.jq-number__spin.disabled {
	cursor: default;
	opacity: 0.5;
}

.jq-number__spin.disabled:hover {
	background: none;
}

.jq-number__spin.plus {
	left: auto;
	right: 0;
}

.jq-number__spin.plus:before {
	position: absolute;
	content: '';
	display: block;
	top: 50%;
	margin-top: -5px;
	margin-left: -1px;
	left: 50%;
	height: 11px;
	width: 1px;
	background-color: #880e26;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.jq-number__spin:hover {
	background-color: #ebebec;
}

.jq-number__spin:hover:after,
.jq-number__spin:hover:before {
	background-color: #880e26;
}

.jq-number__spin:active {
	background-color: #f5d8db;
}

.jq-number__spin.disabled {
	cursor: default;
	opacity: 0.5;
}

.jq-number__spin.disabled:after,
.jq-number__spin.disabled:before {
	background-color: #939598;
}

.jq-number__spin.disabled:hover {
	background: none;
}

.jq-number__field input {
	-moz-appearance: textfield;
}

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
	margin: 0; /* в каких-то браузерах присутствует отступ */
	-webkit-appearance: none;
}

.main-form__label {
	display: block;
	margin-bottom: 5px;
	font-weight: 300;
}

.main-form__subtitle {
	color: #808285;
	margin-bottom: 30px;
}

.main-form_registration {
	margin-right: 20px;
}

.main-form_short {
	max-width: 550px;
}

.text-input2 {
	border: 1px solid #f5d8db;
	font-size: 14px;
	font-weight: 300;
	padding: 16px 20px;
	width: 100%;
	color: #000;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	-webkit-appearance: none;
	border-radius: 0;
	box-shadow: none;
}

.text-input2_pass {
	padding-right: 50px;
}

.text-input2.error {
	border-color: #f15b5b;
}

.text-input2:focus {
	border-color: #bcbec0;
}

.form-line {
	position: relative;
	margin-bottom: 20px;
}

textarea.text-input2 {
	height: 110px;
	resize: none;
}

.pass-input {
	position: relative;
}

.pass-input__ico {
	cursor: pointer;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #808285;
	font-size: 20px;
	right: 15px;
	top: 50%;
	margin-top: -10px;
	position: absolute;
	-webkit-transition: color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pass-input__ico:hover {
	color: #880e26;
}

.pass-input__ico:after {
	position: absolute;
	content: '';
	display: block;
	left: 0;
	top: 3px;
	content: "\e917";
	font-size: 14px;
	opacity: 0;
	-webkit-transition: opacity 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: opacity 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), color 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.pass-input__ico.active {
	color: transparent;
}

.pass-input__ico.active:after {
	color: #808285;
	opacity: 1;
}

.pass-input__ico.active:hover:after {
	color: #880e26;
}

.form-required-caption {
	color: #808285;
	font-size: 12px;
	font-weight: 300;
}

.submit-line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 30px;
}

.submit-line .form-line {
	padding-right: 20px;
	width: 100%;
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.submit-line .checkbox {
	font-size: 12px;
	margin-right: 30px;
}

.submit-line__rules {
	font-size: 12px;
	margin-right: 30px;
	color: #58595b;
}

.submit-line a {
	border-bottom: 1px solid transparent;
}

.submit-line a:hover {
	border-bottom-color: #f5d8db;
}

.ripple-link,
.btn-type2 {
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.ripple-link .ink,
.btn-type2 .ink {
	display: block;
	position: absolute;
	background: #f5d8db;
	border-radius: 100%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.ripple-link .ink.animate,
.btn-type2 .ink.animate {
	-webkit-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear;
}

input::-ms-clear,
input::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon.eot?5rnehc");
	src: url("../fonts/icomoon.eot?5rnehc#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?5rnehc") format("truetype"), url("../fonts/icomoon.woff?5rnehc") format("woff"), url("../fonts/icomoon.svg?5rnehc#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

.catalog-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.catalog-filter {
	width: 170px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
	z-index: 10;
	overflow: hidden;
}

.catalog-filter:after {
	display: block;
	height: 1px;
	content: '';
}

.catalog-cont {
	width: 100%;
	padding-left: 30px;
}

.catalog-cont .sticky-col {
	left: 0;
	top: 0;
	position: relative;
}

.sticky-col {
	will-change: min-height;
}

.inner-wrapper-sticky {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}

.sticky-col-cont {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	will-change: position, transform;
}

.sticky-col-cont:after {
	display: block;
	height: 1px;
	content: '';
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.checkbox-list {
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
}

.checkbox-list__item {
	padding: 0;
	margin-bottom: 5px;
}

.checkbox-list__item_hidden {
	display: none;
}

.checkbox-list_sub-list {
	padding-left: 22px;
	padding-top: 10px;
}

.checkbox-list_two-col {
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
}

.checkbox-list_two-col .checkbox-list__item {
	vertical-align: top;
	width: 100%;
	display: inline-block;
}

.checkbox-list .btn-type1 {
	margin-left: 13px;
	margin-top: 4px;
}

.checkbox-list__hidden-cont {
	display: none;
}

.checkbox-list__item_arrow {
	position: relative;
}

.checkbox-list__item_arrow .checkbox {
	margin-right: 30px;
}

.checkbox-list__item_arrow .arrow {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 5px;
	position: absolute;
	right: -5px;
	top: 0;
	cursor: pointer;
	color: #880e26;
	padding: 5px;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.checkbox-list__item_arrow .arrow.opened {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.drop-down {
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 10px;
	z-index: 10;
	width: 294px;
	-webkit-transition: visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.9s;
	transition: visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.9s;
	visibility: hidden;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	color: #000; /* &amp;:hover{ visibility: visible; transition: visibility 0s $animCubic 0s; .drop-down__cont{ opacity: 1; transition: opacity 0.4s $animCubic 0.5s; } &amp;:after{ transform: scaleY(1); box-shadow: 0 5px 15px rgba(0,0,0,0.1); transition: all 0.4s $animCubic 0.1s; } &amp;:before{ transform: scaleX(1); } }*/
}

.drop-down__cont {
	position: relative;
	z-index: 3;
	opacity: 0;
	-webkit-transition: opacity 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
	transition: opacity 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
	max-height: 350px;
	overflow: auto;
	padding: 20px;
}

.drop-down__cont:before {
	position: absolute;
	content: '';
	display: block;
	left: -20px;
	width: 100%;
	height: 10px;
	top: -30px;
}

.drop-down:before {
	position: absolute;
	content: '';
	display: block;
	left: 0;
	top: 0;
	background: #f5d8db;
	height: 1px;
	width: 100%;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.5s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.5s;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	z-index: 3;
}

.drop-down:after {
	position: absolute;
	content: '';
	display: block;
	left: 0;
	top: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.5s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.5s;
}

.drop-wrap {
	position: relative;
	z-index: 20;
	will-change: transform;
	-webkit-transition: z-index 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.9s;
	transition: z-index 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.9s;
}

.drop-wrap .drop-wrap__hover {
	color: #880e26;
	cursor: pointer;
}

.drop-wrap_characteristics {
	margin-right: 25px;
	display: inline-block;
}

.drop-wrap_characteristics .drop-wrap__hover {
	padding-right: 20px;
}

.drop-wrap.opened {
	-webkit-transition: z-index 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
	transition: z-index 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
	z-index: 24;
}

.drop-wrap__hover_arrow {
	position: relative;
	display: inline-block;
	padding-right: 20px;
	color: #880e26;
	cursor: pointer;
}

.drop-wrap__hover_arrow:after {
	position: absolute;
	content: '';
	display: block;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	right: 0;
	top: 50%;
	font-size: 5px;
	content: "\e903";
	margin-top: -3px;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
}

.drop-wrap__hover_arrow.opened:after {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.opened .drop-down {
	visibility: visible;
	-webkit-transition: visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
	transition: visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
}

.opened .drop-down:before {
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.opened .drop-down .drop-down__cont {
	opacity: 1;
	-webkit-transition: opacity 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.5s, -webkit-transform 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
	transition: opacity 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.5s, -webkit-transform 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
	transition: opacity 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.5s, transform 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
	transition: opacity 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.5s, transform 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s, -webkit-transform 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
}

.opened .drop-down:after {
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
}

.opened .drop-wrap__hover_arrow:after {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.filter-row:last-child {
	padding-bottom: 25px;
}

.filter-row__cont {
	overflow: hidden;
	padding-bottom: 20px;
}

.filter-row__title {
	display: inline-block;
	font-size: 14px;
	padding-right: 20px;
	cursor: pointer;
	position: relative;
	margin-bottom: 20px;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.filter-row__title:after {
	position: absolute;
	content: '';
	display: block;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	right: 0;
	color: #880e26;
	content: "\e903";
	font-size: 5px;
	top: 50%;
	margin-top: -3px;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.filter-row__title:hover {
	color: #880e26;
}

.filter-row__title.closed:after {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.catalog-filter-inline {
	border: 1px solid #f5d8db;
	margin-bottom: 25px;
}

.catalog-filter-inline__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.catalog-filter-inline__item {
	padding: 0;
	border-right: 1px solid #f5d8db;
}

.catalog-filter-inline .checkbox {
	padding: 15px 30px 15px 20px;
	text-transform: uppercase;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.catalog-filter-inline .checkbox:hover {
	background-color: #fbfbfb;
}

.catalog-filter-inline .checkbox__text {
	color: #880e26;
	font-size: 14px;
}

.helper {
	position: relative;
}

.helper:before {
	position: absolute;
	content: '';
	display: block;
	font-size: 12px;
	right: 100%;
	background: #808285;
	content: attr(data-title);
	color: #fff;
	white-space: nowrap;
	padding: 6px 10px;
	top: 50%;
	margin: -13px 10px 0 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateX(5px);
	-ms-transform: translateX(5px);
	transform: translateX(5px);
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.4s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.4s;
}

.helper:after {
	position: absolute;
	content: '';
	display: block;
	right: 100%;
	top: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-color: transparent transparent transparent #808285;
	margin: -4px 6px 0 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateX(5px);
	-ms-transform: translateX(5px);
	transform: translateX(5px);
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.4s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.4s;
}

.helper:hover:after,
.helper:hover:before {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	visibility: visible;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
}

.catalog-sort {
	font-size: 12px;
	font-weight: 300;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 30px;
	padding-right: 20px;
}

.catalog-sort a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	padding: 5px;
	position: relative;
}

.catalog-sort__label {
	color: #808285;
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
}

.catalog-sort_active:hover,
.catalog-sort_active:link,
.catalog-sort_active:active,
.catalog-sort_active:visited {
	color: #808285;
}

.catalog-sort_active:hover {
	color: #808285;
}

.catalog-sort_active:after {
	position: absolute;
	content: '';
	display: block;
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 7px;
	content: "\e921";
	right: -11px;
	top: 50%;
	margin-top: -4px;
}

.catalog-sort_active.asc:after {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
.title-header__txt{
	border: 1px solid #ecd9dd;
	padding: 15px 15px;
	margin-bottom: 15px;
}
.title-header__txt span{
	color:#880e26;
}

.actions_timer{
	display: flex;
	align-items: center;
	justify-content: center;
}
.actions_timer .border{
	font-size:18px;
	color:#444444;
	font-weight:300;
	display:inline-block;
	text-align:center;
	padding:7px 8px;
	border:1px solid #dcdcdf;
	min-width: 34px;
}
.actions_timer .border .dots{
	display: inline-block;
	margin: -3px 3px 2px;
	vertical-align: middle;
}
.actions_timer .border.one{
	margin-right: 5px;
}
.actions_timer .number{
	position:relative;
}
.actions_timer .one .text{
	left:-7px;
}
.actions_timer .text{
	font-size:10px;
	color:#afafaf;
	position:absolute;
	bottom:-23px;
	left:-5px;
}
.actions_timer .actions_timer_text{
	font-size: 14px;
	margin-right: 15px;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -15px 60px;
}

.catalog-list__item {
	width: 20%;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0.1s;
	margin-bottom: -45px;
}

.catalog-list__item:nth-child(0) .item-tile:hover {
	z-index: 60;
}

.catalog-list__item:nth-child(1) .item-tile:hover {
	z-index: 59;
}

.catalog-list__item:nth-child(2) .item-tile:hover {
	z-index: 58;
}

.catalog-list__item:nth-child(3) .item-tile:hover {
	z-index: 57;
}

.catalog-list__item:nth-child(4) .item-tile:hover {
	z-index: 56;
}

.catalog-list__item:nth-child(5) .item-tile:hover {
	z-index: 55;
}

.catalog-list__item:nth-child(6) .item-tile:hover {
	z-index: 54;
}

.catalog-list__item:nth-child(7) .item-tile:hover {
	z-index: 53;
}

.catalog-list__item:nth-child(8) .item-tile:hover {
	z-index: 52;
}

.catalog-list__item:nth-child(9) .item-tile:hover {
	z-index: 51;
}

.catalog-list__item:nth-child(10) .item-tile:hover {
	z-index: 50;
}

.catalog-list__item:nth-child(11) .item-tile:hover {
	z-index: 49;
}

.catalog-list__item:nth-child(12) .item-tile:hover {
	z-index: 48;
}

.catalog-list__item:nth-child(13) .item-tile:hover {
	z-index: 47;
}

.catalog-list__item:nth-child(14) .item-tile:hover {
	z-index: 46;
}

.catalog-list__item:nth-child(15) .item-tile:hover {
	z-index: 45;
}

.catalog-list__item:nth-child(16) .item-tile:hover {
	z-index: 44;
}

.catalog-list__item:nth-child(17) .item-tile:hover {
	z-index: 43;
}

.catalog-list__item:nth-child(18) .item-tile:hover {
	z-index: 42;
}

.catalog-list__item:nth-child(19) .item-tile:hover {
	z-index: 41;
}

.catalog-list__item:nth-child(20) .item-tile:hover {
	z-index: 40;
}

.catalog-list__item:nth-child(21) .item-tile:hover {
	z-index: 39;
}

.catalog-list__item:nth-child(22) .item-tile:hover {
	z-index: 38;
}

.catalog-list__item:nth-child(23) .item-tile:hover {
	z-index: 37;
}

.catalog-list__item:nth-child(24) .item-tile:hover {
	z-index: 36;
}

.catalog-list__item:nth-child(25) .item-tile:hover {
	z-index: 35;
}

.catalog-list__item:nth-child(26) .item-tile:hover {
	z-index: 34;
}

.catalog-list__item:nth-child(27) .item-tile:hover {
	z-index: 33;
}

.catalog-list__item:nth-child(28) .item-tile:hover {
	z-index: 32;
}

.catalog-list__item:nth-child(29) .item-tile:hover {
	z-index: 31;
}

.catalog-list__item:nth-child(30) .item-tile:hover {
	z-index: 30;
}

.catalog-list__item:nth-child(31) .item-tile:hover {
	z-index: 29;
}

.catalog-list__item:nth-child(32) .item-tile:hover {
	z-index: 28;
}

.catalog-list__item:nth-child(33) .item-tile:hover {
	z-index: 27;
}

.catalog-list__item:nth-child(34) .item-tile:hover {
	z-index: 26;
}

.catalog-list__item:nth-child(35) .item-tile:hover {
	z-index: 25;
}

.catalog-list__item:nth-child(36) .item-tile:hover {
	z-index: 24;
}

.catalog-list__item:nth-child(37) .item-tile:hover {
	z-index: 23;
}

.catalog-list__item:nth-child(38) .item-tile:hover {
	z-index: 22;
}

.catalog-list__item:nth-child(39) .item-tile:hover {
	z-index: 21;
}

.catalog-list__item:nth-child(40) .item-tile:hover {
	z-index: 20;
}

.catalog-list__item:nth-child(41) .item-tile:hover {
	z-index: 19;
}

.catalog-list__item:nth-child(42) .item-tile:hover {
	z-index: 18;
}

.catalog-list__item:nth-child(43) .item-tile:hover {
	z-index: 17;
}

.catalog-list__item:nth-child(44) .item-tile:hover {
	z-index: 16;
}

.catalog-list__item:nth-child(45) .item-tile:hover {
	z-index: 15;
}

.catalog-list__item:nth-child(46) .item-tile:hover {
	z-index: 14;
}

.catalog-list__item:nth-child(47) .item-tile:hover {
	z-index: 13;
}

.catalog-list__item:nth-child(48) .item-tile:hover {
	z-index: 12;
}

.catalog-list__item:nth-child(49) .item-tile:hover {
	z-index: 11;
}

.catalog-list__item:nth-child(50) .item-tile:hover {
	z-index: 10;
}

.catalog-list__item:nth-child(51) .item-tile:hover {
	z-index: 9;
}

.catalog-list__item:nth-child(52) .item-tile:hover {
	z-index: 8;
}

.catalog-list__item:nth-child(53) .item-tile:hover {
	z-index: 7;
}

.catalog-list__item:nth-child(54) .item-tile:hover {
	z-index: 6;
}

.catalog-list__item:nth-child(55) .item-tile:hover {
	z-index: 5;
}

.catalog-list__item:nth-child(56) .item-tile:hover {
	z-index: 4;
}

.catalog-list__item:nth-child(57) .item-tile:hover {
	z-index: 3;
}

.catalog-list__item:nth-child(58) .item-tile:hover {
	z-index: 2;
}

.catalog-list__item:nth-child(59) .item-tile:hover {
	z-index: 1;
}

.catalog-list__item.animated {
	opacity: 0;
	-webkit-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
}

.catalog-list__item .item-tile {
	margin: 0 -5px;
}

.catalog-list__item_break-line {
	width: 100%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.item-tile {
	padding: 50px 20px 20px;
	position: relative;
	z-index: 3;
	-webkit-transition: box-shadow 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), z-index 0s ease-in-out 0.4s;
	transition: box-shadow 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), z-index 0s ease-in-out 0.4s;
}

.item-tile:hover,
.item-tile.hover {
	background: #fff;
	z-index: 4;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.07);
	-webkit-transition: box-shadow 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), z-index 0s ease-in-out 0s;
	transition: box-shadow 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), z-index 0s ease-in-out 0s;
}

.item-tile:hover .item-tile__btn,
.item-tile.hover .item-tile__btn {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.item-tile:hover .item-tile__favorites,
.item-tile:hover .item-tile__zoom,
.item-tile.hover .item-tile__favorites,
.item-tile.hover .item-tile__zoom {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.item-tile:hover .slick-dots,
.item-tile.hover .slick-dots {
	opacity: 1;
}

.touch-dev .item-tile.hover:after {
	visibility: hidden;
}

.touch-dev .item-tile:after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transition: visibility 0s linear 0.2s;
	transition: visibility 0s linear 0.2s;
	z-index: 10;
}

.item-tile .slick-dots {
	margin-bottom: 5px;
}

.item-tile__btn {
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	opacity: 0;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}

.item-tile__pic-scroll {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.item-tile__pic-scroll .small-item-scroll,
.item-tile__pic-scroll .slick-list,
.item-tile__pic-scroll .slick-track {
	height: 100%;
}

.item-tile__pic-scroll .slick-dots {
	text-align: left;
	margin-left: -7px;
	bottom: 0;
	position: absolute;
	z-index: 3;
	opacity: 0;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.item-tile__favorites {
	position: absolute;
	right: 20px;
	top: 20px;
	display: block;
	cursor: pointer;
	z-index: 10;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.item-tile__favorites.active {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.item-tile__favorites.active span:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.item-tile__favorites span {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	padding: 10px;
	color: #880e26;
	position: relative;
	margin: -10px;
}

.item-tile__favorites span:after {
	position: absolute;
	content: '';
	display: block;
	left: 10px;
	top: 10px;
	content: "\e909";
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.item-tile__pic {
	display: block;
	padding-bottom: 100%;
	position: relative;
	margin-bottom: 5px;
}

.item-tile__zoom {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	right: -10px;
	font-size: 18px;
	color: #999;
	bottom: -5px;
	padding: 10px;
	z-index: 5;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 17px 17px;
	-ms-transform-origin: 17px 17px;
	transform-origin: 17px 17px;
}

.item-tile__zoom:hover,
.item-tile__zoom:link,
.item-tile__zoom:active,
.item-tile__zoom:visited {
	color: #999;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.item-tile__zoom:hover {
	color: #880e26;
}

.item-tile__category {
	color: #939598;
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 15px;
	min-height: 14px;
}

.item-tile__name {
	color: #880e26;
	font-family: "Prata", serif;
	font-size: 12px;
	display: block;
	letter-spacing: 0.3px;
	margin-bottom: 5px;
	padding-right: 30px;
	position: relative;
}

.item-tile__price-line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 15px;
}

.item-tile__price-old {
	display: inline-block;
	vertical-align: top;
	color: #999;
	font-size: 11px;
	text-decoration: line-through;
	white-space: nowrap;
}

.item-tile__price {
	white-space: nowrap;
	color: #000;
	font-family: "Prata", serif;
	font-size: 16px;
}

.item-tile__count span {
	display: inline-block;
}

.item-tile__labels{
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 5;
}
.item-tile__label {
	background-color: #00b174;
	color: #fff;
	padding: 4px 9px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.55px;
	display: inline-block;
}

.item-tile__label_hit {
	background-color: #f9a870;
}
.item-tile__label_group_leader {
	background-color: #f9a870;
}
.item-tile__label_discount {
	border: 1px solid #f9a870;
	background: none;
	color: #f9a870;
	padding: 3px 4px;
}
.item-tile_label_preorder {
	background-color: #b76e89;
	/*display: block;*/
	margin: 5px 0 0 0;
	display: none;
}
.small-item-scroll .small-item-scroll__item,
.slick-initialized.small-item-scroll .small-item-scroll__item {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	outline: none;
}

.small-item-scroll img,
.slick-initialized.small-item-scroll img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	display: block;
	outline: none;
}

.no-touch-dev .scroll-hover {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
	bottom: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	z-index: 5;
}

.no-touch-dev .scroll-hover li {
	width: 100%;
	height: 100%;
	list-style: none;
}

.items-count {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 6;
}

.items-count__item {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #999;
	font-size: 8px;
	margin-left: 1px;
	cursor: default;
}

.slick-dots {
	width: 100%;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.slick-dots li {
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 28px;
	height: 18px;
	padding: 0;
	vertical-align: top;
}

.slick-dots li button {
	position: absolute;
	font-size: 0;
	outline: none;
	padding: 0;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	display: inline-block;
	background-color: #880e26;
	opacity: 0.5;
	border-radius: 5px;
	width: 8px;
	height: 8px;
	top: 50%;
	left: 50%;
	margin-top: -4px;
	margin-left: -4px;
	border: 1px solid transparent;
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	will-change: transform;
}

.slick-dots li:hover button {
	background-color: transparent;
	border: 1px solid #880e26;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.slick-dots li.slick-active button {
	-webkit-transition: all 1s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 1s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	border: 1px solid #8b2536;
	background-color: transparent;
	border-radius: 0;
	-webkit-transform: scale(1) rotate(45deg);
	-ms-transform: scale(1) rotate(45deg);
	transform: scale(1) rotate(45deg);
}

.underlined-link:hover {
	color: #880e26;
}

.underlined-link:hover .underlined-link__text:after {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.underlined-link__text {
	white-space: nowrap;
	position: relative;
	display: inline-block;
	line-height: normal;
}

.underlined-link__text:after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	background: #f5d8db;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}
.personal-menu__link .underlined-link__text{
	white-space: normal;
}
.center-btn {
	text-align: center;
	margin-bottom: 40px;
}

.page-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 45px;
}

.page-nav__prev,
.page-nav__next {
	display: block;
	padding: 10px;
	position: relative;
	height: 30px;
	width: 70px;
}

.page-nav__prev:after,
.page-nav__next:after {
	position: absolute;
	content: '';
	display: block;
	width: 50px;
	left: 15px;
	top: 50%;
	background: #880e26;
	height: 1px;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.page-nav__prev:before,
.page-nav__next:before {
	position: absolute;
	content: '';
	display: block;
	top: 50%;
	margin-top: -4px;
	left: 10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4.5px 6px 4.5px 0;
	border-color: transparent #880e26 transparent transparent;
}

.page-nav__prev:hover:after,
.page-nav__next:hover:after {
	-webkit-transform: scaleX(0.6);
	-ms-transform: scaleX(0.6);
	transform: scaleX(0.6);
}

.page-nav .page-nav__next:after {
	left: auto;
	right: 15px;
	-webkit-transform-origin: right top;
	-ms-transform-origin: right top;
	transform-origin: right top;
}

.page-nav .page-nav__next:before {
	left: auto;
	right: 10px;
	border-width: 4.5px 0 4.5px 6px;
	border-color: transparent transparent transparent #880e26;
}

.pages-list {
	padding: 0;
	list-style: none;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 24px;
	color: #880e26;
	font-weight: 300;
}

.pages-list__item {
	padding: 0 6px;
}

.pages-list__link {
	font-size: 24px;
	font-weight: 300;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 100%;
}

.pages-list__link:hover,
.pages-list__link:link,
.pages-list__link:active,
.pages-list__link:visited {
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.pages-list__link:hover:hover,
.pages-list__link:link:hover,
.pages-list__link:active:hover,
.pages-list__link:visited:hover {
	background-color: #f1f2f2;
}

.pages-list__link_active:hover,
.pages-list__link_active:link,
.pages-list__link_active:active,
.pages-list__link_active:visited {
	color: #bcbec0;
}

.pages-list__link_active:hover:hover,
.pages-list__link_active:link:hover,
.pages-list__link_active:active:hover,
.pages-list__link_active:visited:hover {
	background: none;
	color: #bcbec0;
}

.pages-list__more {
	padding: 10px;
	display: block;
}

.ui-autocomplete {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #bcbec0;
	list-style: none;
	padding: 10px 0;
	margin: 0;
	overflow: auto;
	max-height: 500px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	z-index: 40;
}

.autocomplete-item {
	padding: 0;
}

.autocomplete-item__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 300;
	padding: 3px 10px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.autocomplete-item__link:hover,
.autocomplete-item__link:link,
.autocomplete-item__link:active,
.autocomplete-item__link:visited {
	color: #808285;
}

.autocomplete-item__link:hover .autocomplete-item__name:after,
.autocomplete-item__link:hover .autocomplete-item__category:after {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.autocomplete-item__pic {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 32px;
	height: 32px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.autocomplete-item__pic img {
	max-height: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.autocomplete-item__name {
	margin: 0 10px;
	position: relative;
}

.autocomplete-item__name:after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #808285;
	height: 1px;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.autocomplete-item__category {
	font-weight: normal;
	position: relative;
}

.autocomplete-item__category:after {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	left: 0;
	bottom: 0;
	background: #808285;
	height: 1px;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	transform-origin: left top;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.modal-body {
	padding: 0;
}

.modal-content {
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.07);
	border-radius: 0;
	border: none;
}

.modal-dialog {
	width: 730px;
	min-height: 100%;
	padding: 20px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
}

.modal-close {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 20px;
	font-size: 20px;
	position: absolute;
	top: 0;
	right: 0;
	color: #808285;
	margin: 0;
	border: 0;
	border-radius: 0;
	background: transparent;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
	transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

.modal-close:hover {
	color: #000;
}
.add-access__catalog{
	font-weight: 300;
}
.add-access__catalog label + label{
	margin-left: 15px;
}
@media (max-width: 1280px) {

.main-form_registration {
	margin-right: 0;
}

.catalog-sort {
	padding-right: 0;
}

.catalog-list__item {
	width: 25%;
}

}

@media (max-width: 992px) {

.btn-type2_big {
	padding: 16px 25px;
}

.range-slider-input:last-child {
	margin-right: 0;
}

.range-slider__input {
	width: 70px;
}

.catalog-filter {
	width: 165px;
}

.catalog-cont {
	padding-left: 20px;
}

.drop-down {
	width: 250px;
}

.catalog-sort a {
	margin-right: 10px;
}

.catalog-sort__label {
	margin-right: 15px;
}

.catalog-list__item {
	width: 33.33%;
}

.page-nav__prev,
.page-nav__next {
	width: 50px;
}

.page-nav__prev:after,
.page-nav__next:after {
	width: 30px;
}

.pages-list__item {
	padding: 0 5px;
}

.pages-list__link {
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 20px;
}

}

@media only screen and (max-height: 840px) {

.modal-dialog {
	width: 650px;
}

}

@-webkit-keyframes ripple {

100% {
	opacity: 0;
	-webkit-transform: scale(2.5);
	transform: scale(2.5);
}

}

@keyframes ripple {

100% {
	opacity: 0;
	-webkit-transform: scale(2.5);
	transform: scale(2.5);
}

}