.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
.stat-popup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94), visibility 0s cubic-bezier(0.46, 0.84, 0.32, 0.94) 0s;
}
body.stat-popup-active{
    overflow-y: hidden;
}
.stat-popup-active .stat-popup{
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99999;
    opacity: 1;
    visibility: visible;
}
.stat-popup__fade{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    cursor: pointer;
}
.stat-popup-active .stat-popup__fade{
    display: block;
}
.stat-popup__inner .three-years-stat + div{
    margin-left: 24%;
    margin-top: 20px;
}
.stat-popup__inner{
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    width: 100%;
    min-width: 768px;
    max-width: 768px;
    padding: 20px;
    margin: max(125px, 50vh - 250px) auto 0;
    z-index: 1045;

    position: relative;
    transform: translateY(20px);
    transition: all 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}

@media (min-width: 830px) {
    .stat-popup__inner{
        padding: 30px 40px;
        min-width: 800px;
        max-width: 800px;
    }
}




.stat-popup-active .page-header{
    z-index: 0;
}
.stat-popup:before{
    content: '';
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.js-block-color-info-table-two .stat-popup__inner h4 {

    /*font-family: Fira Sans;*/
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.07em;
}






.stat-popup-active .stat-popup__inner{
    transform: translateY(0);
}
.table-protocole-if.nt-2-right tr td.td-white{
    background-color: #fff;
}
.table-protocole-if.nt-2-right tr td.td-gray{
    background-color: #F8F8F8;
    text-align: right;
}
table.retro-bonus-table tr > td:first-of-type{
    border-left:2px solid transparent;
}
table.retro-bonus-more{
    width:100%;
}
table.retro-bonus-more tr th{
    font-weight: 500;
    text-align: center;
    color:#B5B5B5;
    padding: 10px;
}
.table-protocole-if table.retro-bonus-more tr td{
    text-align: center !important;
}
table tr.retro-bonus-collapse > td{
    padding: 0;
}
table tr.retro-bonus-collapse .procent-info .text-proc{
    font-weight: 400;
}
table tr.collapse-open > td:first-of-type{
    border-left:2px solid #841428;
}
.has-collapse .drop-wrap__hover_arrow:after{
    margin-top: -1px;
}
.has-collapse.collapse-open .drop-wrap__hover_arrow:after{
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.expert-agents-tab{
    display: none;
}
.expert-agents-tab.active{
    display: block;
}
.expert-agents-tab .m-cities__item.inactive label{
    color:#949494 !important;
}
.modal-body .expert-active-checkbox{
    position: absolute;
    right: 20px;
    top:35px;
}
.expert-block h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    padding-bottom: 15px;
}
.expert-block .description {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #444444;
    margin-bottom: 30px;
}
.expert-block .menu-info {
    border-radius: 3px 0px 0px 3px;
    border: 1px solid #F2D8DE;
    display: flex;
}
.menu-info .menu-info-element {
    color: #820F24;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 13px;
    display: block;
}
.menu-info .menu-info-border {
    border-right: 1px solid #F2D8DE;
    width: 100%;
}
.menu-info .menu-info-border:last-child {
    border-right: none;
}
.menu-info .menu-info-border.active {
    background: #f2d8de;
}
.menu-info .menu-info-border.active a {
    pointer-events: none;
}
.menu-info .menu-info-border.active:after {
    content: ' ';
    background: url(/local/templates/silver/img/expert/strelka.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
    left: 45%;
    bottom: -19px;
}
.expert-block h2 {
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
}
.block-color-info_text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.block-color-info_text .iconka_info {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    margin-right: 8px;
}
.block-color-info .row  .col-xs-8 .col-xs-4:first-child .iconka_info {
    width: 15px;
}
.r-right-info {
    text-align: right;
    justify-content: flex-end;
    cursor: pointer;
}
.r-right-info img {
    margin-right: 5px;
    margin-top: -1px;
}
.mt-4-info {
    margin-top: 20px;
}
.table-block-info {
    width: 100%;
    min-width: 770px;
    overflow: auto;
}
.three-years-stat .table-block-info{
    min-width: 0px;
}
.table-block-info tr {
}
.table-block-info tr th {
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    color: #949494;
    padding: 9px;
}
.table-block-info tr th:nth-child(2n){
    background: #F4F4F4;
}
.table-block-info tr td {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    color: #444444;
    text-align: center;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #fff;
    background: #EEEEEE;
    cursor: pointer;
}
.table-block-info tr td span {
    padding: 5px;
    display: block;
}
.table-block-info tr td:first-child,
.table-block-info tr th:first-child {
    width: 160px;
    min-width: 160px;
    background:none;
    cursor: inherit;
    padding: 5px;
    text-align: left;
}
.table-block-info tr td:first-child {
    color: #000;
}
.table-block-info thead {
    border-bottom: 2px solid #B5B5B5;
}
.block-color-info_text {
    cursor: pointer;
}
.block-info-modal {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.07em;
}
.block-info-modal-block {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}
.block-info-modal-block h1 {
    margin-bottom: 25px;
    padding: 0;
    line-height: 34px;
}
.block-color-info-color {
    width: 37px;
    height: 37px;
    display: inline-block;
    margin-right: 4px;
    vertical-align: top;
}
.block-tt-color-modal {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120%;
    margin-bottom: 10px;
    display: block;
    color: #444444;
}
.block-tt-color-modal input {
    margin-right: 10px;
}
.js-radio-info {
    margin-bottom: 30px;
}
.info-input-block-color.text-input2 {
    padding: 10px;
    max-width: 80px;
}
.right-block-color {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 19px;
    padding-bottom: 20px;
    border: 1px solid #F2D8DB;
    margin-bottom: 25px;
}
.right-block-color h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
.right-block-color-text {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 10px;
}
.right-block-color-text.qqInfo {
    font-size: 15px;
    font-family: monospace;
}
.right-block-color-text.infQQssqq b {
    font-size: 15px;
    font-weight: 500;
}
.right-block-color-text.infQQssqq {
    font-size: 13px;
}
.text-info-right {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 159.5%;
    color: #000000;
}
.right-block-color h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 159.5%;
    padding: 0;
    padding-bottom: 5px;
}
.right-block-color h4 {
    font-size: 14px;
    line-height: 159.5%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    padding-bottom: 5px;
}
.right-block-color ul {
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
.right-block-color ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 159.5%;
}
.btn-type2_big-right {
    margin-top: 30px;
    width: 100%;
    background: #640c1e;
    border-color: #640c1e;
    color:#fff!important;
}
.btn-type2_big-mini {
    background: #640c1e;
    border-color: #640c1e;
    color:#fff!important;
}
.grey-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120%;
    color: #797979;
    margin-bottom: 10px;
}
.grey-text-block .checkbox__text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120%;
    color: #444444;
}
.block-info-cur-button {
    text-align: right;
    margin: 0!important;
}
.block-blue-info {
    background: #F6F7FC;
    padding-top: 25px;
    padding-bottom: 25px;
}
.block-info-slider-expert {
    padding: 25px;
    background: #fff;
}
.block-info-slider-expert h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.block-info-slider-expert .description {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
    color: #000000;
}
.block-info-slider-expert img {
    /*height: 225px;*/
    height: 335px;
    max-width: 100%;
    margin: auto;
    display: block;
    margin-bottom: 25px;
}
.transform-upp {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.195em;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
.transform-none {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.195em;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
.transform-upp:after {
    content: '';
    width: 26px;
    height: 26px;
    position: absolute;
    background: url(/local/templates/silver/img/expert/success.svg);
    right: -35px;
    bottom: 21px;
}
.transform-none:after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(/upload/expert/icnProtocolOff.svg);
    right: -30px;
    bottom: 25px;
    background-repeat: no-repeat;
}
.procent-info {
}
.right-block-color.form {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.right-block-color.form .grey-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 120%;
    color: #797979;
}
.right-block-color.form .btn-type2_big.btn-type2_big-mini {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #820F24;
}
.right-block-color.form .btn-type2_big.btn-type2_big-mini:hover {
    background: #9C243A;
}
.inf-lock-exp-ba .btn-type2.btn-type2_big.info-new-style-right-block:hover {
    background: #9C243A;
}
.right-block-color .btn-type2.btn-type2_big.btn-type2_big-right:hover {
    background: #9C243A;
}
.right-block-color .btn-type2.btn-type2_big.btn-type2_big-right {
    background: #820F24;
}
.table-protocole {
    width: 100%;
}
.table-protocole tr th:first-child {
    text-align: left;
}
.table-protocole tr th {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 7px;
}
.table-protocole tr {
    border-bottom: 1px solid #F4F4F4;
}
.table-protocole tr td {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 10px;
    padding-left: 0;
}
.procent-info .color-info {
    padding: 5px;
    width: 90%;
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #716688;
    border: 1px solid #D4D5F3;
    overflow: hidden;
    position: relative;
}
.procent-info .text-proc {
    z-index: 20;
    position: relative;
}
.procent-info .color-info .line-info {
    position: absolute;
    z-index: 10;
    height: 100%;
    top: 0;
    left: 0;
    background: #D4D5F3;
}
.procent-info .color-info.invers .text-proc {
    /*color: #fff;*/
    z-index: 20;
    position: relative;
}
.bold-info-h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-top: 20px;
}
.table-protocole-if {
    width: 100%;
}
.table-protocole-if tr th {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-bottom: 7px;
    font-weight: 700;
}
.table-protocole-if tr {
    border-bottom: 1px solid #F4F4F4;
}
.table-protocole-if tr td {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.7);
}
.table-protocole-if tr td:nth-child(2n){
    background: #F8F8F8;
}
.table-protocole-if.nt-2-right tr td:nth-child(2n){
    text-align: right;
}
.info-faq {
}
.info-faq button {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}
.info-faq img {
}
.table-protocole-if.modal-info-table tr th {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}
.table-protocole-if.modal-info-table tr th:first-child {
    text-align: left;
}
.block-fin-info .catalog-filter-inline__list.nav.tabs {
    display: flex;
}
.block-fin-info .catalog-filter-inline__list.nav.tabs li {
    width: 100%;
    text-transform: uppercase;
}
.block-fin-info .catalog-filter-inline__list.nav .checkbox__text {
    font-family: 'FontAwesome', sans-serif;
}
.block-fin-info .catalog-filter-inline__list.nav.tabs .tabs__item:after {
    left: 49%;
}
.block-fin-info .block-color-info_text .iconka_info {
    border-radius: 0;
    width: 18px;
}
.block-fin-info .block-info-color-table:nth-child(2) .block-color-info_text .iconka_info {
    width: 14px;
}
.block-fin-info .table-block-info tr td {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #000000;
    background: transparent;
}
.block-fin-info .table-block-info {
    height: 375px;
    margin-top: 50px;
}
.block-fin-info .table-block-info tr td {
    position: relative;
    padding: 5px;
}
.block-fin-info .table-block-info tr td:first-child {
    width: 16px;
    min-width: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}
.block-fin-info .table-block-info tr td:first-child div {
    position: absolute;
    right: 5px;
}
.block-fin-info .table-block-info tr td:first-child div:first-child {
    top: 10px;
}
.block-fin-info .table-block-info tr td:first-child div:nth-child(2) {
    top: 25%;
}
.block-fin-info .table-block-info tr td:first-child div:nth-child(3) {
    top: 50%;
}
.block-fin-info .table-block-info tr td:first-child div:nth-child(4) {
    top: 75%;
}
.block-fin-info .table-block-info tr td:first-child div:last-child {
    bottom: 0;
}
.js-td-info div {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
}
.block-info-color {
    width: 12px;
    height: 12px;
    margin-left: 10px;
}
.table-block-info.info-right-table tr th {
    text-align: right;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: right;
    color: #000000;
    position: relative;
    padding-right: 25px;
    background: transparent;
}
.table-block-info.info-right-table .block-info-color {
    position: absolute;
    top: 40%;
    right: 0;
}
.table-block-info.info-right-table thead {
    border-bottom: 0;
}
.table-block-info.info-right-table tbody td,
.table-block-info.info-right-table tfoot td {
    text-align: right;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: right;
    color: #000000;
    position: relative;
    padding-right: 25px;
}
.table-block-info.info-right-table tbody td:first-child {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    align-items: left;
    color: #949494;
    text-align: left;
}
.block-fin-info .table-block-info.info-right-table {
    height: auto;
    margin-top: 30px;
}
.table-block-info.info-right-table tbody .block-info-color {
    top: 25%;
}
.table-block-info.info-right-table tfoot td:first-child {
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    text-align: left;
}
.mt30 {
    margin-top: 30px;
}
.js-block-color-info-table-two .js-td-info {
    vertical-align: bottom;
}
.js-block-color-info-table-two .js-td-info div {
    display: inline-flex;
    display: inline-flex;
    align-items: flex-end;
    width: 15px;
}
.js-block-color-info-table-two .three-years-stat .js-td-info > div{
    width: 25px;
}
.three-years-stat__block{
    padding: 15px 10px 0;
    margin: 0 -10px;
    border-top: 1px solid #F2D8DB;
}
.three-years-stat__block a{
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    display: inline-block;
    padding-left: 28px;
    position: relative;
}
.three-years-stat__block svg{
   fill:#880e26;
    position: absolute;
    top:6px;
    left:3px;
    transition: fill 0.4s cubic-bezier(0.46, 0.84, 0.32, 0.94);
}
.three-years-stat__block a:hover svg{
    fill:#cb8283;
}
@supports (-moz-appearance:none) {
    .block-fin-info .table-block-info tfoot {
        height: 31px;
    }
    .js-block-color-info-table-two .js-td-info div{
        display: inline-table;
    }
}
.right-block-color-numver-summ {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
.right-block-color-text span {
    font-family: 'FontAwesome', sans-serif;
    color: #000;
}
.hide-info-block-test {
    display: none;
}
.info-src-right {
    display: inline-flex;
    vertical-align: middle;
    margin-bottom: 5px;
    cursor: pointer;
}
.right-block-color-numver-summ {
    position: relative;
}
#full_size_info_162_right .right-block-color-numver-summ {
    position: relative;
    line-height: normal;
    margin-bottom: 8px;
    margin-top: -7px;
}
.hide-info-block-test {
    /*display: block;*/
    position: absolute;
    padding: 15px;
    background: #fff;
    border: 1px solid #000;
    top: 40px;
}
.hide-info-block-test.info-table {
    display: none;
}
.col-xs-12.mt-4-info {
    overflow: auto;
}
.info-block-sect-modal h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    color: #444444;
}
.info-block-sect-modal .infoSpan {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    font-size: 15px;
    line-height: normal;
    color: #444444;
}
#element_info .modal-content {
    width: 214px;
    margin: auto;
}
#element_info .modal-window h2 {
    background-color: #f8f8f8;
    padding: 31px 20px 0;
    margin: -50px -20px 0px;
}
#element_info .modal-window {
    padding: 50px 20px 15px;
}
#element_info .btn-type2 {
    margin-top: 10px;
}
.info-block-item-modal {
}
.info-block-item-modal .col-xs-4 {
    margin-bottom: 10px;
}
.info-block-item-modal .col-xs-4 img {
}
#element_info .modal-content {
    width: 250px;
    margin: auto;
}
.table-block-info .tooltip-inner {
    background: #fff;
    color: #000;
}
.table-block-info .tooltip.top .tooltip-arrow{
    border-top-color: #fff;
}
.js-block-color-info .js-table-info .js-td-info:hover {
    opacity: 0.9;
}
.js-td-info div .info-block-color .block-bottom-colot {
}
.js-td-info div .info-block-color {
    display: none;
}
.js-td-info div:hover .info-block-color {
    display: block;
}
.js-td-info div{
    position: relative;
}
.js-td-info div:hover {
    opacity: 0.8;
}
.js-td-info div:hover:first-child {
    opacity: 1;
}
.info-block-color  .block-bottom-colot {
    color: #000;
}
.info-block-color  .block-info-tr-t .image-block-trt {
    width: 16px;
    height: 10px;
    border-radius: 50%;
}
.info-block-color  .block-bottom-colot {
    color: #000;
}
.js-block-color-info-table-two div .info-block-color,
.js-td-info div .info-block-color {
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    padding: 5px;
    position: absolute;
    left: -100px;
}
.block-info-tr-t {
}
.image-block-trt {
}
.js-block-color-info-table-two div .textinfo,
.js-td-info div .textinfo {
    color: #000;
}
.js-block-color-info-table-two .js-td-info .info-block-color {
    width: 175px;
    z-index: 500;
    background: #fff;
    top: 35%;
}
.js-td-info div .info-block-color .block-bottom-colot {
    width: 100%;
}
.js-block-color-info-table-two .js-td-info .textinfo {
    display: inline-flex;
    width: calc(100% - 30px);
}
.js-block-color-info-table-two .js-td-info .image-block-trt {
    width: 11px;
    margin-right: -2px;
}
.js-block-color-info-table-two .js-td-info .block-info-tr-t {
    width: 100%;
    display: block;
}

.js-block-color-info-table-two .js-td-info > div {
    z-index: 20000;
}
.bold-info-h4 {
    font-size: 13px;
}
.js-block-color-info-table h4,
.js-block-color-info-table-two h4 {
    font-weight: normal;
    font-size: 18px;
}
.table-block-info tr td span.rt-table-log {
    padding: 0;
    height: 1px;
    width: 870px;
    background: #dcdcdc;
    position: absolute;
    left: 0;
    display: block;
}
block-fin-info .table-block-info tr td:first-child div:last-child {
    bottom: 0;
    min-width: 70px;
}
.table-block-info tr td span.rt-table-log {
    padding: 0;
    height: 1px;
    width: 800px;
    background: #dcdcdc;
    position: absolute;
    left: 80px;
    display: block;
}
.block-fin-info .table-block-info tr td:first-child div {
    position: absolute;
    right: 5px;
    min-width: 70px;
}
.block-fin-info .table-block-info tr td:first-child div:last-child .rt-table-log {
    bottom: 5px;
}
.js-block-color-info-table-two .js-td-info .js-remove-psevdo {
    display: none!important;
}
.js-block-color-info-table-two .js-td-info > div {
    z-index: 20000;
    bottom: -2px;
}
@media (max-width: 1024px) {
    /*.tab-content>.active {
        overflow-x: auto;
                    }*/
    .table-block-info tr td span.rt-table-log {
        max-width: calc(750px - 80px);
    }
}
.blovk-protokol .slick-dots {
    margin-top: 30px;
}
.info-protokol.checkbox {
    margin-top: -45px;
    position: absolute;
}
.mt-5 {
    margin-top: 2rem!important;
}
.info-r-text {
    text-align: right!important;
}
.info-l-text {
    text-align: left!important;
}
.table-protocole.info-p td,
.table-protocole.info-p th {
    padding: 10px;
}
.table-protocole.info-p td:first-child,
.table-protocole.info-p th:first-child {
    padding: 0;
}
.table-protocole-if tr:first-child {
    border-top: 1px solid #F4F4F4;
}
.info-block-pd .order-table__open {
    display: inline-block;
    vertical-align: unset;
    padding-left: 3px;
}
.info-block-pd {
    display: inline-block;
    color: #880e26;
    cursor: pointer;
    margin-left: 10px;
}
.opened .info-block-pd .order-table__open {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.table-protocole-info-mark {
    width: 100%;
}
.info-qwe-rr {
    border: 0!important;
    border-left: 1px solid #640c1e!important;
    /*box-shadow: 0px 7px 8px -8px #000;*/
    box-shadow: 0px 8px 10px -8px #000;
}
.qwqwaa {
    display: none;
}
.js-inf-tt-bl {
    border-left: 1px solid transparent!important;
}
.js-inf-tt-bl.opened {
    border-left: 1px solid #640c1e!important;
}
.table-protocole-if .table-protocole-info-mark tr td:nth-child(2n) {
    background: transparent;
}
.info-dark-bask-table {
    text-align: center;
    text-transform: uppercase;
    background: #ada9a9;
    color: #fff;
}
.table-protocole-if .info-dark-bask-table td {
    color: #fff;
    padding: 3px 2px 2px 2px;
}
.table-protocole-info-mark .bord-grey-inf td {
    color: #b5b5b5;
    font-weight: 700;
}
.block-fin-info .block-color-info_text .iconka_info {
    width: 13px;
}
.js-td-info div:hover {
    opacity: 1;
}
.js-block-color-info-table-two .js-td-info .info-block-color {
    top: 0;
}
.js-block-color-info-table-two .js-td-info .info-block-color {
    border-radius: 0;
    padding: 0;
}
.js-td-info div .info-block-color .block-bottom-colot {
    background: #ededed;
    padding: 4px 8px;
    text-align: left!important;
    display: block;
}
.js-block-color-info-table-two .js-td-info .block-info-tr-t {
    padding: 9px 8px;
    text-align: left;
}
.js-block-color-info-table-two .js-td-info .image-block-trt {
    width: 10px;
    height: 13px;
}
.mbd-0 {
    margin-bottom: 0!important;
}
.right-block-color-text {
    margin-top: 5px;
}
.right-block-color .block-color-info_text .iconka_info {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}
.right-block-color .block-info-color-table {
    margin-bottom: 20px;
}
.table-block-info.info-right-table tr th {
    text-align: right;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: right;
    color: #000000;
    position: relative;
    padding-right: 10px;
    background: transparent;
    min-width: 95px;
    text-align: right;
}
.table-block-info.info-right-table tbody td, .table-block-info.info-right-table tfoot td {
    padding-right: 10px;
}
.table-block-info.info-right-table tr td {
    border: 0px solid #e1e1e1!important;
    border-top: 1px solid #e1e1e1!important;
}
.block-fin-info .table-block-info tr td {
    padding: 8px;
}
.block-fin-info .table-block-info tfoot tr td {
    background: #e1e1e1;
}
.table-protocole.info-p th {
    font-size: 15px;
}
.table-protocole.info-p th:first-child,
.table-protocole.info-p td:first-child {
    min-width: 125px;
}
.info-full-size {
    /*max-width: 100%;
    overflow-x: auto;*/
}
.block-fin-info .table-block-info tr td {
    text-align: right;
    font-family: monospace;
    letter-spacing: -1px;
}
.block-fin-info .three-years-stat .table-block-info tr td {
    text-align: center;
}
.mt-70 {
    margin-top: 70px!important
}
#table-one-block td,
#full_size_info tfoot td {
    background: transparent;
}
.block-fin-info #full_size_info .block-color-info_text .iconka_info {
    width: 17px;
}
.js-td-info div:hover .info-block-color {
    top: 0;
    padding: 0;
    border-radius: 0;
}
#full_size_info .js-td-info div.block-info-tr-t {
    padding: 3px 5px;
    text-align: left;
    justify-content: left;
}
#full_size_info .js-td-info div:hover .info-block-color {
    min-width: 250px;
}
#full_size_info .info-block-color .block-info-tr-t .image-block-trt {
    width: 12px;
    margin-right: 6px;
}
.block-fin-info #full_size_info_16 .table-block-info tr td,
.block-fin-info #full_size_info_16 .table-block-info tr th {
    padding-right: 25px;
}
#full_size_info_16 .table-block-info.info-right-table thead .block-info-color {
    right: 5px;
}
#full_size_info_16 .table-block-info.info-right-table tfoot .block-info-color {
    top: 30%;
    right: 5px;
}
#full_size_info_16 .table-block-info.info-right-table tbody .block-info-color {
    right: 5px;
}
.info_no_fon_button {
    border: 0;
    background: 0;
}
.info-table-font-ss tr td,
.info-table-font-ss.table-block-info tr th {
    font-size: 12px;
}
.table-protocole.info-p th {
    font-size: 13px;
    font-weight: 700;
}
.table-protocole.info-p td {
    font-size: 13px;
}
.table-protocole tr td {
    font-size: 14px;
    padding: 5px;
}
.table-protocole-if.hide_back_color tr td:nth-child(2n) {
    background: transparent;
}
.right-block-color.form h2 {
    letter-spacing: normal;
}
.catalog-filter-inline__list.nav.tabs .checkbox__text {
    font-weight: 600;
}
.table-color-new-edit.table-block-info .block-info-tr-t .image-block-trt {
    border-radius: unset;
    top: 2px;
}
.right-block-color.right-block-color .block-color-info_text .iconka_info {
    border-radius: unset;
}
.table-block-info.info-right-table tfoot td:first-child {
    text-align: left;
    letter-spacing: 2px;
    font-weight: 700;
}
.table-protocole.info-p th {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}
.table-protocole.info-p td {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
.transform-upp {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.195em;
    text-transform: uppercase;
}
.transform-none {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.195em;
    text-transform: uppercase;
}
.blovk-protokol .slick-prev.slick-arrow {
    width: 20px;
    height: 38px;
    background: none;
    border: 0;
    outline: none;
    background-image: url(/local/templates/silver/img/expert/left_svg_inf.svg);
    overflow: hidden;
    color: transparent;
    position: absolute;
    left: -15px;
    top: 27%;
    background-repeat: no-repeat;
}
.blovk-protokol .slick-next.slick-arrow {
    width: 20px;
    height: 38px;
    background: none;
    border: 0;
    outline: none;
    background-image: url(/local/templates/silver/img/expert/right_svg_inf.svg);
    overflow: hidden;
    color: transparent;
    position: absolute;
    right: -10px;
    top: 27%;
    background-repeat: no-repeat;
}
.js-promo-slider-footer.blovk-protokol {
    padding-left: 20px;
    padding-right: 20px;
}
.right-block-color h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}
.catalog-filter-inline__list.nav.tabs .checkbox__text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #820F24;
}
.table-block-info.info-right-table tfoot td:first-child {
    text-align: left;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    font-family: inherit;
}
.block-fin-info .table-block-info tfoot tr td {
    background: #F4F4F4;
}
.btn-type2.btn-type2_big.info-new-style-right-block {
    padding: 10px 25px;
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    color: #820F24;
}
.mw-100 {
    min-width: 100px!important;
}

.js-block-color-info-table-two .js-td-info > div {
    bottom: -20px;
}
#full_size_info2 tfoot #table-one-block td{
    text-align: center;
}
tfoot #table-one-block td{
    white-space: nowrap;
}
.blovk-protokol .slick-prev.slick-arrow {
    top: 40%;
}
.blovk-protokol .slick-next.slick-arrow {
    top: 40%;
}
.modal-dialog {
    width: 100%;
    max-width: 800px;
}
@media (max-width: 1279px) {
    .inf-100 {
        max-width: 100%;
        overflow-x: auto;
        width: 100%;
        padding-left: 65px;
        padding-bottom: 20px;
    }
    .right-block-color-numver-summ {
        font-size: 27px;
    }
    .right-block-color .block-info-color-table {
        margin-bottom: 5px;
    }
}
@media (min-width: 1280px) {
    .inf-100 {
        max-width: 100%;
        overflow-x: auto;
        width: 100%;
        padding-left: 60px;
        padding-bottom: 20px;
    }
}
.js-block-color-info-table-two .js-td-info .textinfo {
    display: inline-flex;
    width: calc(100% - 30px);
    white-space: nowrap;
    padding-left: 10px;
}
.multi-collapse,
.multi-collapse_2 {
    display: none;
}
.multi-collapse_2.active,
.multi-collapse.active {
    display: block;
}
.block-fin-info .table-block-info tr td {
    white-space: nowrap;
}

.js-block-color-info-table-two .js-td-info > div {
    bottom: -5px;
}
.table-block-info tr td span.rt-table-log {
    width: 890px;
}
.three-years-stat .table-block-info tr td span.rt-table-log{
    width: 475px;
}
@media (min-width: 992px) {
    .three-years-stat .table-block-info tr td span.rt-table-log{
        width: 610px;
    }
}
@media (min-width: 1280px) {
    .three-years-stat .table-block-info tr td span.rt-table-log{
        width: 660px;
    }
}
.inf-two-100 {
    overflow-x: auto;
}
.inf-two-100  .table-block-info tr td span.rt-table-log {
    width: 800px;
}
.block-fin-info .table-block-info {
    margin-top: 5px;
}
.block-fin-info .table-block-info.info-right-table {
    height: auto;
    margin-top: 0px;
}
.info-cll-t {
    cursor: auto!important;
    pointer-events: none;
}
#element_info .modal-window h2 {
    background-color: #fff
}
.inf-lock-exp-ba .btn-type2.btn-type2_big.info-new-style-right-block {
    background: #fff;
}
.inf-lock-exp-ba .btn-type2.btn-type2_big.info-new-style-right-block:hover {
    background: #820F24;
}
#сookieInf .modal-dialog {
    width: 100%;
    max-width: 800px;
}
#сookieInf p {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-family: "Fira Sans", sans-serif;
}
#сookieInf ul {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-family: "Fira Sans", sans-serif;
    line-height: 18px;
}
#сookieInf img {
    width: 100%;
    max-height: 300px;
}
#сookieInfFirst .modal-dialog {
    width: 100%;
    max-width: 800px;
}
#сookieInfFirst p {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    font-family: "Fira Sans", sans-serif;
}
#сookieInfFirst img {
    width: 100%;
    max-height: 300px;
}
.bold-info-h4 {
    font-size: 14px;
}
#full_size_info_16,
#full_size_info_162 {
    overflow-x: auto;
}
.right-block-color {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 19px;
    padding-bottom: 20px;
    border: 1px solid #F2D8DB;
    margin-bottom: 1.27rem;
}
.right-block-color h4 {
    font-weight: normal;
}
.right-block-color h2 {
    font-weight: 600;
}
.right-block-color h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 159.5%;
    padding: 0;
    padding-bottom: 5px;
    padding: 0;
    padding-top: 20px;
    line-height: normal;
}
.text-info-right {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 159.5%;
    color: #000000;
    line-height: normal;
}
div.right-block-color-text {
    color:#000;
    font-weight: 500;
}
@media (max-width: 1024px) {
    .btn-type2.btn-type2_big.btn-type2_big-right {
        white-space: normal;
        padding-top: 6px;
        line-height: normal;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .inf-lock-exp-ba .btn-type2.btn-type2_big.info-new-style-right-block {
        max-width: 100%;
    }
    .btn-type2.btn-type2_big.info-new-style-right-block {
        padding: 10px 15px;
    }
    .col-xs-12.col-lg-6.row {
        margin: 0;
    }
    .right-block-color h3 {
        padding-top: 10px;
    }
}
.table-protocole.info-p th {
    font-weight: 700;
}
.transform-upp {
    font-weight: 700;
}
.transform-none {
    font-weight: 700;
}
.table-protocole tr td {
    font-weight: 700;
}
.info-h-ex {
    position: relative;
}
.info-h-ex .block-info-hide {
    position: absolute;
    z-index: 1000;
    display: none;
    left: 21%;
    top: 20px;
}
.block-info-hide .block-info-modal-block {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.block-info-hide .modal-dialog {
    width: 420px;
}
.block-info-hide .block-info-modal-block h1 {
    margin-bottom: 10px;
    padding: 0;
    font-size: 26px;
    text-align: left;
    font-weight: 500;
}
.block-info-hide .block-info-modal-block p {
    text-align: left;
}
.block-info-hide .qwqq .modal-dialog {
    width: 100%;
    max-width: 560px;
}
.inf-tt-bl-q {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
}
.inf-tt-bl-text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    text-align: left;
}
.block-info-modal-block .col-xs-12.col-md-6 {
    margin-bottom: 5px;
}
@media (min-width: 1024px) {
    .block-info-modal-block .col-xs-12.col-md-6:nth-child(2) {
        height: 85px;
    }
}
.info-success-qw {
    text-align: center;
    margin-bottom: 28px;
    margin-top: 25px;
}
#info-success .btn-type2.btn-type2_big.btn-type2_big-mini {
    margin: auto;
    padding: 10px 35px;
    display: block;
}
#info-success .modal-dialog {
    max-width: 435px;
}
#info-success h1 {
    margin-bottom: 8px;
}
#info-success p {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}
#info-success-q .btn-type2.btn-type2_big.btn-type2_big-mini {
    margin: auto;
    padding: 10px 35px;
    display: block;
}
#info-success-q .modal-dialog {
    max-width: 435px;
}
#info-success-q h1 {
    margin-bottom: 8px;
}
#info-success-q p {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}
.js-promo-slider-footer {
    visibility: hidden;
}
.slick-initialized { visibility: visible; }
.stock-select {
    color: #808285;
    margin-top: 5px;
    white-space: nowrap;
    font-size: 14px;
}
.block-fin-info .table-block-info .js-td-info:nth-last-child(-n+2) .info-block-color {
    left: -90px;
}
.block-fin-info .table-block-info .js-td-info:last-child .info-block-color {
    left: -168px;
}
.table-protocole-info-mark .bord-grey-inf td {
    color: #b5b5b5;
    font-weight: 500;
}
.table-protocole-if.hide_back_color .table-protocole-info-mark tr td:nth-child(2n) {
    background: #f8f8f8;
}
.block-fin-info .catalog-filter-inline__list.nav .checkbox__text span {
    font-family: "Fira Sans", sans-serif;
}
.info-table-font-ss.table-block-info tr th {
    font-weight: 500;
}
.block-fin-info .table-block-info tfoot tr td {
    font-weight: 700;
}
.block-info-slider-expert .slick-next.slick-arrow {
    width: 20px;
    height: 38px;
    background: none;
    border: 0;
    outline: none;
    background-image: url(/local/templates/silver/img/expert/right_svg_inf.svg);
    overflow: hidden;
    color: transparent;
    position: absolute;
    right: 3px;
    top: 27%;
    background-repeat: no-repeat;
}
.block-info-slider-expert .slick-next.slick-arrow {
    top: 48%;
}
.block-info-slider-expert .slick-prev.slick-arrow {
    width: 20px;
    height: 38px;
    background: none;
    border: 0;
    outline: none;
    background-image: url(/local/templates/silver/img/expert/left_svg_inf.svg);
    overflow: hidden;
    color: transparent;
    position: absolute;
    left: 3px;
    top: 27%;
    background-repeat: no-repeat;
}
.block-info-slider-expert .slick-prev.slick-arrow {
    top: 48%;
}
.js-promo-slider-footer {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}
.js-promo-slider-footer.slick-initialized {
    visibility: visible;
    opacity: 1;
}
#full_size_info2 tbody tr td.js-td-info {
    max-width: 70px;
}
#full_size_info2 tbody tr td .js-block-color-3 {
    left: -5px;
}
#full_size_info2 tbody tr td .js-block-color-2 {
    left: -2px;
}
.city__arrow:before, .city__arrow:after {
    display: block;
    content: "";
    width: 11px;
    height: 1px;
    background-color: #9b4350;
    top: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: absolute;
}
.city__arrow:before {
    left: -19px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.city__arrow:after {
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.city__arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 0;
}
.city {
    position: relative;
}
.city__arrow {
    position: absolute;
    top: 50%;
    margin-top: 0px;
    right: -26px;
}
.button.button--red.m-cities__close {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    display: inline-block;
    height: auto;
    border-radius: 2px;
    border: 1px solid #ffffff;
    padding: 0 36px;
    border-color: #8d2635;
    color: #8d2635;
    display: block;
    margin: 25px auto 10px;
    max-width: 250px;
    text-align: center;
    background: transparent;
}
.button.button--red.m-cities__close:hover {
    background-color: #8d2635 !important;
    border-color: #8d2635 !important;
    color: #fff !important;
}
.m-cities__list {
    margin: 45px 0 23px;
}
.m-cities__item {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
}
.m-cities__item .input[type=radio]:checked + label:after {
    opacity: 1;
}
.m-cities__item  .input[type=radio] + label:before {
    width: 16px;
    height: 16px;
    border: 1px solid #8b2536;
    opacity: 0.3;
    border-radius: 16px;
    top: 0;
    left: 0;
}
.m-cities__item .input[type=radio] + label:before,
.m-cities__item .input[type=radio] + label:after {
    display: block;
    content: "";
    position: absolute;
}
.m-cities__item .input[type=radio] {
    display: none;
}
.m-cities__item label {
    padding-left: 33px !important;
    color: #000 !important;
    font-size: 15px !important;
    line-height: 18px !important;
}
.m-cities__item .input[type=radio] + label {
    font-family: Arial;
    font-weight: 400;
    line-height: 16px;
    color: #444444;
    font-size: 13px;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
}
.m-cities__item .input[type=radio] + label:after {
    width: 6px;
    height: 6px;
    background-color: #8b2536;
    border-radius: 6px;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
}
.m-cities__item .input[type=radio]:checked + label:after {
    opacity: 1;
}
.m-cities__item label {
    padding-left: 25px !important;
    color: #000 !important;
    font-size: 13px !important;
    line-height: 18px !important;
}
.m-cities__item .input[type=radio] + label {
    display: block;
}
.m-cities__list.active {
    display: block;
}
.m-cities__list {
    display: none;
}
.m-cities-all__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 37px;
    padding: 0;
    list-style: none;
}
.m-cities-all__tabs-item {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    vertical-align: middle;
}
.m-cities-all__tabs-item a {
    font-size: 14px;
}
.m-cities-all__tabs-item.active a {
    color: #000;
    font-size: 14px;
}
.m-cities__list {
    margin: 20px 0 23px;
}
.m-cities-all__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}
.m-cities__item.col-md-4 {
    width: 32.333333%;
    display: inline-flex;
    float: none;
}
#msnet-modal .block-info-modal-block .m-cities__list {
    min-height: 400px;
}
.city {
    padding-right: 35px;
}
.city__arrow {
    right: 0;
}
.m-cities-all__tabs-item:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -18px;
    margin-left: -18px;
    width: 36px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.m-cities-all__tabs-item.active:before {
    background-color: #ffd8df;
}
.m-cities-all__tabs-item.active .m-cities-all__tabs-link {
    border-color: transparent;
}
.m-cities-all__tabs-link {
    position: relative;
    color: #000;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px dashed #6e6e6e;
}
.m-cities__item {
    margin-bottom: 10px;
}
.m-cities__item label {
    font-size: 13px !important;
    line-height: 15px !important;
}
.m-cities-all__tabs .m-cities-all__tabs-item.active:first-child:before {
    width: calc(100% + 25px);
    border-radius: 30px;
    left: 5px;
}
.expert-block .menu-info {
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #F2D8DE;
    display: flex;
}
.expert-block .menu-info {
    width: calc(100% - 2px);
}
@media (min-width: 840px){
    #msnet-modal .modal-dialog {
        width: 100%;
        min-width: 768px;
    }
}
.m-cities-all__tabs-item:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -14px;
    margin-left: -13px;
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    border-radius: 50%;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.m-cities-all__tabs .m-cities-all__tabs-item.active:first-child:before {
    width: calc(100% + 25px);
    border-radius: 30px;
    left: -1px;
}
#msnet-modal .block-info-modal-block .m-cities__list {
    min-height: 400px;
    max-height: 600px;
    overflow-y: auto;
}
/*
.block-blue-info &gt; .container {
    max-width: 100%;
}
.block-blue-info {
    margin-top: 25px;
}*/
