.set-item
  &__header
    @media (max-width point-l - 1)
      column-gap 20px
    & ^[-1]__col
      @media (max-width point-l - 1)
        max-width calc(100% / 3)
        padding-right 0
      @media (max-width point-s - 1)
        width 50%
        max-width unset
  &__not-selected
    @media (max-width point-l - 1)
      width calc(100% / 3)
      margin-left 0
    @media (max-width point-s - 1)
      width 100%
      margin-top 16px
  .items-selected
    @media (max-width point-l - 1)
      width 50%
    @media (max-width point-s - 1)
      width 100%
    
  .inline-item
    @media (max-width point-l - 1)
      flex-direction column
    &__val
      @media (max-width point-l - 1)
        gap 20px
    &__selections
      @media (max-width point-l - 1)
        margin-top 20px
    .counter-list
      &__item
        @media (max-width point-l - 1)
          width calc(100% / 3)
          max-width unset
        @media (max-width point-s - 1)
          width 50%
        .jq-number
        .hint
          @media (max-width point-l - 1)
            flex-grow 1
            width 100%
          input
            @media (max-width point-l - 1)
              width 100%
        .hint
          &::before
          &::after
            @media (max-width point-l - 1)
              top 50%
              translate 0 -50%
          &::before
            @media (max-width point-l - 1)
              width calc(100% - 10px)
