.date-input-row
  position relative
  &::before
    content ''
    position absolute
    top 50%
    left 50%
    width 12px
    height 2px
    background-color #F5D8DB
    transform translate(-50%, -75%)
  .form-group
    margin 0
