.list-ordered
  list-style none
  counter-reset listOrdered
  li
    position relative
    padding-left 18px
    line-height 22px
    counter-increment listOrdered
    &::before
      content counter(listOrdered)'.'
      position absolute
      top 0
      left 0
      font-weight bold
      line-height inherit
