.indicator-block
  --title-padding-left 0
  --title-marker-content none
  --title-marker-color #cccccc
  &--marker
    --title-padding-left 22px
    --title-marker-content ''
    &--purple
      --title-marker-color #8E71BA
    &--green
      --title-marker-color #BBE2CE
    &--pink
      --title-marker-color #F0D8DE
  &__title
    position relative
    margin-bottom 4.5px
    padding-left var(--title-padding-left)
    font-weight 11px
    line-height 14px
    &::before
      content var(--title-marker-content)
      position absolute
      top 0
      left 0
      width 14px
      height 14px
      background-color var(--title-marker-color)
  &__value
    font-size 36px
    font-weight 300
    line-height 1
