mixin indicatorBlock(item, marker)
  -
    const settings = {}
    if (marker) settings.marker = [true, marker]
  div(class= classes('indicator-block', settings))&attributes(attributes)
    if item.title
      .indicator-block__title !{item.title}
    .indicator-block__value
      if typeof item.value === 'number'
        | !{priceFormat(item.value)}
      else
        | !{item.value}
