include /blocks/slider/slider

mixin promoSlider(settings = {})
  div(class= classes('promo-section', settings))&attributes(attributes): .container: .content
    +slider({pagination: true, fullWidth: true}).promo-slider
      button(type='button').promo-section__close
      block
