.promo-section
  overflow hidden
  background-color #e1e6ec
  transition margin-top .4s
  @media (max-width point-l - 1)
    margin-top -28px
  @media (max-width point-s - 1)
    margin-top -24px
  &--closing
    margin-top var(--margin-top)
  &--premium
    position relative
    background-color transparent
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height calc(100% - 20px)
      background-color #010101
    & ^[-1]__close
      display none
    .promo-slider
      .slider
        &__slides
          padding-bottom 20px
        &__pagination
          bottom 3px
    .promo-slide
      padding 0
  &__close
    appearance none
    position absolute
    top 8px
    right 0
    z-index 3
    width 20px
    height 20px
    padding 0
    background-color #808285
    border none
    transition background-color var(--transition-time-mouseout)
    mask-image url(/images/template/svg-sprites/common.svg#close)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    &:hover
      background-color #000000
      transition-duration var(--transition-time-mouseover)
.promo-slider
  .slider
    &__pagination
      position absolute
      z-index 200
      pointer-events none
    &__pagination-item
      width 6px
      height 6px
      margin-x 10px
      background-color #840D25
      opacity 1
      border 1px solid #840D25
      border-radius 100%
      transform rotate(45deg)
      transition background-color, border-radius, transform
      transition-duration .2s
      pointer-events auto
      &:hover
        background-color transparent
        cursor pointer
      &--active
        transform rotate(45deg) scale(1.3)
        background-color transparent
        border-radius 0
    &__arrow
      display none
.promo-slide
  padding-y 7px
  @media (max-width point-s - 1)
    padding-bottom 30px
  &__info
    @media (min-width point-l)
      padding-y 40px
    @media (max-width point-l - 1)
      padding-y 20px
    @media (max-width point-s - 1)
      order 2
      padding-y 0
  &__image
    display flex
    justify-content center
    @media (max-width point-s - 1)
      order 1
  &__title
    font-family 'Prata', serif
    line-height 1.3
    @media (min-width point-l)
      font-size 26px
    @media (max-width point-l - 1)
      font-size 18px
    @media (max-width point-s - 1)
      font-size 14px
      text-align center
  &__caption
    margin-top 6px
    @media (min-width point-l)
      font-size 14px
    @media (max-width point-l - 1)
      font-size 13px
    @media (max-width point-s - 1)
      margin-top 8px
      font-size 12px
      text-align center
.promo
  &__link
    width 100%
  &__info
    @media (max-width point-s - 1)
      width 100%
  &__pic
    @media (max-width point-s - 1)
      display none
img.phon_img
img.phon_img_right
  @media (max-width point-s - 1)
    display none
