.notification-item
  padding-bottom 16px
  &::after
    @media (min-width point-s)
      content ''
      grid-column-start 1
      grid-column-end -1
      height 1px
      background-color #EBEBEB
  @media (min-width point-s)
    display contents
  @media (max-width point-s - 1)
    display grid
    grid-template-columns auto 17px
    grid-gap 24px
    border-bottom 1px solid #EBEBEB
  & + &
    @media (max-width point-s - 1)
      padding-top 16px
  &__field
    @media (max-width point-s - 1)
      display contents
    &--email
      @media (max-width point-s - 1)
        display unset
        grid-column 1 / -1
  &__label
    @media (min-width point-s)
      display none
  .remove-link
    appearance none
    width 20px
    height 20px
    padding 0
    background-color #949494
    mask-image url(/images/template/svg-sprites/common.svg#close)
    mask-repeat no-repeat
    mask-position center
    mask-size cover
    border none
    transition background-color var(--transition-time-mouseout)
    @media (max-width point-s - 1)
      display none
    &:hover
      background-color #000000
      transition-duration var(--transition-time-mouseover)
