mixin notificationItem
  .notification-item&attributes(attributes)
    .notification-item__field.notification-item__field--email
      input.text-input2.notification-item__input(name='email' type='text' value='kislorod-admin@o2k.ru')
    .notification-item__field
      .notification-item__label Оповещать о новинках
      label.checkbox
        input.checkbox__input(type='checkbox' name='is_new' checked='')
        span.checkbox__text
    .notification-item__field
      .notification-item__label Оповещать о статусах заказов
      label.checkbox
        input.checkbox__input(type='checkbox' name='is_status' checked='')
        span.checkbox__text
    .notification-item__field
      .notification-item__label Оповещать о новых акционных товарах
      label.checkbox
        input.checkbox__input(type='checkbox' name='is_sale' checked='')
        span.checkbox__text
    .notification-item__field
      button.remove-link.js-remove-notification: span.visually-hidden Удалить
