mixin managerBlock(item, settings = {})
  div(class= classes('manager-block', settings))&attributes(attributes)
    +img({
        name: item.image,
        path: '/images/',
        formats: [
          { ext: 'webp', mime: 'image/webp' },
          { ext: 'png', orig: true },
        ],
        density: [
          { values: [ 1, 2 ] }
        ]
      })(alt= item.title).manager-block__image
    .manager-block__title !{ item.title }
    if item.info
      p.manager-block__info !{item.info}
    if item.contacts
      .manager-block__contacts
        each contact in item.contacts
          .manager-block__contact
            span.manager-block__contact-title !{ contact.title }:
            span.manager-block__contact-value !{ contact.value }
