.manager-block
  display grid
  grid-template-areas 'image title' 'image info' 'image contacts'
  grid-template-columns 60px auto
  grid-column-gap 24px
  align-items center
  &--big
    grid-template-columns 110px auto
    @media (max-width point-s - 1)
      grid-template-areas 'image .' 'title title' 'info info' 'contacts contacts'
      grid-row-gap 12px
    & ^[-1]__title
      font-size 20px
      @media (min-width point-s)
        margin-bottom 8px
      @media (max-width point-s - 1)
        margin-top 12px
    & ^[-1]__info + ^[-1]__contacts
      @media (max-width point-s - 1)
        margin-top 0
  &__image
    grid-area image
  &__title
    grid-area title
    font-size 16px
    line-height 24px
  &__info
    grid-area info
    & + ^[-1]__contacts
      grid-area contacts
      margin-top 16px
  &__contacts
    grid-area info
    line-height 22px
  &__contact
    display flex
    gap 6px
    & + &
      margin-top 5px
  &__contact-title
    font-weight 300
    color #949494
  &__contact-value
    --color-link var(--color-text-primary)
    --color-link-hover var(--color-text-primary)
    font-weight inherit
    color #000
