mixin linkIcons(list = [], settings = {})
  -
    const links = {
      vk: 'https://vk.com/alikorcom',
    }
    const blockClass = classes('link-icons', settings)
  div(class != blockClass)&attributes(attributes)
    each item in list
      - const itemClass = `link-icons__link link-icons__link--${item}`
      a(href != links[item] class != itemClass target='_blank')
