.link-icons
  display flex
  align-items center
  gap var(--base-padding)
  &__link
    display block
    width 34px
    height 34px
    background-repeat no-repeat
    background-position center
    background-size cover
    transition opacity .4s
    &:hover
      opacity .75
      transition-duration  .1s
    for icon in 'vk'
      &--{icon}
        background-image url(unquote('/images/template/svg-sprites/common.svg#link-icons__link--' + icon))
