.item-tile
  &:hover
    @media (max-width point-l - 1)
      background unset
      z-index unset
      box-shadow unset
      transition unset
    & ^[-1]__btn
      @media (max-width point-l - 1)
        opacity 0
        transform none
  &__favorites
  &__favorites
  &__zoo
    @media (max-width point-l - 1)
      transform unset
      opacity unset
  &__zoom
    @media (max-width point-l - 1)
      display none
  &__price-line
    @media (max-width point-s - 1)
      flex-direction column
      align-items flex-start
      gap 4px
  &__labels
    display flex
    flex-wrap wrap
    gap 10px
    max-width calc(100% - 52px)
