.block-icon
  display flex
  align-items center
  gap 24px
  font-weight 300
  &::before
    content ''
    display block
    align-self flex-start
    flex-shrink 0
    width 60px
    height 56px
    background-image var(--background-image)
    background-repeat no-repeat
    background-position center
    background-size contain
  &--marketing
    --background-image image-set(url(/images/template/block-icon--marketing.png) 1x, url(/images/template/block-icon--marketing@2x.png) 2x)
    --background-image -webkit-image-set(url(/images/template/block-icon--marketing.png) 1x, url(/images/template/block-icon--marketing@2x.png) 2x)
  &--indicators
    --background-image image-set(url(/images/template/block-icon--indicators.png) 1x, url(/images/template/block-icon--indicators@2x.png) 2x)
    --background-image -webkit-image-set(url(/images/template/block-icon--indicators.png) 1x, url(/images/template/block-icon--indicators@2x.png) 2x)
  &--conditions
    --background-image image-set(url(/images/template/block-icon--conditions.png) 1x, url(/images/template/block-icon--conditions@2x.png) 2x)
    --background-image -webkit-image-set(url(/images/template/block-icon--conditions.png) 1x, url(/images/template/block-icon--conditions@2x.png) 2x)
  &--manager
    --background-image image-set(url(/images/template/block-icon--manager.png) 1x, url(/images/template/block-icon--manager@2x.png) 2x)
    --background-image -webkit-image-set(url(/images/template/block-icon--manager.png) 1x, url(/images/template/block-icon--manager@2x.png) 2x)
