.main-header
  @media (max-width point-l - 1)
    margin-bottom 28px
    box-shadow 0 2px 10px rgba(0, 0, 0, 0.1);
  @media (max-width point-s - 1)
    margin-bottom 24px
  .page-header-row
    gap 40px
    @media (max-width point-l - 1)
      gap 24px
    @media (max-width point-s - 1)
      gap 16px
  .page-header__top
    @media (max-width point-s - 1)
      padding-y 13px
  .drop-wrap
    margin-left 0
    will-change unset
  .personal-drop.opened
    @media (max-width point-l - 1)
      position fixed
      top 0
      right 0
      bottom 0
      left 0
      display flex
      justify-content flex-end
      width 100%
      padding-top 30px
      padding-bottom 25px
      padding-x 20px
      background-color #fff
      .link-icon
        align-self flex-start
    @media (max-width point-s - 1)
      padding-y 18px
  .drop-down
    @media (max-width point-l - 1)
      position absolute
      top 80px
      right 0
      bottom 0
      left 0
      width 100%
      margin-top 0
      padding-x 67px
      &__cont
        max-height 100%
        overflow-y auto
        padding 0
    @media (max-width point-s - 1)
      top 67px
      padding-x 0
.personal-menu
  @media (max-width point-l - 1)
    padding 0
    &__item
      margin 0
      padding-y 15px
      font-size 16px
      line-height 20px
      & + &:not(&_logout)
        border-top 1px solid #ebebeb
      &_logout
        padding-x 0
        font-size 14px
        border-top none
        .underlined-link__text
          font-weight 300
    a
      text-decoration none
      color #000
      border none
    .underlined-link__text::after
      content none
    .opened &
      padding 20px
.header-links
  display flex
  gap 40px
