include /blocks/link-icon/link-icon
include /blocks/header-switcher/header-switcher
include /blocks/header-navigation/header-navigation

header.main-header.page-header
  .page-header__top
    .container
      .page-header-row
        if !isLoginPage
          +headerSwitcher().page-header-cell
          +headerNavigation({ active: opened.headerNavigation })
          .page-header-cell
            a.page-header__logo(href='/')
              img(src='/images/_logo.svg' width='206' height='46' alt='Алькор')
          if isHomePage
            .page-header-cell.page-header-cell_right.rt50521
              +linkIcon({ icon: 'favourite' })(href='#').header__user.js-drop-click.drop-wrap__hover Избранное
            .page-header-cell
              +linkIcon({ icon: 'cart' })(href='#').header__user.js-drop-click.drop-wrap__hover Корзина
          else
            .page-header-cell.page-header-cell_right.rt50521.hidden-s.hidden-xs
              +linkIcon({ icon: 'documentDownload' })(href='#').header__user.js-drop-click.drop-wrap__hover Рекламные материалы
            .page-header-cell.page-header-cell_right.rt50521.hidden-hd.hidden-xl.hidden-l.hidden-m
              +linkIcon({ icon: 'favourite' })(href='#').header__user.js-drop-click.drop-wrap__hover Избранное
            .page-header-cell.hidden-hd.hidden-xl.hidden-l.hidden-m
              +linkIcon({ icon: 'cart' })(href='#').header__user.js-drop-click.drop-wrap__hover Корзина
          .page-header-cell
            .personal-drop.drop-wrap(class= `${ opened.userDropdown ? 'opened' : '' }`)
              +linkIcon({ icon: 'user' })(href='#').header__user.js-drop-click.drop-wrap__hover Кабинет
              .drop-down
                .drop-down__cont
                  ul.personal-menu
                    li.personal-menu__item
                      a.personal-menu__link.underlined-link(href='/profile/info/')
                        span.underlined-link__text Профиль
                    li.personal-menu__item
                      a.personal-menu__link.underlined-link(href='/profile/orders/')
                        span.underlined-link__text Мои заказы
                    li.personal-menu__item
                      a.personal-menu__link.underlined-link(href='/profile/info/add_test/')
                        span.underlined-link__text Создание временного доступа
                    li.personal-menu__item
                      a.personal-menu__link.underlined-link(href='/profile/info/add_friend/')
                        span.underlined-link__text Создание доступа “Для друзей”
                    li.personal-menu__item
                      a.personal-menu__link.underlined-link(href='/admin/delete_users/')
                        span.underlined-link__text Удаление пользователей
                    li.personal-menu__item
                      a.personal-menu__link.underlined-link(href='/profile/settings/')
                        span.underlined-link__text Настройка уведомлений
                    li.personal-menu__item
                      a.personal-menu__link.underlined-link(href='/profile/adv/')
                        span.underlined-link__text Рекламные материалы
                    li.personal-menu__item
                      a.personal-menu__link.underlined-link(href='/admin/')
                        span.underlined-link__text Кабинет администратра
                    li.personal-menu__item.personal-menu__item_logout
                      a.personal-menu__link.underlined-link(href='/?logout=yes')
                        span.underlined-link__text Выйти из магазина
        else
          .page-header-cell
            a.page-header__logo(href='/')
              img(src='/images/_logo.svg' width='206' height='46' alt='Алькор')
  if !isHomePage && !isLoginPage
    .page-header__fixed-helper.hidden-m.hidden-s.hidden-xs
      .page-header__bottom.js-fixed-header
        .container
          .fixed-header
            ul.top-menu
              li.top-menu__item
                a.top-menu__link(href='/')
                  span.top-menu__text На главную
              li.top-menu__item
                a.top-menu__link(href='/gold/')
                  span.top-menu__text Каталог
              li.top-menu__item
                a.top-menu__link(href='/premium/')
                  span.top-menu__text PREMIUM
              li.top-menu__item
                a.top-menu__link(href='/expert/')
                  span.top-menu__text Алькор-Эксперт
            .header-links
              +linkIcon({ icon: 'favourite' })(href='/favorites/') Избранное
              +linkIcon({ icon: 'cart' })(href='/cart/') Ваша корзина пуста
