p
  font-weight 300
  line-height 22px

  strong
    font-weight 400

.par + .par
.par + p
p + .par
p + p
.list-unordered + p
.list-unordered + .par
p + .list-unordered:not(.list-unordered--w-prev-par)
.par + .list-unordered:not(.list-unordered--w-prev-par)
  margin-top 15px
