-
  const adminMenu = [
    { name: 'Дубли кодов', href: '#' },
    { name: 'Лишние товары золото', href: '#', active: true },
    { name: 'Проблемные товары серебро', href: '#' },
    { name: 'Проблема с производством серебро', href: '#' },
    { name: 'Товары с проблемными остатками', href: '#' },
    { name: 'Статистика по штрихкодам', href: '#' },
    { name: 'Товары без картинок', href: '#' },
    { name: 'Генерация пароля для папки', href: '#' },
    { name: 'Генерация сертификата бриллиант', href: '#' },
    { name: 'Генерация сертификата цветник', href: '#' },
    { name: 'Статистика по заказам клиентов', href: '#' },
    { name: 'Статистика по заказам контрагентам', href: '#' },
    { name: 'Штрихкоды акции зима', href: '#' },
    { name: 'Статистика по заказам пользователей', href: '#' },
    { name: 'Выйти из магазина', href: '#', settings: { logOut: true } },
  ]
