-
  const orders = [
    {
      title: '7010',
      date: '07.07.2022',
      status: 'Выполняется',
      positions: 1,
      price: {
        products: 3705,
        delivery: 0,
      },
      type: {
        id: 'gold',
        title: 'Золото',
      },
      customer: 'Юридическое лицо',
      items: [
        {
          properties: [
            { name: 'Изделие', value: '34974-200' },
            { name: 'Штрихкод', value: 'Выполняется' },
            { name: 'Размер', value: '2' },
            { name: 'Вес', value: '0.48 г' },
            { name: 'Тип заказа', value: '<div class="tip"><a href="#" class="tip__link tip__link--round">!</a><div class="tip__body">со склада Кострома</div></div>со склада Кострома' },
            { name: 'Комментарий', value: '' },
          ],
          image: 'order',
        },
        {
          properties: [
            { name: 'Изделие', value: '34974-200' },
            { name: 'Штрихкод', value: 'Выполняется' },
            { name: 'Вес', value: '0.48 г' },
            { name: 'Тип заказа', value: '<div class="tip"><a href="#" class="tip__link tip__link--round">!</a><div class="tip__body">со склада Кострома</div></div>со склада Кострома' },
            { name: 'Комментарий', value: '' },
          ],
          image: 'order',
        }
      ],
    },
    {
      title: '7010',
      date: '07.07.2022',
      status: 'Выполняется',
      positions: 1,
      price: {
        products: 3705,
        delivery: 0,
      },
      type: {
        id: 'gold',
        title: 'Золото',
      },
      customer: 'Юридическое лицо',
      items: [
        {
          properties: [
            { name: 'Изделие', value: '34974-200' },
            { name: 'Штрихкод', value: 'Выполняется' },
            { name: 'Размер', value: '' },
            { name: 'Вес', value: '0.48 г' },
            { name: 'Тип заказа', value: 'со склада Кострома' },
            { name: 'Комментарий', value: '' },
          ],
          image: 'order',
        }
      ],
    },
  ]
