-
  const profileMenu = [
    { name: 'Профиль', href: '#', active: true },
    { name: 'Заказы', href: '#' },
    { name: 'Создание временного доступа', href: '#' },
    { name: 'Создание доступа “Для друзей”', href: '#' },
    { name: 'Настройка уведомлений', href: '#' },
    { name: 'Поменять пароль', href: '#' },
    { name: 'Рекламные материалы', href: '#' },
    { name: 'Избранное', href: '#' },
    { name: 'Выйти из магазина', href: '#', settings: { logOut: true } },
  ]
