.tip
  position relative
  display inline-block
  margin-right 12px
  a&__link
    &--round
      display inline-flex
      justify-content center
      align-items center
      width 16px
      height 16px
      font-size 12px
      text-align center
      color #000000
      border 1px solid #000000
      border-radius 100vmax
  &__body
    position absolute
    top 50%
    right calc(100% + 8px)
    z-index 10
    width max-content
    max-width 200px
    padding 6px 10px
    font-size 14px
    color #ffffff
    background-color #808285
    opacity 0
    transform translateY(-50%)
    cursor default
    pointer-events none
    transition opacity .3s
    &::before
      content ''
      position absolute
      top 50%
      right -12px
      border 6px solid transparent
      border-left-color #808285
      transform translateY(-50%)
    &--left
      right auto
      left calc(100% + 1rem)
      &::before
        content ''
        position absolute
        top 50%
        right unset
        left -12px
        border 6px solid transparent
        border-right-color #808285
        transform translateY(-50%)
    @media screen and (max-width point-l - 1)
      top calc(100% + 12px)
      left 50%
      transform translateX(-50%)
      &::before
        content ''
        position absolute
        top -12px
        left 50%
        width 12px
        border-left-color transparent
        border-bottom-color #808285
        transform translateX(-50%)
  &--active
    & a^[-1]__link--round
      color #ffffff
      background-color #000000
    & ^[-1]__body
      opacity 1
      transition-duration .1s
