.notification-settings
  @media (min-width point-s)
    display grid
    grid-template-columns  166px repeat(3, auto) min-content
    grid-column-gap 36px
    grid-row-gap 12px
    align-items center
  &__header
    @media (min-width point-s)
      display contents
      font-size 12px
      font-weight 300
    @media (max-width point-s - 1)
      display none
