.header-navigation
  position fixed
  top 0
  left 0
  z-index 30
  width 100%
  height 100%
  overflow-y auto
  padding-top 100px
  padding-x 8%
  background-color #fff
  transform translateX(-100%)
  transition transform .3s
  @media (min-width point-s)
    padding-top 144px
  @media (min-width point-l)
    display none
  &::before
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 57px
    box-shadow 0 2px 10px rgba(0, 0, 0, 0.1)
    @media (min-width point-s)
      height 86px
  &--active
    transform none
  &__close
    position absolute
    top 14.5px
    left 20px
    width 28px
    height 28px
    background-color transparent
    background-image url(/images/template/svg-sprites/common.svg#header-navigation__close)
    background-repeat no-repeat
    background-position center
    background-size cover
    border none
    @media (min-width point-s)
      top 29px
  &__manager
    margin-y 32px
    padding 16px
    border 1px solid #EBEBEB
    border-radius 12px
  &__menu
    font-weight 300
  &__contacts
    margin-top 41px
    @media (min-width point-s)
      padding-left 18vw
  &__contacts-title
    font-size 14px
    line-height 20px
  &__phone
    margin-top 4px
    font-size 18px
    line-height 24px
  &__socials
    margin-top 16px
