include /blocks/menu/menu
include /blocks/manager-block/manager-block
include /blocks/link-icons/link-icons

-
  const catalog = [
    { name: 'Каталог золото', href: '#' },
    { name: 'Каталог серебро', href: '#' },
    { name: 'Каталог PREMIUM', href: '#' },
    { name: 'АЛЬКОР-ЭКСПЕРТ', href: '#' },
  ]
  const menu = [
    { name: 'Индивидуальное предложение', href: '#' },
    { name: 'Финансовые показатели', href: '#' },
    { name: 'Маркетинг и обучение', href: '#' },
    { name: 'Заказ упаковки', href: '#' },
    { name: 'Условия работы', href: '#' },
    { name: 'Рекламные материалы', href: '#' },
  ]
mixin headerNavigation(settings = {})
  div(class= classes('header-navigation', settings))&attributes(attributes)
    button(type='button').header-navigation__close
    +menu(catalog).header-menu.header-navigation__catalog
    +managerBlock({
      image: 'manager',
      title: 'Татьяна Милославская',
      contacts: [
        {
          title: 'Телефон',
          value: '+7 900 000-00-00'
        },
      ],
    }).header-navigation__manager
    +menu(menu).header-menu.header-navigation__menu
    .header-navigation__contacts
      .header-navigation__contacts-title Контакты производителя
      .header-navigation__phone +7 (4942) 398-000
      +linkIcons(['vk']).header-navigation__socials
